repositories/agents/leonobitech/1-appointment-agent/workflows-backup/Leraysi - Agente Calendario.json
{
  "name": "Leraysi - Agente Calendario",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"llm_output\": {\n    \"nombre_clienta\": \"Andrea Figueroa\",\n    \"email\": \"felixmanuelfigueroa@gmail.com\",\n    \"servicio\": [\"Alisado brasileño\"],\n    \"fecha_deseada\": \"2026-01-22\",\n    \"hora_deseada\": \"09:00\",\n    \"precio\": 60000\n  },\n  \"state\": {\n    \"row_id\": 73,\n    \"lead_id\": 210,\n    \"chatwoot_id\": 198,\n    \"chatwoot_inbox_id\": 2,\n    \"conversation_id\": 390,\n    \"nick_name\": \"Felix Figueroa\",\n    \"full_name\": \"Andrea Figueroa\",\n    \"phone\": \"+5491133851987\",\n    \"email\": \"felixmanuelfigueroa@gmail.com\",\n    \"channel\": \"whatsapp\",\n    \"country\": \"Argentina\",\n    \"tz\": \"-03:00\",\n    \"stage\": \"consulta\",\n    \"priority\": \"normal\",\n    \"servicio_interes\": \"Alisado brasileño\",\n    \"interests\": [],\n    \"foto_recibida\": true,\n    \"presupuesto_dado\": true,\n    \"turno_agendado\": false,\n    \"turno_fecha\": null,\n    \"sena_pagada\": false,\n    \"waiting_image\": false,\n    \"services_seen\": 2,\n    \"prices_asked\": 1,\n    \"deep_interest\": 3,\n    \"last_message\": \"Sí, quiero turno para el miércoles\",\n    \"last_message_id\": null,\n    \"last_activity_iso\": \"2026-01-19T14:30:00.000Z\",\n    \"email_ask_ts\": null,\n    \"fullname_ask_ts\": null,\n    \"image_analysis\": {\n      \"length\": \"largo\",\n      \"texture\": \"liso\",\n      \"complexity\": \"alta\",\n      \"condition\": \"buena\",\n      \"current_color\": \"negro\",\n      \"is_dyed\": false,\n      \"has_roots\": false\n    }\n  }\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        -176
      ],
      "id": "2db9689c-9a08-4172-ad0f-c47bc82ba8b8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// PARSE INPUT - Agente Calendario Leraysi\n// ============================================================================\n// Procesa y valida el input del Master AI Agent\n// COMBINA: llm_output (del LLM) + state (de Input Main)\n// Calcula duración y PRECIO basados en servicio + largo del cabello (determinístico)\n// ============================================================================\n\nconst raw = $input.first().json;\n\n// ============================================================================\n// PASO 1: EXTRAER LLM_OUTPUT Y STATE\n// ============================================================================\n// El tool puede enviar los datos de dos formas:\n// 1. Directo: { \"llm_output\": {...}, \"state\": {...} }\n// 2. Wrapped: { \"query\": { \"llm_output\": {...}, \"state\": {...} } }\n//\n// Soportamos ambos formatos para compatibilidad\n\n// Unwrap si viene dentro de \"query\"\nconst data = raw.query || raw;\n\n// Extraer llm_output (lo que el LLM extrajo del mensaje del cliente)\nconst llmOutput = typeof data.llm_output === 'string'\n  ? JSON.parse(data.llm_output)\n  : (data.llm_output || {});\n\nconst state = typeof data.state === 'string' ? JSON.parse(data.state) : (data.state || {});\n\n// ============================================================================\n// PASO 2: COMBINAR LLM_OUTPUT + STATE\n// ============================================================================\n// llmOutput tiene prioridad (datos frescos del mensaje)\n// State llena los campos que el LLM no puede extraer\n\nconst input = {\n  // === MODO Y ACCIÓN ===\n  // ParseInput solo pasa lo que la LLM envió (raw).\n  // RouteDecision (post-analyzer) decide el modo y acción definitivos.\n  modo: llmOutput.modo || null,\n  preferencia_horario: llmOutput.preferencia_horario || null,\n  accion: llmOutput.accion || null,\n\n  // === Del LLM_OUTPUT (lo que el LLM extrajo del mensaje) ===\n  nombre_clienta: llmOutput.full_name || llmOutput.nombre_clienta || state.full_name || state.nick_name,\n  servicio: llmOutput.servicio || (state.servicio_interes ? [state.servicio_interes] : []),\n  fecha_deseada: llmOutput.fecha_deseada || llmOutput.fecha,\n  // Extraer hora de fecha_deseada si viene en formato ISO (ej: \"2026-02-11T14:00:00\")\n  hora_deseada: llmOutput.hora_deseada || llmOutput.hora || (() => {\n    const fecha = llmOutput.fecha_deseada || llmOutput.fecha;\n    if (fecha && fecha.includes('T')) {\n      const timePart = fecha.split('T')[1];\n      if (timePart) {\n        return timePart.substring(0, 5); // \"14:00:00\" -> \"14:00\"\n      }\n    }\n    return null;\n  })(),\n  precio: llmOutput.precio || 0,\n  email: llmOutput.email || state.email || null,\n\n  // === Del STATE (datos que el LLM no puede ver en el userPrompt) ===\n  telefono: state.phone,\n  clienta_id: state.lead_id,\n  lead_id: state.lead_id,  // Alias para uso en tools\n  lead_row_id: state.row_id,\n  conversation_id: state.conversation_id,\n  image_analysis: state.image_analysis || null,\n\n  // Estado de turno existente (para reprogramación o agregar servicio)\n  turno_agendado: state.turno_agendado || false,\n  turno_fecha: state.turno_fecha || null,\n\n  // Para agregar servicio a turno existente\n  // Derivar de: boolean explícito, accion del LLM, o modo del LLM\n  agregar_a_turno_existente: state.agregar_a_turno_existente || llmOutput.agregar_a_turno_existente || llmOutput.accion === 'agregar_a_turno_existente' || llmOutput.modo === 'agregar_servicio' || false,\n  // turno_id: priorizar state (numérico), validar que LLM envíe numérico\n  turno_id_existente: state.odoo_turno_id || state.turno_id_existente || (() => {\n    const llmId = llmOutput.turno_id_existente;\n    // Solo aceptar si es numérico (evitar basura como \"turno_andrea_figueroa\")\n    if (llmId && !isNaN(Number(llmId))) return llmId;\n    return null;\n  })(),\n  turno_precio_existente: state.turno_precio_existente || llmOutput.turno_precio_existente || 0,\n\n  // Largo del cabello (solo para servicios de cabello, null para manicure/pedicure/etc)\n  largo_cabello_raw: state.image_analysis?.length || null\n};\n\n// ============================================================================\n// CONFIGURACIÓN DE SERVICIOS Y DURACIONES\n// ============================================================================\n// Los 15 servicios oficiales de Baserow (tabla 850 - ServiciosLeraysi)\n//\n// complejidad: FIJA por servicio (determina capacidad diaria del salón)\n//   - muy_compleja: máx 2/día\n//   - compleja: máx 3/día\n//   - media: máx 4/día\n//   - simple: máx 5/día\n//\n// requiere_largo: true = servicio de cabello (largo afecta duración)\n//                 false = servicio sin cabello (uñas, depilación)\n//\nconst SERVICIOS_CONFIG = {\n  // === CORTE (1 servicio) ===\n  'Corte mujer': { base_min: 60, complejidad: 'media', requiere_largo: true, precio_base: 8000 },\n\n  // === ALISADO (2 servicios) — muy_compleja con 3 fases ===\n  'Alisado brasileño': { base_min: 600, complejidad: 'muy_compleja', requiere_largo: true, precio_base: 45000, activo_inicio: 180, proceso: 300, activo_fin: 120 },\n  'Alisado keratina':  { base_min: 600, complejidad: 'muy_compleja', requiere_largo: true, precio_base: 55000, activo_inicio: 180, proceso: 300, activo_fin: 120 },\n\n  // === COLOR (4 servicios) — muy_compleja con 3 fases (excepto Tintura raíz) ===\n  'Mechas completas':  { base_min: 600, complejidad: 'muy_compleja', requiere_largo: true, precio_base: 35000, activo_inicio: 180, proceso: 300, activo_fin: 120 },\n  'Tintura raíz': { base_min: 60, complejidad: 'compleja', requiere_largo: true, precio_base: 15000 },\n  'Tintura completa':  { base_min: 600, complejidad: 'muy_compleja', requiere_largo: true, precio_base: 25000, activo_inicio: 180, proceso: 300, activo_fin: 120 },\n  'Balayage':          { base_min: 600, complejidad: 'muy_compleja', requiere_largo: true, precio_base: 50000, activo_inicio: 180, proceso: 300, activo_fin: 120 },\n\n  // === UÑAS (3 servicios) ===\n  'Manicura simple': { base_min: 120, complejidad: 'media', requiere_largo: false, precio_base: 5000 },\n  'Manicura semipermanente': { base_min: 180, complejidad: 'compleja', requiere_largo: false, precio_base: 8000 },\n  'Pedicura': { base_min: 120, complejidad: 'media', requiere_largo: false, precio_base: 6000 },\n\n  // === DEPILACIÓN (5 servicios) ===\n  'Depilación cera piernas': { base_min: 120, complejidad: 'media', requiere_largo: false, precio_base: 10000 },\n  'Depilación cera axilas': { base_min: 60, complejidad: 'simple', requiere_largo: false, precio_base: 4000 },\n  'Depilación cera bikini': { base_min: 60, complejidad: 'simple', requiere_largo: false, precio_base: 6000 },\n  'Depilación láser piernas': { base_min: 120, complejidad: 'media', requiere_largo: false, precio_base: 25000 },\n  'Depilación láser axilas': { base_min: 60, complejidad: 'simple', requiere_largo: false, precio_base: 12000 }\n};\n\n// Duración extra (aditiva) según largo del cabello\n// Solo aplica a servicios con requiere_largo: true\nconst DURACION_EXTRA_LARGO = {\n  'corto': 0,\n  'medio': 60,\n  'largo': 120,\n  'muy_largo': 120\n};\n\n// Mapeo largo_cabello → complejidad para servicios de cabello (máximo: compleja)\n// muy_compleja es EXCLUSIVA de los 5 tratamientos químicos (siempre, sin importar largo)\nconst COMPLEJIDAD_POR_LARGO = {\n  'corto': 'media',\n  'medio': 'compleja',\n  'largo': 'compleja',\n  'muy_largo': 'compleja'\n};\n\n// Multiplicador de precio según largo del cabello\n// Solo aplica a servicios con requiere_largo: true\n// corto = precio base, medio = +10%, largo = +20%\nconst PRECIO_MULTIPLICADOR_LARGO = {\n  'corto': 1.0,\n  'medio': 1.1,\n  'largo': 1.2,\n  'muy_largo': 1.2\n};\n\n// ============================================================================\n// HELPER: Verificar si algún servicio requiere largo de cabello\n// ============================================================================\nfunction algunServicioRequiereLargo(servicios) {\n  return servicios.some(srv => {\n    const config = SERVICIOS_CONFIG[srv];\n    // Si el servicio no está en config, asumimos que requiere largo (por defecto)\n    return config ? config.requiere_largo !== false : true;\n  });\n}\n\n// ============================================================================\n// VALIDACIÓN DE CAMPOS REQUERIDOS\n// ============================================================================\n// En modo consulta solo necesitamos servicio y fecha (aún no hay datos de clienta/precio)\nconst modoConsulta = input.modo === 'consultar_disponibilidad';\nconst camposRequeridos = modoConsulta\n  ? ['servicio', 'fecha_deseada']\n  : ['clienta_id', 'nombre_clienta', 'servicio', 'fecha_deseada'];\nconst camposFaltantes = camposRequeridos.filter(campo => !input[campo]);\n\nif (camposFaltantes.length > 0) {\n  throw new Error(`[ParseInput] Campos requeridos faltantes: ${camposFaltantes.join(', ')}`);\n}\n\n// ============================================================================\n// EXTRACCIÓN DE DATOS\n// ============================================================================\n\n// Datos de la clienta\nconst clienta_id = input.clienta_id;\nconst nombre_clienta = input.nombre_clienta;\nconst telefono = input.telefono;\nconst email = input.email || null;\n\n// Datos del turno\nconst servicio = Array.isArray(input.servicio) ? input.servicio : [input.servicio];\nconst fecha_deseada = input.fecha_deseada;\nconst hora_deseada = input.hora_deseada || null;\nconst precio = Number(input.precio) || 0;\n\n// IDs de contexto\nconst lead_row_id = input.lead_row_id || input.row_id;\nconst conversation_id = input.conversation_id || null;\n\n// Análisis de imagen (si existe)\nconst image_analysis = input.image_analysis || null;\n\n// Largo de cabello: solo aplica si algún servicio lo requiere\n// Para Manicure, Pedicure, Maquillaje → largo_cabello = null\n// Sin imagen → null (fallback a SERVICIOS_CONFIG defaults)\nconst serviciosArray = Array.isArray(input.servicio) ? input.servicio : [input.servicio];\nconst requiereLargo = algunServicioRequiereLargo(serviciosArray);\nconst largo_cabello = requiereLargo\n  ? (image_analysis?.length || input.largo_cabello_raw || null)\n  : null;\n\n// ============================================================================\n// CÁLCULO DE DURACIÓN ESTIMADA\n// ============================================================================\nfunction calcularDuracion(servicios, largo) {\n  let duracionTotal = 0;\n\n  for (const srv of servicios) {\n    const config = SERVICIOS_CONFIG[srv];\n    if (config) {\n      let duracionServicio = config.base_min;\n      // Solo agregar tiempo extra si el servicio requiere largo Y hay dato de largo\n      // NO aplica a muy_compleja (base_min 600 ya es el total real: 3h+5h+2h)\n      if (config.requiere_largo && largo && config.complejidad !== 'muy_compleja') {\n        duracionServicio += (DURACION_EXTRA_LARGO[largo] || 0);\n      }\n      duracionTotal += duracionServicio;\n    } else {\n      // Servicio no mapeado, usar 60 min por defecto\n      duracionTotal += 60;\n    }\n  }\n\n  // Redondear a múltiplos de 15 minutos\n  return Math.ceil(duracionTotal / 15) * 15;\n}\n\n// Determinar la complejidad más alta entre los servicios solicitados\n// Factor 1: complejidad individual del servicio (cabello: via COMPLEJIDAD_POR_LARGO, otros: fija)\n// Factor 2: cantidad de servicios (2 = mín compleja, 3+ = mín muy_compleja)\n// Resultado: MAX(individual_más_alta, floor_por_cantidad)\nfunction obtenerComplejidadMaxima(servicios, largo) {\n  const COMP_ORDER = { simple: 1, media: 2, compleja: 3, muy_compleja: 4 };\n  const ORDER_TO_COMP = { 1: 'simple', 2: 'media', 3: 'compleja', 4: 'muy_compleja' };\n\n  // Paso 1: Max complejidad individual (lógica existente)\n  const complejidades = servicios.map(srv => {\n    const config = SERVICIOS_CONFIG[srv];\n    if (!config) return 'media';\n    if (config.requiere_largo && largo && config.complejidad !== 'muy_compleja') {\n      return COMPLEJIDAD_POR_LARGO[largo] || config.complejidad;\n    }\n    return config.complejidad;\n  });\n\n  let maxIndividual = 'simple';\n  if (complejidades.includes('muy_compleja')) maxIndividual = 'muy_compleja';\n  else if (complejidades.includes('compleja')) maxIndividual = 'compleja';\n  else if (complejidades.includes('media')) maxIndividual = 'media';\n\n  // Paso 2: Floor por cantidad de servicios\n  // 1 servicio = sin boost, 2 = mín compleja, 3+ = mín muy_compleja\n  let floorPorCantidad = 'simple';\n  if (servicios.length >= 3) floorPorCantidad = 'muy_compleja';\n  else if (servicios.length >= 2) floorPorCantidad = 'compleja';\n\n  // Paso 3: Retornar el mayor entre individual y floor\n  const finalOrder = Math.max(COMP_ORDER[maxIndividual] || 2, COMP_ORDER[floorPorCantidad] || 1);\n  return ORDER_TO_COMP[finalOrder] || maxIndividual;\n}\n\n// ============================================================================\n// CÁLCULO DE PRECIO DETERMINÍSTICO\n// ============================================================================\n// Mismo patrón que duración: precio_base + ajuste por largo\n// Servicios de cabello: precio_base * multiplicador_largo\n// Servicios sin cabello: precio_base fijo\n// Si algún servicio no está en config → fallback al precio del LLM\nfunction calcularPrecio(servicios, largo) {\n  let precioTotal = 0;\n  for (const srv of servicios) {\n    const config = SERVICIOS_CONFIG[srv];\n    if (config && config.precio_base != null) {\n      let precioServicio = config.precio_base;\n      if (config.requiere_largo && largo) {\n        precioServicio = Math.round(config.precio_base * (PRECIO_MULTIPLICADOR_LARGO[largo] || 1.0));\n      }\n      precioTotal += precioServicio;\n    } else {\n      console.log(`[ParseInput] ⚠️ Servicio \"${srv}\" no encontrado en config, precio no calculable`);\n      return null;\n    }\n  }\n  return precioTotal;\n}\n\n// ============================================================================\n// DEFENSA: Filtrar servicio existente cuando agregar_a_turno_existente\n// ============================================================================\n// Si el LLM envía accidentalmente el servicio existente junto con el nuevo\n// (ej: [\"Manicura semipermanente\", \"Pedicura\"] cuando debería ser solo [\"Pedicura\"]),\n// la duración se duplica en AnalizarDisponibilidad (duracionExistente + duracionNueva\n// donde duracionNueva ya incluye el existente).\n// Solución: filtrar servicios que coincidan con servicio_interes del state.\nif (input.agregar_a_turno_existente && servicio.length > 1) {\n  const servicioExistente = (state.servicio_interes || '').toLowerCase().trim();\n  if (servicioExistente) {\n    const serviciosFiltrados = servicio.filter(\n      s => s.toLowerCase().trim() !== servicioExistente\n    );\n    // Solo filtrar si quedan servicios después (nunca dejar vacío)\n    if (serviciosFiltrados.length > 0 && serviciosFiltrados.length < servicio.length) {\n      console.log(`[ParseInput] 🛡️ DEFENSA agregar_servicio: filtrado \"${servicioExistente}\" del array. ` +\n                  `Original: [${servicio.join(', ')}] → Filtrado: [${serviciosFiltrados.join(', ')}]`);\n      servicio.length = 0;\n      serviciosFiltrados.forEach(s => servicio.push(s));\n    }\n  }\n}\n\nconst duracion_estimada = calcularDuracion(servicio, largo_cabello);\nconst complejidad_maxima = obtenerComplejidadMaxima(servicio, largo_cabello);\nconst servicio_detalle = servicio.join(' + ');\n\n// Precio determinístico: override sobre el precio del LLM\nconst precio_calculado = calcularPrecio(servicio, largo_cabello);\nconst precioFinal = precio_calculado !== null ? precio_calculado : precio;\nif (precio_calculado !== null && precio > 0 && precio_calculado !== precio) {\n  console.log(`[ParseInput] 🔧 Precio corregido: LLM=$${precio}, determinístico=$${precio_calculado}`);\n}\n\n// ============================================================================\n// GATE DETERMINÍSTICO: datos obligatorios para turno nuevo\n// ============================================================================\n// Si es turno nuevo y falta email o full_name → bloquear flujo.\n// Se fuerza modo \"consultar_disponibilidad\" para que SwitchModo rutee a\n// FormatearRespuestaOpciones, que detecta gate_bloqueado y devuelve\n// \"datos_faltantes\" al Master Agent.\n// Esto es código determinístico — imposible de bypassear por el LLM.\n\nconst esTurnoNuevo = !input.turno_agendado && !input.agregar_a_turno_existente;\nconst tieneFullName = !!(llmOutput.full_name || state.full_name);\nconst tieneEmail = !!email;\n\nlet gate_bloqueado = false;\nconst gate_datos_faltantes = [];\n\nif (esTurnoNuevo) {\n  if (!tieneFullName) gate_datos_faltantes.push('nombre completo');\n  if (!tieneEmail) gate_datos_faltantes.push('email');\n  gate_bloqueado = gate_datos_faltantes.length > 0;\n}\n\nif (gate_bloqueado) {\n  console.log(`[ParseInput] 🛡️ GATE BLOQUEADO: faltan ${gate_datos_faltantes.join(', ')}`);\n}\n\n// RouteDecision (post-analyzer) maneja gate_bloqueado y fuerza modo/accion.\n// ParseInput ya no necesita forzar modo — solo pasa datos.\n\n// ============================================================================\n// EXTRAER FASES DEL SERVICIO MUY_COMPLEJA (si aplica)\n// ============================================================================\n// Si algún servicio tiene estructura de 3 fases (activo_inicio + proceso + activo_fin),\n// extraer para que AnalizarDisponibilidad pueda modelar los bloques activos\nlet activo_inicio = null;\nlet proceso = null;\nlet activo_fin = null;\n\nconst servicioConFases = servicio.find(srv => {\n  const config = SERVICIOS_CONFIG[srv];\n  return config && config.activo_inicio != null;\n});\nif (servicioConFases) {\n  const config = SERVICIOS_CONFIG[servicioConFases];\n  activo_inicio = config.activo_inicio;\n  proceso = config.proceso;\n  activo_fin = config.activo_fin;\n}\n\n// ============================================================================\n// OUTPUT\n// ============================================================================\nreturn [{\n  json: {\n    // Datos de la clienta\n    clienta_id,\n    nombre_clienta,\n    telefono,\n    email,\n\n    // Datos del turno\n    servicio,\n    servicio_detalle,\n    fecha_deseada,\n    hora_deseada,\n    precio: precioFinal,\n    duracion_estimada,\n    complejidad_maxima,\n\n    // Fases para servicios muy_compleja (3 fases: activo_inicio, proceso, activo_fin)\n    activo_inicio,\n    proceso,\n    activo_fin,\n\n    // Análisis de imagen\n    image_analysis,\n    largo_cabello,\n\n    // IDs de contexto\n    lead_id: input.lead_id,\n    lead_row_id,\n    conversation_id,\n\n    // Estado de turno (para reprogramación)\n    turno_agendado: input.turno_agendado,\n    turno_fecha: input.turno_fecha,\n\n    // Para agregar servicio a turno existente\n    agregar_a_turno_existente: input.agregar_a_turno_existente,\n    turno_id_existente: input.turno_id_existente,\n    turno_precio_existente: input.turno_precio_existente,\n\n    // Modo de operación (raw de LLM, RouteDecision decide el definitivo)\n    modo: input.modo,\n    preferencia_horario: input.preferencia_horario,\n    accion: input.accion,\n\n    // GATE determinístico\n    gate_bloqueado,\n    gate_datos_faltantes,\n\n    // Metadata\n    received_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -176
      ],
      "id": "2a120cfa-c0a8-4070-8a45-289f08be6e67",
      "name": "ParseInput"
    },
    {
      "parameters": {
        "databaseId": 212,
        "tableId": 855,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8445,
                "operator": "date_after",
                "value": "={{ $now.format('yyyy-MM-dd') }}"
              },
              {
                "field": 8445,
                "operator": "date_before",
                "value": "={{ $now.plus({days: 30}).format('yyyy-MM-dd') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        192,
        -176
      ],
      "id": "580387c9-9d83-4d69-ac2b-afb7f53bc741",
      "name": "GetTurnosSemana",
      "alwaysOutputData": true,
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "=# Agente Calendario - Estilos Leraysi\n\nSos un agente ejecutor de tareas para el salón de belleza Estilos Leraysi.\n\n## Tu Rol\n\n**Ejecutás instrucciones predefinidas. No tomás decisiones.**\n\n- Todos los datos ya están procesados\n- La disponibilidad ya está calculada\n- Las alternativas ya están definidas\n- El mensaje para la clienta ya está armado\n\nTu trabajo es **seguir la sección TAREA al pie de la letra**.\n\n---\n\n## Tools Disponibles\n\n### `leraysi_crear_turno`\n\nCrea un turno en el sistema y genera link de pago MercadoPago.\n\n**Parámetros:**\n\n| Parámetro | Tipo | Requerido | Descripción |\n|-----------|------|-----------|-------------|\n| clienta | string | ✅ | Nombre completo |\n| telefono | string | ✅ | Teléfono con código país |\n| email | string | ✅ | Email de la clienta (para enviar confirmación y factura) |\n| servicio | string | ✅ | Código Odoo exacto (ej: corte_mujer, manicura_semipermanente, balayage, tintura_raiz). Usar el valor EXACTO del prompt |\n| servicio_detalle | string | ✅ | Descripción completa del servicio solicitado |\n| fecha_hora | string | ✅ | Formato \"YYYY-MM-DD HH:MM\" |\n| precio | number | ✅ | Precio total en ARS |\n| duracion_estimada | number | ✅ | Duración en minutos |\n| complejidad_maxima | string | ✅ | Complejidad: simple, media, compleja, muy_compleja |\n| lead_id | number | ✅ | ID del Lead en CRM (crítico para post-pago) |\n\n**Respuesta de la tool:**\n\n```json\n{\n  \"turnoId\": 123,\n  \"clienta\": \"María García\",\n  \"fecha_hora\": \"2025-01-29 10:00:00\",\n  \"servicio\": \"tratamiento\",\n  \"precio\": 45000,\n  \"sena\": 13500,\n  \"link_pago\": \"https://www.mercadopago.com.ar/checkout/v1/...\",\n  \"mp_preference_id\": \"123456789-...\",\n  \"estado\": \"pendiente_pago\",\n  \"message\": \"Turno creado para María García. Link de pago generado.\"\n}\n```\n\n---\n\n### `leraysi_reprogramar_turno`\n\nReprograma un turno existente a una nueva fecha/hora.\n\n**Comportamiento según estado:**\n- `pendiente_pago` → Cancela turno viejo + Crea nuevo turno con nuevo link MP\n- `confirmado` → Actualiza turno + Borra/crea evento calendario + Envía email\n\n**Parámetros:**\n\n| Parámetro | Tipo | Requerido | Descripción |\n|-----------|------|-----------|-------------|\n| lead_id | number | ✅ | ID del Lead (crm.lead) de la clienta |\n| nueva_fecha_hora | string | ✅ | Nueva fecha/hora en formato \"YYYY-MM-DD HH:MM\" |\n| motivo | string | ✅ | Motivo de la reprogramación |\n\n*Nota: La tool busca automáticamente el turno activo del lead.*\n\n**Respuesta de la tool (pendiente_pago):**\n\n```json\n{\n  \"turno_id_anterior\": 123,\n  \"turno_id_nuevo\": 456,\n  \"clienta\": \"María García\",\n  \"telefono\": \"+5491112345678\",\n  \"servicio\": \"tratamiento\",\n  \"fecha_hora_anterior\": \"2025-01-29 10:00:00\",\n  \"fecha_hora_nueva\": \"2025-01-30 14:00:00\",\n  \"estado_anterior\": \"pendiente_pago\",\n  \"acciones\": [\"Turno anterior cancelado\", \"Nuevo turno #456 creado\", \"Nuevo link de pago generado\"],\n  \"link_pago\": \"https://www.mercadopago.com.ar/checkout/v1/...\",\n  \"sena\": 13500,\n  \"message\": \"Turno reprogramado. Nuevo turno #456 para el jueves 30 de enero a las 14:00.\"\n}\n```\n\n**Respuesta de la tool (confirmado):**\n\n```json\n{\n  \"turno_id_anterior\": 123,\n  \"turno_id_nuevo\": null,\n  \"clienta\": \"María García\",\n  \"telefono\": \"+5491112345678\",\n  \"servicio\": \"tratamiento\",\n  \"fecha_hora_anterior\": \"2025-01-29 10:00:00\",\n  \"fecha_hora_nueva\": \"2025-01-30 14:00:00\",\n  \"estado_anterior\": \"confirmado\",\n  \"acciones\": [\"Fecha actualizada en turno\", \"1 evento(s) de calendario eliminado(s)\", \"Nuevo evento de calendario creado\", \"Email de notificación enviado\"],\n  \"calendar_accept_url\": \"https://leraysi.leonobitech.com/calendar/meeting/accept?token=abc123&id=456\",\n  \"message\": \"Turno reprogramado para el jueves 30 de enero a las 14:00.\"\n}\n```\n\n---\n\n### `leraysi_agregar_servicio_turno`\n\nAgrega un servicio adicional a un turno existente, calcula el nuevo precio total y regenera el link de pago con la seña diferencial.\n\n**Uso:** Cuando la clienta ya tiene turno y quiere agregar otro servicio. El horario puede cambiar si la duración combinada no cabe en el horario original (ej: agregar balayage = jornada completa 09:00-19:00).\n\n**Parámetros:**\n\n| Parámetro | Tipo | Requerido | Descripción |\n|-----------|------|-----------|-------------|\n| turno_id | number | ✅ | ID del turno existente en Odoo |\n| nuevo_servicio | string | ✅ | Código del servicio a agregar |\n| nuevo_servicio_detalle | string | ✅ | Descripción del nuevo servicio |\n| nuevo_precio | number | ✅ | Precio del nuevo servicio en ARS |\n| duracion_estimada | number | ✅ | Duración combinada en minutos (600 si muy_compleja) |\n| complejidad_maxima | string | ✅ | Complejidad máxima resultante: simple, media, compleja, muy_compleja |\n| nueva_hora | string | ❌ | Nueva hora inicio \"HH:MM\" (cuando el turno cambia de horario) |\n\n**Respuesta de la tool:**\n\n```json\n{\n  \"turnoId\": 123,\n  \"clienta\": \"María García\",\n  \"fecha_hora\": \"2025-01-29 09:00:00\",\n  \"servicios\": [\"Manicura semipermanente\", \"Balayage\"],\n  \"servicio_detalle\": \"Manicura semipermanente + Balayage\",\n  \"precio_total\": 68000,\n  \"duracion_estimada\": 600,\n  \"sena\": 20400,\n  \"link_pago\": \"https://www.mercadopago.com.ar/checkout/v1/...\",\n  \"mp_preference_id\": \"123456789-...\",\n  \"estado\": \"pendiente_pago\",\n  \"message\": \"Servicio agregado al turno. Nuevo total: $68.000. Link de pago actualizado.\"\n}\n```\n\n*Nota: La seña es diferencial — solo cobra la diferencia entre la seña total (30% del nuevo precio_total) y lo que ya había pagado.*\n\n---\n\n## Instrucciones de Ejecución\n\n### Si la TAREA dice \"FECHA DISPONIBLE\":\n\n1. **Llamar** a `leraysi_crear_turno` con los parámetros EXACTOS indicados\n2. **Esperar** la respuesta de la tool\n3. **Responder** con el JSON indicado, reemplazando los valores entre `{llaves}` con datos de la respuesta\n\n### Si la TAREA dice \"FECHA NO DISPONIBLE\":\n\n1. **NO** llamar ninguna tool\n2. **Copiar** el JSON indicado exactamente como está\n3. **Responder** solo con ese JSON\n\n### Si la TAREA dice \"REPROGRAMAR TURNO\":\n\n1. **Llamar** a `leraysi_reprogramar_turno` con los parámetros EXACTOS indicados\n2. **Esperar** la respuesta de la tool\n3. **Responder** con el JSON indicado, reemplazando los valores entre `{llaves}` con datos de la respuesta\n\n### Si la TAREA dice \"AGREGAR SERVICIO AL TURNO EXISTENTE\":\n\n1. **Llamar** a `leraysi_agregar_servicio_turno` con los parámetros EXACTOS indicados\n2. **Esperar** la respuesta de la tool\n3. **Responder** con el JSON indicado, reemplazando los valores entre `{llaves}` con datos de la respuesta\n\n---\n\n## Reglas Estrictas\n\n1. **UNA sola tool call** por solicitud\n2. **Usar parámetros EXACTOS** del prompt (no inventar ni modificar)\n3. **El lead_id es obligatorio** - sin él, el flujo post-pago falla\n4. **No agregar texto** antes o después del JSON de respuesta\n5. **No explicar** lo que vas a hacer - solo ejecutar\n\n---\n\n## Formato de Respuesta\n\nSiempre responder **únicamente** con un JSON válido:\n\n```json\n{\n  \"estado\": \"turno_creado\" | \"fecha_no_disponible\" | \"turno_reprogramado\" | \"servicio_agregado\",\n  ...resto de campos según TAREA\n}\n```\n\nNo incluir markdown, explicaciones ni texto adicional. Solo el JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        144
      ],
      "id": "7a0bfdd1-a30a-4331-b82e-1996f78636d3",
      "name": "Agente Calendario"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// PARSE AGENT RESPONSE - Agente Calendario Leraysi\n// ============================================================================\nconst input = $(\"AnalizarDisponibilidad\").first().json;\nconst buildPrompt = $(\"BuildAgentPrompt\").first().json;\nconst agentOutput = $input.first().json.output;\n\nfunction extractJSON(text) {\n  try {\n    return JSON.parse(text);\n  } catch (e) {}\n  let cleaned = text\n    .replace(/```json\\s*/gi, \"\")\n    .replace(/```\\s*/g, \"\")\n    .trim();\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {}\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      return JSON.parse(jsonMatch[0]);\n    } catch (e) {}\n  }\n  return {\n    estado: \"error\",\n    mensaje_para_clienta: \"Error procesando la solicitud de turno\",\n  };\n}\n\nconst llmResponse = extractJSON(agentOutput);\n\nconst ESTADO_A_ACCION = {\n  turno_creado: \"turno_creado\",\n  turno_adicional_creado: \"servicio_agregado\", // Rutea al mismo branch; IF_TurnoAdicional bifurca después\n  fecha_no_disponible: \"sin_disponibilidad\",\n  turno_reprogramado: \"turno_reprogramado\",\n  servicio_agregado: \"servicio_agregado\",\n  error: \"error\",\n};\nconst accion =\n  ESTADO_A_ACCION[llmResponse.estado] || llmResponse.estado || \"error\";\n\nlet resultado = {\n  clienta_id: input.clienta_id,\n  nombre_clienta: input.nombre_clienta,\n  telefono: input.telefono,\n  email: input.email || \"\",\n  lead_row_id: input.lead_row_id,\n  conversation_id: input.conversation_id || null,\n  precio: input.precio,\n  servicio: input.servicio,\n  servicio_detalle: input.servicio_detalle || \"\",\n  duracion_estimada: input.duracion_estimada || 60,\n  complejidad_maxima: input.complejidad_maxima || \"media\",\n  trabajadora: buildPrompt._precalculado?.trabajadora || input.turno_trabajadora_existente || 'Leraysi',\n  accion: accion,\n  mensaje_para_clienta: llmResponse.mensaje_para_clienta,\n  alternativas: llmResponse.alternativas || [],\n};\n\n// CASO: TURNO CREADO\nif (llmResponse.estado === \"turno_creado\") {\n  const mpPreferenceId =\n    llmResponse.mp_preference_id ||\n    llmResponse.link_pago?.match(/preference-id=([^&\\s]+)/)?.[1] ||\n    \"\";\n  const [fechaTurno, horaTurno] = (llmResponse.fecha_hora || \"\").split(\" \");\n  resultado = {\n    ...resultado,\n    fecha_turno: fechaTurno || input.fecha_solicitada,\n    hora_sugerida: horaTurno || input.hora_deseada || \"09:00\",\n    odoo_turno_id: llmResponse.turno_id,\n    mp_preference_id: mpPreferenceId,\n    link_pago: llmResponse.link_pago || \"\",\n    estado_turno: \"pendiente_pago\",\n    sena_monto: llmResponse.sena || Math.round((input.precio || 0) * 0.3),\n  };\n}\n\n// CASO: FECHA NO DISPONIBLE\nif (llmResponse.estado === \"fecha_no_disponible\") {\n  resultado = {\n    ...resultado,\n    fecha_solicitada: llmResponse.fecha_solicitada || input.fecha_solicitada,\n    motivo_no_disponible: llmResponse.motivo,\n  };\n}\n\n// CASO: TURNO REPROGRAMADO\nif (llmResponse.estado === \"turno_reprogramado\") {\n  const [fechaNueva, horaNueva] = (llmResponse.fecha_hora_nueva || \"\").split(\n    \" \",\n  );\n  const mpPreferenceId =\n    llmResponse.mp_preference_id ||\n    llmResponse.link_pago?.match(/preference-id=([^&\\s]+)/)?.[1] ||\n    \"\";\n  resultado = {\n    ...resultado,\n    odoo_turno_id: llmResponse.odoo_turno_id,\n    turno_id_anterior: llmResponse.turno_id_anterior,\n    turno_id_nuevo: llmResponse.turno_id_nuevo,\n    fecha_turno: fechaNueva,\n    hora_sugerida: horaNueva || \"09:00\",\n    fecha_hora_anterior: llmResponse.fecha_hora_anterior,\n    fecha_hora_nueva: llmResponse.fecha_hora_nueva,\n    mp_preference_id: mpPreferenceId,\n    link_pago: llmResponse.link_pago || null,\n    calendario_actualizado: true,\n    calendar_accept_url: llmResponse.calendar_accept_url || null,\n    motivo_reprogramacion: llmResponse.motivo || \"Solicitud de la clienta\",\n  };\n}\n\n// CASO: TURNO ADICIONAL CREADO (otra trabajadora, fila nueva en Baserow)\nif (llmResponse.estado === \"turno_adicional_creado\") {\n  const [fechaTurno, horaTurno] = (llmResponse.fecha_hora || \"\").split(\" \");\n  const mpPreferenceId =\n    llmResponse.mp_preference_id ||\n    llmResponse.link_pago?.match(/preference-id=([^&\\s]+)/)?.[1] ||\n    \"\";\n  // Solo el servicio nuevo (NO combinado con el existente)\n  const precioNuevo = Number(llmResponse.precio) || Number(input.precio) || 0;\n  resultado = {\n    ...resultado,\n    odoo_turno_id: llmResponse.turno_id,\n    // Para buscar el turno PADRE en Baserow (BuscarTurnoServicioAgregado filtra por odoo_turno_id)\n    odoo_turno_id_padre: llmResponse.turno_id_padre || buildPrompt._precalculado?.turno_id_padre || null,\n    turno_id_padre: llmResponse.turno_id_padre || buildPrompt._precalculado?.turno_id_padre || null,\n    fecha_turno: fechaTurno || input.fecha_solicitada,\n    hora_sugerida: horaTurno || input.hora_deseada || \"09:00\",\n    // Solo servicio nuevo (no combinado)\n    servicio: llmResponse.servicio || input.servicio,\n    servicio_detalle: llmResponse.servicio_detalle || input.servicio_detalle || \"\",\n    precio: precioNuevo,\n    duracion_estimada: llmResponse.duracion_estimada || input.duracion_estimada || 60,\n    complejidad_maxima: llmResponse.complejidad_maxima || input.complejidad_maxima || \"media\",\n    sena_monto: llmResponse.sena || Math.round(precioNuevo * 0.3),\n    mp_preference_id: mpPreferenceId,\n    link_pago: llmResponse.link_pago || \"\",\n    estado_turno: \"pendiente_pago\",\n    trabajadora: llmResponse.trabajadora || buildPrompt._precalculado?.trabajadora || \"Companera\",\n    // Datos del turno padre (para contexto)\n    turno_servicio_existente: input.turno_servicio_existente || \"\",\n    turno_trabajadora_existente: input.turno_trabajadora_existente || \"Leraysi\",\n    turno_precio_existente: input.turno_precio_existente || 0,\n    es_turno_adicional: true,\n    // Reubicación padre (Estrategia B: agregar JC a cortos existentes, misma trabajadora)\n    hora_servicio_reubicado: buildPrompt._precalculado?.hora_servicio_existente || null,\n    servicio_reubicado: buildPrompt._precalculado?.servicio_reubicado || false,\n    hora_original_padre: buildPrompt._precalculado?.hora_original || null,\n  };\n}\n\n// CASO: SERVICIO AGREGADO\nif (llmResponse.estado === \"servicio_agregado\") {\n  const [fechaTurno, horaTurno] = (llmResponse.fecha_hora || \"\").split(\" \");\n  const mpPreferenceId =\n    llmResponse.mp_preference_id ||\n    llmResponse.link_pago?.match(/preference-id=([^&\\s]+)/)?.[1] ||\n    \"\";\n  // Usar servicios_combinados del MCP tool (fuente más confiable, lee de Odoo)\n  // Fallback: reconstruir desde turno_servicio_existente + servicio nuevo\n  let servicioDetalleCombinado = \"\";\n  let serviciosArray = [];\n  if (llmResponse.servicios_combinados) {\n    servicioDetalleCombinado = llmResponse.servicios_combinados;\n    serviciosArray = servicioDetalleCombinado.split(\" + \").map(s => s.trim()).filter(Boolean);\n  } else {\n    const servicioExistente = input.turno_servicio_existente || \"\";\n    const serviciosInputArray = Array.isArray(input.servicio)\n      ? input.servicio\n      : [input.servicio];\n    const servicioExistenteNorm = servicioExistente.toLowerCase().trim();\n    const servicioNuevoRaw =\n      serviciosInputArray.find(\n        (s) => s && s.toLowerCase().trim() !== servicioExistenteNorm,\n      ) ||\n      serviciosInputArray[serviciosInputArray.length - 1] ||\n      \"\";\n    const servicioNuevo = servicioNuevoRaw\n      ? servicioNuevoRaw.charAt(0).toUpperCase() +\n        servicioNuevoRaw.slice(1).replace(/_/g, \" \")\n      : \"\";\n    serviciosArray = [];\n    if (servicioExistente) serviciosArray.push(servicioExistente);\n    if (\n      servicioNuevo &&\n      servicioNuevo.toLowerCase() !== servicioExistente.toLowerCase()\n    ) {\n      serviciosArray.push(servicioNuevo);\n    }\n    servicioDetalleCombinado = serviciosArray.join(\" + \");\n  }\n  const fechaTurnoFinal =\n    fechaTurno ||\n    (input.turno_fecha?.includes(\"T\")\n      ? input.turno_fecha.split(\"T\")[0]\n      : input.turno_fecha?.split(\" \")[0]) ||\n    \"\";\n  const horaTurnoFinal =\n    horaTurno ||\n    (input.turno_fecha?.includes(\"T\")\n      ? input.turno_fecha.split(\"T\")[1]?.slice(0, 5)\n      : input.turno_fecha?.split(\" \")[1]) ||\n    \"09:00\";\n  // Safety net: precio determinístico (ParseInput) sobre precio del LLM\n  const precioExDet = Number(input.turno_precio_existente) || 0;\n  const precioNuevoDet = Number(input.precio) || 0;\n  const precioTotalDet = precioExDet + precioNuevoDet;\n  const precioTotalFinal = precioTotalDet > 0 ? precioTotalDet : (llmResponse.precio_total || 0);\n  if (llmResponse.precio_total && precioTotalDet > 0 && llmResponse.precio_total !== precioTotalDet) {\n    console.log(`[ParseAgentResponse] 🔧 Precio servicio_agregado corregido: LLM=$${llmResponse.precio_total}, det=$${precioTotalDet}`);\n  }\n  resultado = {\n    ...resultado,\n    odoo_turno_id: llmResponse.turno_id,\n    fecha_turno: fechaTurnoFinal,\n    hora_sugerida: horaTurnoFinal,\n    servicio: serviciosArray,\n    servicio_detalle: servicioDetalleCombinado,\n    precio: precioTotalFinal,\n    duracion_estimada:\n      llmResponse.duracion_estimada || input.duracion_estimada || 60,\n    complejidad_maxima:\n      llmResponse.complejidad_maxima || input.complejidad_maxima || \"media\",\n    sena_monto:\n      llmResponse.sena || Math.round((precioTotalFinal || 0) * 0.3),\n    mp_preference_id: mpPreferenceId,\n    link_pago: llmResponse.link_pago || \"\",\n    estado_turno: \"pendiente_pago\",\n  };\n}\n\n// ── OVERRIDE: _precalculado.es_turno_adicional es la autoridad (no el LLM) ──\n// SIEMPRE que _precalculado marque turno adicional, forzar datos correctos:\n// - es_turno_adicional = true (para PATH A en PrepararServicioAgregadoBaserow)\n// - servicio/precio = solo el servicio NUEVO (el LLM contamina con datos combinados de la tool)\n// - hora = la del _precalculado (ventana de proceso), no la del LLM\nif (buildPrompt._precalculado?.es_turno_adicional === true) {\n  console.log(`[ParseAgentResponse] 🔧 Override turno adicional: forzando datos del servicio nuevo (LLM estado=\"${llmResponse.estado}\")`);\n  resultado.es_turno_adicional = true;\n\n  // Reset servicio/precio al servicio NUEVO solamente (LLM/tool devuelven combinados)\n  resultado.servicio = input.servicio;\n  resultado.servicio_detalle = input.servicio_detalle || '';\n  const _precioNuevoOverride = Number(input.precio) || 0;\n  resultado.precio = _precioNuevoOverride;\n  resultado.sena_monto = Math.round(_precioNuevoOverride * 0.3);\n  resultado.duracion_estimada = input.duracion_estimada || 60;\n  resultado.complejidad_maxima = input.complejidad_maxima || 'media';\n\n  // Hora: usar _precalculado (ventana de proceso real), no la del LLM\n  resultado.hora_sugerida = buildPrompt._precalculado?.hora || resultado.hora_sugerida;\n\n  // Propagar campos de reubicación\n  resultado.hora_servicio_reubicado = resultado.hora_servicio_reubicado || buildPrompt._precalculado?.hora_servicio_existente || null;\n  if (resultado.servicio_reubicado === undefined) {\n    resultado.servicio_reubicado = buildPrompt._precalculado?.servicio_reubicado || false;\n  }\n  resultado.hora_original_padre = resultado.hora_original_padre || buildPrompt._precalculado?.hora_original || null;\n\n  // Datos del turno padre\n  resultado.turno_id_padre = resultado.turno_id_padre || buildPrompt._precalculado?.turno_id_padre || null;\n  resultado.odoo_turno_id_padre = resultado.turno_id_padre;\n\n  // Trabajadora del _precalculado (más confiable que LLM)\n  resultado.trabajadora = buildPrompt._precalculado?.trabajadora || resultado.trabajadora || input.turno_trabajadora_existente || \"Leraysi\";\n}\n\n// Normalizar hora_sugerida a HH:MM (la LLM puede devolver \"15:00:00\" con segundos)\nif (resultado.hora_sugerida) {\n  resultado.hora_sugerida = resultado.hora_sugerida.split(':').slice(0, 2).join(':');\n}\n\nreturn [{ json: resultado }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        144
      ],
      "id": "eb50ba4d-0082-4e01-9495-0e3f87e2d4bb",
      "name": "ParseAgentResponse"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// BUILD AGENT PROMPT - Construye el User Message para Agente Calendario\n// ============================================================================\nconst data = $input.first().json;\n\nconst fechaSolicitadaRaw = data.fecha_solicitada || \"\";\nconst fechaSoloParte = fechaSolicitadaRaw.includes(\"T\")\n  ? fechaSolicitadaRaw.split(\"T\")[0]\n  : fechaSolicitadaRaw.split(\" \")[0];\nconst horaSolicitadaParte = fechaSolicitadaRaw.includes(\"T\")\n  ? fechaSolicitadaRaw.split(\"T\")[1]?.slice(0, 5)\n  : fechaSolicitadaRaw.split(\" \")[1]?.slice(0, 5);\n\nconst horaDeseada = horaSolicitadaParte || data.hora_deseada || \"09:00\";\nconst senaCalculada = Math.round((data.precio || 0) * 0.3);\nconst fechaHoraCompleta = `${fechaSoloParte} ${horaDeseada}`;\n\n// Mapeo display name → código Odoo (determinístico, no depender del LLM)\nconst DISPLAY_TO_CODE = {\n  'Corte mujer': 'corte_mujer',\n  'Alisado brasileño': 'alisado_brasileno',\n  'Alisado keratina': 'alisado_keratina',\n  'Mechas completas': 'mechas_completas',\n  'Tintura raíz': 'tintura_raiz',\n  'Tintura completa': 'tintura_completa',\n  'Balayage': 'balayage',\n  'Manicura simple': 'manicura_simple',\n  'Manicura semipermanente': 'manicura_semipermanente',\n  'Pedicura': 'pedicura',\n  'Depilación cera piernas': 'depilacion_cera_piernas',\n  'Depilación cera axilas': 'depilacion_cera_axilas',\n  'Depilación cera bikini': 'depilacion_cera_bikini',\n  'Depilación láser piernas': 'depilacion_laser_piernas',\n  'Depilación láser axilas': 'depilacion_laser_axilas',\n};\n// Precios base por servicio — safety net contra inconsistencia del LLM Master\n// ParseInput calcula precio desde SERVICIOS_CONFIG pero se contamina si el LLM\n// manda servicio/precio incorrectos. BuildAgentPrompt recalcula determinísticamente.\nconst SERVICIOS_PRECIO = {\n  'Corte mujer': { precio_base: 8000, requiere_largo: true },\n  'Alisado brasileño': { precio_base: 45000, requiere_largo: true },\n  'Alisado keratina': { precio_base: 55000, requiere_largo: true },\n  'Mechas completas': { precio_base: 35000, requiere_largo: true },\n  'Tintura raíz': { precio_base: 15000, requiere_largo: true },\n  'Tintura completa': { precio_base: 25000, requiere_largo: true },\n  'Balayage': { precio_base: 50000, requiere_largo: true },\n  'Manicura simple': { precio_base: 5000, requiere_largo: false },\n  'Manicura semipermanente': { precio_base: 8000, requiere_largo: false },\n  'Pedicura': { precio_base: 6000, requiere_largo: false },\n  'Depilación cera piernas': { precio_base: 10000, requiere_largo: false },\n  'Depilación cera axilas': { precio_base: 4000, requiere_largo: false },\n  'Depilación cera bikini': { precio_base: 6000, requiere_largo: false },\n  'Depilación láser piernas': { precio_base: 25000, requiere_largo: false },\n  'Depilación láser axilas': { precio_base: 12000, requiere_largo: false },\n};\nconst PRECIO_MULT_LARGO = { 'corto': 1.0, 'medio': 1.1, 'largo': 1.2, 'muy_largo': 1.2 };\n\nfunction calcularPrecioDet(servicioNombre, largoCabello) {\n  const config = SERVICIOS_PRECIO[servicioNombre];\n  if (!config) return null;\n  const mult = (config.requiere_largo && largoCabello) ? (PRECIO_MULT_LARGO[largoCabello] || 1.0) : 1.0;\n  return Math.round(config.precio_base * mult);\n}\n\n// Convertir servicio(s) de display name a código Odoo\nconst servicioRaw = Array.isArray(data.servicio) ? data.servicio[0] : data.servicio;\nconst servicioCodigo = DISPLAY_TO_CODE[servicioRaw] || servicioRaw || 'otro';\n\nconst formatearFechaHumana = (fechaStr) => {\n  if (!fechaStr) return \"fecha no especificada\";\n  const soloFecha = fechaStr.includes(\"T\")\n    ? fechaStr.split(\"T\")[0]\n    : fechaStr.split(\" \")[0];\n  const fecha = new Date(soloFecha + \"T12:00:00\");\n  if (isNaN(fecha.getTime())) return \"fecha invalida\";\n  const dias = [\n    \"domingo\",\n    \"lunes\",\n    \"martes\",\n    \"miercoles\",\n    \"jueves\",\n    \"viernes\",\n    \"sabado\",\n  ];\n  const meses = [\n    \"enero\",\n    \"febrero\",\n    \"marzo\",\n    \"abril\",\n    \"mayo\",\n    \"junio\",\n    \"julio\",\n    \"agosto\",\n    \"septiembre\",\n    \"octubre\",\n    \"noviembre\",\n    \"diciembre\",\n  ];\n  return `${dias[fecha.getDay()]} ${fecha.getDate()} de ${meses[fecha.getMonth()]}`;\n};\n\nconst fechaHumana = formatearFechaHumana(data.fecha_solicitada);\nconst servicioDisplay = data.servicio_detalle || data.servicio || \"servicio\";\n\nconst turnoExistente = data.turno_agendado === true;\nconst serviciosSolicitados = Array.isArray(data.servicio)\n  ? data.servicio.map((s) => s.toLowerCase().trim())\n  : [(data.servicio || \"\").toLowerCase().trim()];\n\nlet servicioTurnoExistente = null;\nif (data.turno_servicio_existente) {\n  servicioTurnoExistente =\n    typeof data.turno_servicio_existente === \"object\"\n      ? (data.turno_servicio_existente.value || \"\").toLowerCase().trim()\n      : data.turno_servicio_existente.toLowerCase().trim();\n}\n\nlet esReprogramacion = false;\nlet esAgregarServicio = false;\nlet esTurnoAdicional = false;\n\nconst turnoFechaExistente = data.turno_fecha\n  ? data.turno_fecha.includes(\"T\")\n    ? data.turno_fecha.split(\"T\")[0]\n    : data.turno_fecha.split(\" \")[0]\n  : null;\nconst turnoIdExistente = data.turno_id_existente || data.odoo_turno_id || null;\n\n// Detección explícita: priorizar flags del Master Agent\nif (data.agregar_a_turno_existente && turnoIdExistente) {\n  esAgregarServicio = true;\n} else if (data.accion === \"reprogramar\") {\n  esReprogramacion = true;\n} else if (turnoExistente) {\n  if (servicioTurnoExistente) {\n    const servicioExistenteNorm = servicioTurnoExistente.toLowerCase().trim();\n    const tieneServicioNuevo = serviciosSolicitados.some(\n      (s) =>\n        !s.includes(servicioExistenteNorm) &&\n        !servicioExistenteNorm.includes(s),\n    );\n    const serviciosCoinciden = !tieneServicioNuevo;\n    const fechasCoinciden =\n      turnoFechaExistente &&\n      fechaSoloParte &&\n      turnoFechaExistente === fechaSoloParte;\n    if (serviciosCoinciden) esReprogramacion = true;\n    else if (!serviciosCoinciden && fechasCoinciden && turnoIdExistente)\n      esAgregarServicio = true;\n    else esTurnoAdicional = true;\n  } else {\n    esTurnoAdicional = true;\n  }\n}\n\n// Complejidades para cálculos (scope global, usadas en instruccionTarea y _precalculado)\nconst _compNueva = data.complejidad_maxima || \"media\";\nconst _compExistente = data.turno_complejidad_existente || \"media\";\n\n// Variables de agregar servicio — scope global para instruccionTarea Y _precalculado\nconst precioExistente = data.turno_precio_existente || 0;\nconst _serviciosArray = Array.isArray(data.servicio) ? data.servicio : [data.servicio];\nconst _servicioExistenteNorm = (data.turno_servicio_existente || \"\").toLowerCase().trim();\nconst servicioNuevo = _serviciosArray.find(\n  (s) => s && s.toLowerCase().trim() !== _servicioExistenteNorm\n) || _serviciosArray[_serviciosArray.length - 1] || \"otro\";\n// SAFETY NET: precio del servicio nuevo calculado determinísticamente\nconst _precioDet = calcularPrecioDet(servicioNuevo, data.largo_cabello);\nconst precioNuevo = esAgregarServicio\n  ? (_precioDet !== null ? _precioDet : (data.precio || 0))\n  : (data.precio || 0);\n\nlet instruccionTarea = \"\";\nlet jsonRespuestaEsperada = \"\";\n\nif (esReprogramacion && data.fecha_disponible) {\n  const mensajeClientaReprogramado = `Listo ${data.nombre_clienta || \"reina\"}! Tu turno fue reprogramado para el ${fechaHumana} a las ${horaDeseada}. Te enviamos un email de confirmacion.`;\n  instruccionTarea = `## REPROGRAMAR TURNO\\n\\n### PASO 1: Llamar a la tool \\`leraysi_reprogramar_turno\\`\\n\\nUsar EXACTAMENTE estos parametros:\\n\\n\\`\\`\\`json\\n{\\n  \"lead_id\": ${data.lead_id || \"null\"},\\n  \"nueva_fecha_hora\": \"${fechaHoraCompleta}\",\\n  \"motivo\": \"Solicitud de la clienta\"\\n}\\n\\`\\`\\`\\n\\n### PASO 2: Despues de llamar la tool, responder con este JSON\\n\\nReemplazar los valores {ENTRE_LLAVES} con los datos de la respuesta de la tool:\\n\\n\\`\\`\\`json\\n{\\n  \"estado\": \"turno_reprogramado\",\\n  \"odoo_turno_id\": {turno_id_nuevo de la respuesta si existe, sino turno_id_anterior},\\n  \"turno_id_anterior\": {turno_id_anterior de la respuesta},\\n  \"turno_id_nuevo\": {turno_id_nuevo de la respuesta o null},\\n  \"lead_id\": ${data.lead_id || \"null\"},\\n  \"fecha_hora_anterior\": \"{fecha_hora_anterior de la respuesta}\",\\n  \"fecha_hora_nueva\": \"${fechaHoraCompleta}\",\\n  \"servicio\": \"${servicioCodigo}\",\\n  \"link_pago\": \"{link_pago de la respuesta si existe, o null}\",\\n  \"mp_preference_id\": \"{mp_preference_id de la respuesta si existe, o null}\",\\n  \"calendar_accept_url\": \"{calendar_accept_url de la respuesta si existe, o null}\",\\n  \"mensaje_para_clienta\": \"${mensajeClientaReprogramado}\"\\n}\\n\\`\\`\\``;\n} else if (esAgregarServicio && data.fecha_disponible) {\n  // Detectar si la opción elegida es turno adicional (otra trabajadora, fila nueva)\n  const opcionElegida = (data.opciones || data.slots_recomendados || [])[0];\n  const trabajadoraExistente = (data.turno_trabajadora_existente || 'Leraysi').toLowerCase().trim();\n  const trabajadoraOpcion = (opcionElegida?.trabajadora || '').toLowerCase().trim();\n  const _esTurnoAdicionalDetectado = opcionElegida?.es_turno_adicional === true ||\n    (trabajadoraOpcion && trabajadoraExistente && trabajadoraOpcion !== trabajadoraExistente);\n  // Jornada completa (existente O nuevo): SIEMPRE turno adicional (fila nueva).\n  // El servicio corto se absorbe en la ventana de proceso y queda invisible si no tiene su propia fila.\n  const forzarTurnoAdicional = _compExistente === \"muy_compleja\" || _compNueva === \"muy_compleja\";\n  const esTurnoAdicionalFlag = _esTurnoAdicionalDetectado || forzarTurnoAdicional;\n\n  // precioExistente, precioNuevo, servicioNuevo ya en scope global\n  const servicioNuevoCodigo = DISPLAY_TO_CODE[servicioNuevo] || servicioNuevo;\n  const servicioExistenteDisplay = data.turno_servicio_existente || \"servicio existente\";\n\n  if (esTurnoAdicionalFlag && _esTurnoAdicionalDetectado) {\n    // ── TURNO ADICIONAL: OTRA TRABAJADORA hace el servicio nuevo ──\n    // Usar leraysi_crear_turno (nuevo registro Odoo justificado + fila nueva Baserow)\n    const senaServicioNuevo = Math.round(precioNuevo * 0.3);\n    const trabajadoraAdicional = opcionElegida?.trabajadora || 'Companera';\n    const horaInternaSlot = opcionElegida?.hora_inicio || horaDeseada;\n    const fechaHoraInterna = `${fechaSoloParte} ${horaInternaSlot}`;\n    const esJornadaCompleta = data.turno_complejidad_existente === 'muy_compleja';\n    const horaClienteFacing = esJornadaCompleta ? (data.turno_hora_original || horaDeseada) : horaInternaSlot;\n    const mensajeClientaTurnoAdicional = `Listo ${data.nombre_clienta || \"reina\"}! Agregamos ${servicioNuevo.toLowerCase()} a tu visita del ${fechaHumana} a las ${horaClienteFacing}. Sena: $${senaServicioNuevo.toLocaleString(\"es-AR\")}. {LINK_PAGO_MSG}`;\n    instruccionTarea = `## TURNO ADICIONAL — SERVICIO CON OTRA TRABAJADORA\\n\\nLa clienta ya tiene turno de ${servicioExistenteDisplay} con ${data.turno_trabajadora_existente || 'Leraysi'}. El nuevo servicio lo hace ${trabajadoraAdicional}.\\n\\n### PASO 1: Llamar a la tool \\`leraysi_crear_turno\\`\\n\\nUsar EXACTAMENTE estos parametros:\\n\\n\\`\\`\\`json\\n{\\n  \"clienta\": \"${data.nombre_clienta || \"\"}\",\\n  \"telefono\": \"${data.telefono || \"\"}\",\\n  \"servicio\": \"${servicioNuevoCodigo}\",\\n  \"fecha_hora\": \"${fechaHoraInterna}\",\\n  \"precio\": ${precioNuevo},\\n  \"duracion_estimada\": ${data.duracion_estimada || 60},\\n  \"complejidad_maxima\": \"${data.complejidad_maxima || \"media\"}\",\\n  \"lead_id\": ${data.lead_id || \"null\"},\\n  \"es_turno_adicional\": true${data.email ? `,\\n  \"email\": \"${data.email}\"` : \"\"}${`,\\n  \"servicio_detalle\": \"${servicioNuevo}\"`}\\n}\\n\\`\\`\\`\\n\\n### PASO 2: Despues de llamar la tool, responder con este JSON\\n\\n\\`\\`\\`json\\n{\\n  \"estado\": \"turno_adicional_creado\",\\n  \"turno_id\": {turnoId de la respuesta},\\n  \"turno_id_padre\": ${turnoIdExistente},\\n  \"lead_id\": ${data.lead_id || \"null\"},\\n  \"fecha_hora\": \"${fechaHoraInterna}\",\\n  \"servicio\": \"${servicioNuevoCodigo}\",\\n  \"servicio_detalle\": \"${servicioNuevo}\",\\n  \"trabajadora\": \"${trabajadoraAdicional}\",\\n  \"precio\": ${precioNuevo},\\n  \"duracion_estimada\": ${data.duracion_estimada || 60},\\n  \"complejidad_maxima\": \"${data.complejidad_maxima || \"media\"}\",\\n  \"sena\": {sena de la respuesta},\\n  \"link_pago\": \"{link_pago de la respuesta}\",\\n  \"mp_preference_id\": \"{mp_preference_id de la respuesta}\",\\n  \"mensaje_para_clienta\": \"${mensajeClientaTurnoAdicional}\"\\n}\\n\\`\\`\\``;\n  } else if (esTurnoAdicionalFlag && !_esTurnoAdicionalDetectado) {\n    // ── MISMA TRABAJADORA + JC: agregar servicio al turno Odoo existente ──\n    // Usar leraysi_agregar_servicio_turno (no crear phantom en Odoo)\n    // Baserow: fila nueva (via es_turno_adicional en _precalculado)\n    const senaServicioNuevo = Math.round(precioNuevo * 0.3);\n    const trabajadoraMisma = opcionElegida?.trabajadora || data.turno_trabajadora_existente || 'Leraysi';\n    const horaInternaSlot = opcionElegida?.hora_inicio || horaDeseada;\n    const fechaHoraInterna = `${fechaSoloParte} ${horaInternaSlot}`;\n    const horaClienteFacing = data.turno_hora_original || horaDeseada;\n    const mensajeClientaJC = `Listo ${data.nombre_clienta || \"reina\"}! Agregamos ${servicioNuevo.toLowerCase()} a tu visita del ${fechaHumana} a las ${horaClienteFacing}. Sena: $${senaServicioNuevo.toLocaleString(\"es-AR\")}. {LINK_PAGO_MSG}`;\n    instruccionTarea = `## AGREGAR SERVICIO — MISMA TRABAJADORA (JORNADA COMPLETA)\\n\\nLa clienta ya tiene turno de ${servicioExistenteDisplay} con ${trabajadoraMisma}. Agregamos ${servicioNuevo} al mismo turno.\\n\\n### PASO 1: Llamar a la tool \\`leraysi_agregar_servicio_turno\\`\\n\\nUsar EXACTAMENTE estos parametros:\\n\\n\\`\\`\\`json\\n{\\n  \"turno_id\": ${turnoIdExistente},\\n  \"nuevo_servicio\": \"${servicioNuevoCodigo}\",\\n  \"nuevo_servicio_detalle\": \"${servicioNuevo}\",\\n  \"nuevo_precio\": ${precioNuevo},\\n  \"duracion_estimada\": ${data.duracion_estimada || 60},\\n  \"complejidad_maxima\": \"${data.complejidad_maxima || \"media\"}\",\\n  \"nueva_hora\": \"${horaInternaSlot}\"\\n}\\n\\`\\`\\`\\n\\n### PASO 2: Despues de llamar la tool, responder con este JSON\\n\\n\\`\\`\\`json\\n{\\n  \"estado\": \"turno_adicional_creado\",\\n  \"turno_id\": ${turnoIdExistente},\\n  \"turno_id_padre\": ${turnoIdExistente},\\n  \"lead_id\": ${data.lead_id || \"null\"},\\n  \"fecha_hora\": \"${fechaHoraInterna}\",\\n  \"servicio\": \"${servicioNuevoCodigo}\",\\n  \"servicio_detalle\": \"${servicioNuevo}\",\\n  \"trabajadora\": \"${trabajadoraMisma}\",\\n  \"precio\": ${precioNuevo},\\n  \"duracion_estimada\": ${data.duracion_estimada || 60},\\n  \"complejidad_maxima\": \"${data.complejidad_maxima || \"media\"}\",\\n  \"sena\": {sena de la respuesta},\\n  \"link_pago\": \"{link_pago de la respuesta}\",\\n  \"mp_preference_id\": \"{mp_preference_id de la respuesta}\",\\n  \"mensaje_para_clienta\": \"${mensajeClientaJC}\"\\n}\\n\\`\\`\\``;\n  } else {\n    // ── AGREGAR SERVICIO MISMA TRABAJADORA: bloque combinado (UPDATE fila existente) ──\n    const precioTotal = precioExistente + precioNuevo;\n    const senaTotalCalculada = Math.round(precioTotal * 0.3);\n    const senaPagadaExistente = data.turno_sena_pagada || Math.round(precioExistente * 0.3);\n    const senaDiferencial = senaTotalCalculada - senaPagadaExistente;\n    const duracionExistente = data.turno_duracion_existente || 0;\n    const duracionNueva = data.duracion_estimada || 60;\n    const duracionCombinada = (_compNueva === \"muy_compleja\" || _compExistente === \"muy_compleja\")\n      ? 600 : duracionExistente + duracionNueva;\n    const COMPLEJIDAD_ORDER = { simple: 1, media: 2, compleja: 3, muy_compleja: 4 };\n    const ORDER_TO_COMP = { 1: 'simple', 2: 'media', 3: 'compleja', 4: 'muy_compleja' };\n    const complejidadExistente = data.turno_complejidad_existente || \"media\";\n    const complejidadNueva = data.complejidad_maxima || \"media\";\n    const _existSvcs = (data.turno_servicio_existente || \"\").split(\" + \").filter(s => s.trim());\n    const _newSvcs = Array.isArray(data.servicio) ? data.servicio : [data.servicio].filter(Boolean);\n    const _totalCount = _existSvcs.length + _newSvcs.length;\n    let _floorComp = 'simple';\n    if (_totalCount >= 3) _floorComp = 'muy_compleja';\n    else if (_totalCount >= 2) _floorComp = 'compleja';\n    const complejidadCombinada = ORDER_TO_COMP[Math.max(\n      COMPLEJIDAD_ORDER[complejidadExistente] || 2,\n      COMPLEJIDAD_ORDER[complejidadNueva] || 2,\n      COMPLEJIDAD_ORDER[_floorComp] || 1\n    )] || \"media\";\n    const serviciosCombinados = `${servicioExistenteDisplay} + ${servicioNuevo}`;\n    const mensajeClientaAgregado = `Listo ${data.nombre_clienta || \"reina\"}! Actualice tu turno del ${fechaHumana} a las ${horaDeseada}. Ahora tenes: ${serviciosCombinados}. Total: $${precioTotal.toLocaleString(\"es-AR\")}. Sena adicional a pagar: $${senaDiferencial.toLocaleString(\"es-AR\")}. {LINK_PAGO_MSG}`;\n    instruccionTarea = `## AGREGAR SERVICIO AL TURNO EXISTENTE\\n\\n### PASO 1: Llamar a la tool \\`leraysi_agregar_servicio_turno\\`\\n\\nUsar EXACTAMENTE estos parametros:\\n\\n\\`\\`\\`json\\n{\\n  \"turno_id\": ${turnoIdExistente},\\n  \"nuevo_servicio\": \"${servicioNuevoCodigo}\",\\n  \"nuevo_servicio_detalle\": \"${servicioNuevo}\",\\n  \"nuevo_precio\": ${precioNuevo},\\n  \"duracion_estimada\": ${duracionCombinada},\\n  \"complejidad_maxima\": \"${complejidadCombinada}\",\\n  \"nueva_hora\": \"${horaDeseada}\"\\n}\\n\\`\\`\\`\\n\\n### PASO 2: Despues de llamar la tool, responder con este JSON\\n\\n\\`\\`\\`json\\n{\\n  \"estado\": \"servicio_agregado\",\\n  \"turno_id\": ${turnoIdExistente},\\n  \"lead_id\": ${data.lead_id || \"null\"},\\n  \"fecha_hora\": \"${fechaHoraCompleta}\",\\n  \"servicios_combinados\": \"{servicio_detalle de la respuesta}\",\\n  \"precio_total\": {precio_total de la respuesta},\\n  \"duracion_estimada\": ${duracionCombinada},\\n  \"complejidad_maxima\": \"${complejidadCombinada}\",\\n  \"sena\": {sena de la respuesta},\\n  \"link_pago\": \"{link_pago de la respuesta}\",\\n  \"mp_preference_id\": \"{mp_preference_id de la respuesta}\",\\n  \"mensaje_para_clienta\": \"${mensajeClientaAgregado}\"\\n}\\n\\`\\`\\``;\n  }\n} else if (data.fecha_disponible) {\n  const mensajeClientaTemplate = `Listo ${data.nombre_clienta || \"reina\"}! Tu turno de ${servicioDisplay.toLowerCase()} esta reservado para el ${fechaHumana} a las ${horaDeseada}. Para confirmarlo, paga la sena de $${senaCalculada.toLocaleString(\"es-AR\")} en este link: {LINK_PAGO}. Tenes 15 minutos para abonar, despues el link expira y se libera el turno.`;\n  instruccionTarea = `## FECHA DISPONIBLE - CREAR TURNO\\n\\n### PASO 1: Llamar a la tool \\`leraysi_crear_turno\\`\\n\\nUsar EXACTAMENTE estos parametros:\\n\\n\\`\\`\\`json\\n{\\n  \"clienta\": \"${data.nombre_clienta || \"\"}\",\\n  \"telefono\": \"${data.telefono || \"\"}\",\\n  \"servicio\": \"${servicioCodigo}\",\\n  \"fecha_hora\": \"${fechaHoraCompleta}\",\\n  \"precio\": ${data.precio || 0},\\n  \"duracion_estimada\": ${data.duracion_estimada || 60},\\n  \"complejidad_maxima\": \"${data.complejidad_maxima || \"media\"}\",\\n  \"lead_id\": ${data.lead_id || \"null\"}${data.email ? `,\\n  \"email\": \"${data.email}\"` : \"\"}${data.servicio_detalle ? `,\\n  \"servicio_detalle\": \"${data.servicio_detalle}\"` : \"\"}\\n}\\n\\`\\`\\`\\n\\n### PASO 2: Despues de llamar la tool, responder con este JSON\\n\\n\\`\\`\\`json\\n{\\n  \"estado\": \"turno_creado\",\\n  \"turno_id\": {turnoId de la respuesta},\\n  \"lead_id\": ${data.lead_id || \"null\"},\\n  \"fecha_hora\": \"${fechaHoraCompleta}\",\\n  \"servicio\": \"${servicioCodigo}\",\\n  \"servicio_detalle\": \"${servicioDisplay}\",\\n  \"precio\": ${data.precio || 0},\\n  \"duracion_estimada\": ${data.duracion_estimada || 60},\\n  \"complejidad_maxima\": \"${data.complejidad_maxima || \"media\"}\",\\n  \"sena\": {sena de la respuesta},\\n  \"link_pago\": \"{link_pago de la respuesta}\",\\n  \"mp_preference_id\": \"{mp_preference_id de la respuesta}\",\\n  \"mensaje_para_clienta\": \"${mensajeClientaTemplate}\"\\n}\\n\\`\\`\\`\\n\\n**IMPORTANTE:** En mensaje_para_clienta, reemplazar {LINK_PAGO} con el link_pago real de la respuesta.`;\n} else {\n  const alternativasTexto =\n    data.alternativas?.length > 0\n      ? data.alternativas.map((a) => `${a.nombre_dia} ${a.fecha}`).join(\", \")\n      : \"No hay disponibilidad esta semana\";\n  const alternativasArray =\n    data.alternativas?.map((a) => `\"${a.nombre_dia} ${a.fecha}\"`) || [];\n  const mensajeClientaNoDisponible = `Disculpa, el ${fechaHumana} no tenemos disponibilidad (${(data.motivo_no_disponible || \"agenda completa\").toLowerCase()}). Te puedo ofrecer: ${alternativasTexto}. Cual te queda mejor?`;\n  instruccionTarea = `## FECHA NO DISPONIBLE\\n\\n**NO llamar ninguna tool.**\\n\\nResponder UNICAMENTE con este JSON:\\n\\n\\`\\`\\`json\\n{\\n  \"estado\": \"fecha_no_disponible\",\\n  \"fecha_solicitada\": \"${data.fecha_solicitada}\",\\n  \"motivo\": \"${data.motivo_no_disponible || \"Sin disponibilidad\"}\",\\n  \"alternativas\": [${alternativasArray.join(\", \")}],\\n  \"mensaje_para_clienta\": \"${mensajeClientaNoDisponible}\"\\n}\\n\\`\\`\\``;\n}\n\nconst userMessage = `# SOLICITUD DE TURNO - Estilos Leraysi\\n\\n## Datos de la Solicitud\\n\\n| Campo | Valor |\\n|-------|-------|\\n| **Clienta** | ${data.nombre_clienta || \"No proporcionado\"} |\\n| **Telefono** | ${data.telefono || \"No proporcionado\"} |\\n| **Email** | ${data.email || \"No proporcionado\"} |\\n| **Lead ID** | ${data.lead_id || \"N/A\"} |\\n| **Servicio** | ${servicioDisplay} |\\n| **Complejidad** | ${data.complejidad_maxima || \"media\"} |\\n| **Duracion** | ${data.duracion_estimada || 60} min |\\n| **Precio** | $${(data.precio || 0).toLocaleString(\"es-AR\")} |\\n| **Sena (30%)** | $${senaCalculada.toLocaleString(\"es-AR\")} |\\n| **Fecha solicitada** | ${data.fecha_solicitada} (${fechaHumana}) |\\n| **Hora** | ${horaDeseada} |\\n| **Disponibilidad** | ${data.fecha_disponible ? \"DISPONIBLE\" : \"NO DISPONIBLE\"} |\\n\\n## Disponibilidad de la Semana\\n\\n${data.resumen_disponibilidad || \"No disponible\"}\\n\\n---\\n\\n${instruccionTarea}`;\n\nreturn [\n  {\n    json: {\n      ...data,\n      userMessage,\n      _precalculado: (() => {\n        // Detectar turno adicional para usar valores SOLO del servicio nuevo\n        const _opcion = (data.opciones || data.slots_recomendados || [])[0];\n        const _trabExist = (data.turno_trabajadora_existente || 'Leraysi').toLowerCase().trim();\n        const _trabOpcion = (_opcion?.trabajadora || '').toLowerCase().trim();\n        const _forzarAdicional = _compExistente === \"muy_compleja\" || _compNueva === \"muy_compleja\";\n        const _esTurnoAdicional = esAgregarServicio && (\n          _forzarAdicional ||\n          _opcion?.es_turno_adicional === true ||\n          (_trabOpcion && _trabExist && _trabOpcion !== _trabExist)\n        );\n\n        if (_esTurnoAdicional) {\n          // TURNO ADICIONAL: hora_inicio del slot elegido (09:00 para JC), sino hora_deseada\n          const _horaSlot = _opcion?.hora_inicio || horaDeseada;\n          return {\n            hora: _horaSlot,\n            duracion_estimada: data.duracion_estimada || 60,\n            complejidad_maxima: data.complejidad_maxima || \"media\",\n            sena: Math.round(precioNuevo * 0.3),\n            fecha_hora_completa: `${fechaSoloParte} ${_horaSlot}`,\n            fecha_humana: fechaHumana,\n            servicio_display: servicioDisplay,\n            trabajadora: _opcion?.trabajadora || 'Companera',\n            es_turno_adicional: true,\n            turno_id_padre: turnoIdExistente,\n            // Reubicación padre (Estrategia B: agregar JC a cortos existentes)\n            hora_servicio_existente: _opcion?.hora_servicio_existente || null,\n            servicio_reubicado: _opcion?.servicio_reubicado || false,\n            hora_original: _opcion?.hora_original || null,\n          };\n        }\n\n        // AGREGAR SERVICIO misma trabajadora o TURNO NUEVO/REPROGRAMAR\n        return {\n          hora: horaDeseada,\n          duracion_estimada: esAgregarServicio\n            ? ((_compNueva === \"muy_compleja\" || _compExistente === \"muy_compleja\") ? 600 : (data.turno_duracion_existente || 0) + (data.duracion_estimada || 60))\n            : (data.duracion_estimada || 60),\n          complejidad_maxima: esAgregarServicio\n            ? (() => {\n                const ORD = { simple: 1, media: 2, compleja: 3, muy_compleja: 4 };\n                const ORD_R = { 1: 'simple', 2: 'media', 3: 'compleja', 4: 'muy_compleja' };\n                const ex = data.turno_complejidad_existente || \"media\";\n                const nw = data.complejidad_maxima || \"media\";\n                const eSvcs = (data.turno_servicio_existente || \"\").split(\" + \").filter(s => s.trim());\n                const nSvcs = Array.isArray(data.servicio) ? data.servicio : [data.servicio].filter(Boolean);\n                const tot = eSvcs.length + nSvcs.length;\n                let fl = 'simple';\n                if (tot >= 3) fl = 'muy_compleja';\n                else if (tot >= 2) fl = 'compleja';\n                return ORD_R[Math.max(ORD[ex] || 2, ORD[nw] || 2, ORD[fl] || 1)] || \"media\";\n              })()\n            : (data.complejidad_maxima || \"media\"),\n          sena: esAgregarServicio\n            ? Math.round((precioExistente + precioNuevo) * 0.3)\n            : senaCalculada,\n          fecha_hora_completa: fechaHoraCompleta,\n          fecha_humana: fechaHumana,\n          servicio_display: servicioDisplay,\n          trabajadora: (data.opciones || data.slots_recomendados || [])[0]?.trabajadora || data.turno_trabajadora_existente || 'Leraysi',\n        };\n      })(),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        144
      ],
      "id": "eef5c39a-add5-4bcc-83e9-24dcae6526b8",
      "name": "BuildAgentPrompt"
    },
    {
      "parameters": {
        "description": "Crea un turno en Estilos Leraysi y genera link de pago MercadoPago (seña 30%). Requiere todos los datos de la clienta y del servicio. El turno queda en 'pendiente_pago' hasta confirmar el pago. Si es un turno adicional (servicio con otra trabajadora para clienta que ya tiene turno), pasar es_turno_adicional: true para proteger el lead/CRM.\n",
        "workflowId": {
          "__rl": true,
          "value": "RSjHu3HHONPnVmPe",
          "mode": "list",
          "cachedResultUrl": "/workflow/RSjHu3HHONPnVmPe",
          "cachedResultName": "Leraysi - Crear Turno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "clienta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clienta', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "servicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio', ``, 'string') }}",
            "servicio_detalle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio_detalle', ``, 'string') }}",
            "fecha_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_hora', ``, 'string') }}",
            "precio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('precio', ``, 'number') }}",
            "duracion_estimada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_estimada', ``, 'number') }}",
            "complejidad_maxima": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('complejidad_maxima', ``, 'string') }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'number') }}",
            "es_turno_adicional": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('es_turno_adicional', ``, 'boolean') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "clienta",
              "displayName": "clienta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "servicio_detalle",
              "displayName": "servicio_detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha_hora",
              "displayName": "fecha_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "precio",
              "displayName": "precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "duracion_estimada",
              "displayName": "duracion_estimada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "es_turno_adicional",
              "displayName": "es_turno_adicional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "complejidad_maxima",
              "displayName": "complejidad_maxima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        304,
        480
      ],
      "id": "8f9b5fc3-da57-491c-ad7f-2775c6cf00b5",
      "name": "leraysi_crear_turno"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// PREPARAR TURNO BASEROW - Agente Calendario Leraysi\n// ============================================================================\n// Transforma datos de ParseAgentResponse al formato de TurnosLeraysi\n// Campos según TABLA-TURNOS-LERAYSI.md\n// ============================================================================\n// NODO: PrepararTurnoBaserow (Code)\n// INPUT: ParseAgentResponse via IF_Agendar (True Branch)\n// OUTPUT: Campos listos para Baserow Create Row\n// ============================================================================\n\nconst data = $input.first().json;\n\n// ============================================================================\n// CONFIGURACIÓN\n// ============================================================================\nconst CONFIG = {\n  expiracion_minutos: 15, // 15 minutos para pagar la sena\n};\n\n// Calcular timestamps\nconst ahora = new Date();\nconst expiraAt = new Date(\n  ahora.getTime() + CONFIG.expiracion_minutos * 60 * 1000,\n);\n\n// Formatear fecha para Baserow API: ISO 8601 con timezone Argentina\nfunction formatBaserowDatetime(date) {\n  // Ajustar UTC a Argentina (UTC-3)\n  const argentinaTime = new Date(date.getTime() - 3 * 60 * 60 * 1000);\n  const offset = \"-03:00\";\n  const year = argentinaTime.getUTCFullYear();\n  const month = String(argentinaTime.getUTCMonth() + 1).padStart(2, \"0\");\n  const day = String(argentinaTime.getUTCDate()).padStart(2, \"0\");\n  const hours = String(argentinaTime.getUTCHours()).padStart(2, \"0\");\n  const minutes = String(argentinaTime.getUTCMinutes()).padStart(2, \"0\");\n  const seconds = String(argentinaTime.getUTCSeconds()).padStart(2, \"0\");\n  return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}${offset}`;\n}\n\n// ============================================================================\n// CONSTRUIR REGISTRO PARA BASEROW (TurnosLeraysi)\n// ============================================================================\nconst turnoBaserow = {\n  // === Fecha y Hora ===\n  // Fecha+hora con timezone Argentina para que Baserow muestre correctamente\n  fecha: data.fecha_turno ? data.fecha_turno + \"T\" + (data.hora_sugerida || \"09:00\") + \":00-03:00\" : null,\n  hora: data.hora_sugerida || \"09:00\",\n\n  // === Relación con Lead ===\n  clienta_id: data.lead_row_id ? [data.lead_row_id] : [],\n\n  // === Datos de la Clienta (desnormalizados) ===\n  nombre_clienta: data.nombre_clienta,\n  telefono: data.telefono,\n  email: data.email || \"\",\n\n  // === Servicio ===\n  servicio: Array.isArray(data.servicio) ? data.servicio : [data.servicio],\n  servicio_detalle: data.servicio_detalle || \"\",\n  complejidad_maxima: data.complejidad_maxima || \"media\",\n  trabajadora: data.trabajadora || \"Leraysi\",\n  // duracion_min se agrega condicionalmente abajo\n\n  // === Precio y Seña ===\n  // precio y sena_monto se agregan condicionalmente abajo\n  sena_pagada: false,\n\n  // === Estado ===\n  estado: data.estado_turno || \"pendiente_pago\",\n\n  // === Mercado Pago ===\n  mp_preference_id: data.mp_preference_id || \"\",\n  mp_link: data.link_pago || \"\",\n  mp_payment_id: \"\", // Se llena cuando se confirma el pago\n\n  // === Timestamps ===\n  created_at: formatBaserowDatetime(ahora),\n  expira_at: formatBaserowDatetime(expiraAt),\n  // confirmado_at se agrega solo cuando tiene valor (ver abajo)\n\n  // === Notas ===\n  notas: `Turno creado via chatbot. Servicio: ${data.servicio}`,\n};\n\n// Agregar campos numéricos solo si tienen valor (Baserow no acepta null)\nturnoBaserow.duracion_min = data.duracion_estimada || 60;\nif (data.precio != null) {\n  turnoBaserow.precio = data.precio;\n}\nif (data.sena_monto != null) {\n  turnoBaserow.sena_monto = data.sena_monto;\n}\nif (data.odoo_turno_id) {\n  turnoBaserow.odoo_turno_id = data.odoo_turno_id;\n}\nif (data.conversation_id) {\n  turnoBaserow.conversation_id = data.conversation_id;\n}\n\n// ============================================================================\n// OUTPUT\n// ============================================================================\nreturn [\n  {\n    json: {\n      // Campos para Baserow (directo)\n      ...turnoBaserow,\n\n      // Preservar datos para FormatearRespuestaExito\n      _meta: {\n        accion: data.accion,\n        mensaje_para_clienta: data.mensaje_para_clienta,\n        lead_row_id: data.lead_row_id,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -80
      ],
      "id": "bfc8a74c-0789-4bef-8abc-38bf92e5db9b",
      "name": "PrepararTurnoBaserow"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// FORMATEAR RESPUESTA EXITO - Agente Calendario Leraysi\n// ============================================================================\n// Construye la respuesta final exitosa para devolver al Master Agent\n// ============================================================================\n// NODO: FormatearRespuestaExito (Code)\n// INPUT: CrearTurnoBaserow (respuesta de Baserow con ID del row creado)\n// OUTPUT: Respuesta estructurada para Return\n// ============================================================================\n\nconst baserowResponse = $input.first().json;\n\n// Recuperar metadata del nodo anterior (PrepararTurnoBaserow)\nconst metaData = $('PrepararTurnoBaserow').first().json._meta;\n\n// El ID del turno creado en Baserow\nconst turnoRowId = baserowResponse.id;\n\n// ============================================================================\n// OUTPUT PARA MASTER AGENT\n// ============================================================================\nreturn [{\n  json: {\n    success: true,\n    accion: metaData.accion,\n    turno_id: turnoRowId,\n    mensaje_para_clienta: metaData.mensaje_para_clienta,\n    lead_row_id: metaData.lead_row_id\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -80
      ],
      "id": "dab4813b-2baf-4844-956a-0df123b9f784",
      "name": "FormatearRespuestaExito"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// ANALIZAR DISPONIBILIDAD - Agente Calendario Leraysi v2\n// ============================================================================\n// INPUT: ParseInput (datos del turno) + GetTurnosSemana (turnos existentes)\n// OUTPUT: Opciones disponibles con trabajadora asignada\n// ============================================================================\n// MODELO: 2 trabajadoras (A, B), bloques activos continuos,\n// servicios muy_compleja con 3 fases (activo_inicio + proceso + activo_fin).\n// Durante la fase de proceso la trabajadora queda LIBRE para atender otras clientas.\n// ============================================================================\n\nconst turnosRaw = $('GetTurnosSemana').all();\nconst turnos = turnosRaw.length > 0 ? turnosRaw.map(item => item.json) : [];\nconst input = $('ParseInput').first().json;\n\n// ============================================================================\n// CONSTANTES\n// ============================================================================\nconst JORNADA_INICIO = 540;   // 09:00 en minutos desde medianoche\nconst JORNADA_FIN = 1140;     // 19:00 en minutos desde medianoche\nconst TRABAJADORAS = ['Leraysi', 'Companera'];\nconst STEP = 15;              // Granularidad de busqueda en minutos\n\n// Fases estandar para todos los servicios muy_compleja\nconst FASES_MUY_COMPLEJA = { activo_inicio: 180, proceso: 300, activo_fin: 120 };\n\n// Lookup: base_min por servicio (para calcular tiempo comprometido en ventana de proceso)\nconst SERVICIOS_BASE_MIN = {\n  'Corte mujer': 60,\n  'Alisado brasileño': 600, 'Alisado keratina': 600,\n  'Mechas completas': 600, 'Tintura completa': 600, 'Balayage': 600,\n  'Tintura raíz': 60,\n  'Manicura simple': 120, 'Manicura semipermanente': 180, 'Pedicura': 120,\n  'Depilación cera piernas': 120, 'Depilación cera axilas': 60, 'Depilación cera bikini': 60,\n  'Depilación láser piernas': 120, 'Depilación láser axilas': 60,\n};\n\n// Servicios muy_compleja (NO consumen ventana de proceso — son la fuente de la ventana)\nconst SERVICIOS_MUY_COMPLEJA = new Set([\n  'Alisado brasileño', 'Alisado keratina', 'Mechas completas',\n  'Tintura completa', 'Balayage'\n]);\n\n// ============================================================================\n// HELPERS\n// ============================================================================\nfunction horaToMinutos(horaStr) {\n  if (!horaStr) return JORNADA_INICIO;\n  const parts = horaStr.split(':');\n  return parseInt(parts[0]) * 60 + parseInt(parts[1] || '0');\n}\n\nfunction minutosToHora(min) {\n  const h = Math.floor(min / 60);\n  const m = min % 60;\n  return `${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}`;\n}\n\n// Detectar solapamiento entre dos intervalos [a1,a2) y [b1,b2)\nfunction solapan(a1, a2, b1, b2) {\n  return a1 < b2 && b1 < a2;\n}\n\nconst meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nconst diasNombre = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'];\n\n// ============================================================================\n// PASO 1: CONSTRUIR BLOQUES ACTIVOS POR TRABAJADORA POR DIA\n// ============================================================================\n// Para cada turno existente en Baserow, calcular sus bloques de tiempo activo:\n//   - muy_compleja: DOS bloques [inicio, inicio+180] y [inicio+480, inicio+600]\n//   - Otros: UN bloque continuo [inicio, inicio+duracion]\n// Turnos sin campo \"trabajadora\" se asignan a \"A\" por defecto (legacy).\n\nconst bloquesPorDiaTrabajadora = {};  // { \"2026-02-24\": { \"A\": [...], \"B\": [...] } }\nconst ventanasProcesoPorDia = {};     // { \"2026-02-24\": [{ trabajadora, inicio, fin, turno_id }] }\n\nfunction inicializarDia(fecha) {\n  if (!bloquesPorDiaTrabajadora[fecha]) {\n    bloquesPorDiaTrabajadora[fecha] = {};\n    for (const t of TRABAJADORAS) {\n      bloquesPorDiaTrabajadora[fecha][t] = [];\n    }\n    ventanasProcesoPorDia[fecha] = [];\n  }\n}\n\n// Normalizar nombre de trabajadora al valor exacto en TRABAJADORAS\nfunction normalizarTrabajadora(raw) {\n  if (!raw) return 'Leraysi';\n  const val = (typeof raw === 'object' ? raw.value : raw) || 'Leraysi';\n  // Buscar coincidencia case-insensitive\n  const match = TRABAJADORAS.find(t => t.toLowerCase() === val.toLowerCase().trim());\n  return match || 'Leraysi';\n}\n\nturnos.forEach(turno => {\n  const fecha = turno.fecha?.split('T')[0];\n  if (!fecha) return;\n\n  // Filtrar estados invalidos\n  const estado = turno.estado?.value || turno.estado || '';\n  if (estado === 'cancelado' || estado === 'expirado') return;\n\n  // Filtrar pendiente_pago con hold vencido (slot libre en tiempo real)\n  if (estado === 'pendiente_pago' && turno.expira_at) {\n    const expiraAt = new Date(turno.expira_at);\n    if (expiraAt < new Date()) return;\n  }\n\n  inicializarDia(fecha);\n\n  const trabajadora = normalizarTrabajadora(turno.trabajadora);\n  const horaInicio = horaToMinutos(turno.hora || '09:00');\n  const duracion = Number(turno.duracion_min) || 60;\n  const complejidad = turno.complejidad_maxima?.value || turno.complejidad_maxima || 'media';\n\n  const turnoId = turno.odoo_turno_id || turno.id || null;\n\n  if (complejidad === 'muy_compleja') {\n    // 3 fases: activo_inicio (180min) + proceso (300min) + activo_fin (120min)\n    const ai = FASES_MUY_COMPLEJA.activo_inicio;\n    const pr = FASES_MUY_COMPLEJA.proceso;\n    const af = FASES_MUY_COMPLEJA.activo_fin;\n\n    bloquesPorDiaTrabajadora[fecha][trabajadora].push(\n      { start: horaInicio, end: horaInicio + ai, turno_id: turnoId },\n      { start: horaInicio + ai + pr, end: horaInicio + ai + pr + af, turno_id: turnoId }\n    );\n\n    // Registrar ventana de proceso (trabajadora LIBRE durante este tiempo)\n    ventanasProcesoPorDia[fecha].push({\n      trabajadora,\n      inicio: horaInicio + ai,\n      fin: horaInicio + ai + pr,\n      turno_id: turnoId\n    });\n\n    // Sub-servicios comprometidos en ventana de proceso\n    // Si el turno combina servicios (ej: \"Balayage + Manicura semipermanente\"),\n    // los sub-servicios no-quimicos ocupan tiempo dentro de la ventana.\n    // Se crea un bloque al INICIO de la ventana para reservar ese tiempo.\n    let subServicios = [];\n    if (turno.servicio_detalle && turno.servicio_detalle.includes('+')) {\n      subServicios = turno.servicio_detalle.split('+').map(s => s.trim());\n    } else if (Array.isArray(turno.servicio) && turno.servicio.length > 1) {\n      subServicios = turno.servicio.map(s => s?.value || s);\n    }\n\n    if (subServicios.length > 1) {\n      let tiempoComprometido = 0;\n      for (const srv of subServicios) {\n        if (!SERVICIOS_MUY_COMPLEJA.has(srv)) {\n          tiempoComprometido += (SERVICIOS_BASE_MIN[srv] || 60);\n        }\n      }\n      if (tiempoComprometido > 0) {\n        const procesoInicio = horaInicio + ai;\n        bloquesPorDiaTrabajadora[fecha][trabajadora].push({\n          start: procesoInicio,\n          end: Math.min(procesoInicio + tiempoComprometido, procesoInicio + pr),\n          turno_id: turnoId\n        });\n      }\n    }\n  } else {\n    // Bloque continuo\n    bloquesPorDiaTrabajadora[fecha][trabajadora].push({\n      start: horaInicio,\n      end: horaInicio + duracion,\n      turno_id: turnoId\n    });\n  }\n});\n\n// ============================================================================\n// PASO 2: GENERAR DIAS DE BUSQUEDA\n// ============================================================================\n// Proximos 30 dias, excluir domingos y hoy (regla de negocio: minimo manana)\nconst hoy = new Date();\nconst ahoraArgentina = new Date(hoy.getTime() - 3 * 60 * 60 * 1000);\nconst hoyStr = ahoraArgentina.toISOString().split('T')[0];\n\nconst diasDisponibles = [];\nfor (let i = 1; i <= 30; i++) {\n  const fecha = new Date(hoy);\n  fecha.setDate(hoy.getDate() + i);\n  const fechaStr = fecha.toISOString().split('T')[0];\n  const diaSemana = fecha.getDay();\n  if (diaSemana === 0) continue; // Domingo cerrado\n  diasDisponibles.push({\n    fecha: fechaStr,\n    nombre_dia: diasNombre[diaSemana],\n    fechaObj: fecha\n  });\n}\n\n// ============================================================================\n// PASO 3: PARAMETROS DEL NUEVO SERVICIO\n// ============================================================================\nconst duracionNueva = input.duracion_estimada || 60;\nconst complejidadNueva = input.complejidad_maxima || 'media';\nconst esMuyCompleja = complejidadNueva === 'muy_compleja' && input.activo_inicio != null;\n\nconst nuevoActivoInicio = input.activo_inicio || 0;\nconst nuevoProceso = input.proceso || 0;\nconst nuevoActivoFin = input.activo_fin || 0;\n\n// Fecha y hora deseadas\nconst fechaSolicitadaRaw = input.fecha_deseada || '';\nconst fechaSolicitada = fechaSolicitadaRaw.includes('T')\n  ? fechaSolicitadaRaw.split('T')[0]\n  : fechaSolicitadaRaw.split(' ')[0];\nconst horaDeseada = input.hora_deseada ? horaToMinutos(input.hora_deseada) : null;\nconst preferenciaHorario = input.preferencia_horario || null;\n\n// ============================================================================\n// PASO 4: FUNCIONES DE CALCULO DE BLOQUES\n// ============================================================================\n\n// Retorna los bloques activos que el nuevo servicio ocuparia si empieza en horaInicio\nfunction bloquesActivosNuevoServicio(horaInicio) {\n  if (esMuyCompleja) {\n    return [\n      { start: horaInicio, end: horaInicio + nuevoActivoInicio },\n      { start: horaInicio + nuevoActivoInicio + nuevoProceso, end: horaInicio + nuevoActivoInicio + nuevoProceso + nuevoActivoFin }\n    ];\n  }\n  return [{ start: horaInicio, end: horaInicio + duracionNueva }];\n}\n\n// Verificar que todos los bloques estan dentro de la jornada\nfunction dentroDeJornada(bloques) {\n  return bloques.every(b => b.start >= JORNADA_INICIO && b.end <= JORNADA_FIN);\n}\n\n// Verificar que ningun bloque nuevo solapa con bloques existentes\nfunction sinConflictos(bloquesNuevos, bloquesExistentes) {\n  for (const nuevo of bloquesNuevos) {\n    for (const existente of bloquesExistentes) {\n      if (solapan(nuevo.start, nuevo.end, existente.start, existente.end)) {\n        return false;\n      }\n    }\n  }\n  return true;\n}\n\n// ============================================================================\n// PASO 4b: EXTRAER DATOS DE TURNO EXISTENTE (antes de buscar slots)\n// ============================================================================\n// Necesitamos estos datos antes del Paso 5 para:\n// - Excluir bloques del turno actual en agregar servicio (se reorganiza)\n// - Calcular duracion combinada\nlet turnoServicioExistente = null;\nlet turnoIdExistente = null;\nlet turnoPrecioExistente = null;\nlet turnoDuracionExistente = null;\nlet turnoComplejidadExistente = null;\nlet turnoSenaPagada = null;\nlet turnoTrabajadoraExistente = null;\nlet turnoHoraExistente = null;\n\nif (input.turno_agendado && input.lead_row_id) {\n  const turnoUsuaria = turnos.find(t => {\n    // Ignorar turnos cancelados/expirados — no son el turno activo de la clienta\n    const estadoT = t.estado?.value || t.estado || '';\n    if (estadoT === 'cancelado' || estadoT === 'expirado') return false;\n\n    let turnoClientaRowId = null;\n    if (Array.isArray(t.clienta_id) && t.clienta_id.length > 0) {\n      turnoClientaRowId = t.clienta_id[0]?.id;\n    } else if (t.clienta_id && typeof t.clienta_id === 'object') {\n      turnoClientaRowId = t.clienta_id.id || t.clienta_id.value;\n    } else {\n      turnoClientaRowId = t.clienta_id;\n    }\n    return turnoClientaRowId && String(turnoClientaRowId) === String(input.lead_row_id);\n  });\n\n  if (turnoUsuaria) {\n    let servicioValue = null;\n    if (turnoUsuaria.servicio_detalle) {\n      servicioValue = turnoUsuaria.servicio_detalle;\n    } else if (Array.isArray(turnoUsuaria.servicio) && turnoUsuaria.servicio.length > 0) {\n      servicioValue = turnoUsuaria.servicio.map(s => s?.value || s).join(' + ');\n    } else if (turnoUsuaria.servicio?.value) {\n      servicioValue = turnoUsuaria.servicio.value;\n    } else {\n      servicioValue = turnoUsuaria.servicio;\n    }\n    turnoServicioExistente = servicioValue || null;\n    turnoIdExistente = turnoUsuaria.odoo_turno_id || null;\n    turnoPrecioExistente = turnoUsuaria.precio ? Number(turnoUsuaria.precio) : null;\n    turnoDuracionExistente = turnoUsuaria.duracion_min ? Number(turnoUsuaria.duracion_min) : null;\n    turnoComplejidadExistente = turnoUsuaria.complejidad_maxima?.value || turnoUsuaria.complejidad_maxima || null;\n    turnoSenaPagada = turnoUsuaria.sena_monto ? Number(turnoUsuaria.sena_monto) : null;\n    turnoTrabajadoraExistente = normalizarTrabajadora(turnoUsuaria.trabajadora);\n    turnoHoraExistente = turnoUsuaria.hora || null;\n  }\n}\n\n// ============================================================================\n// PASO 5: BUSCAR SLOTS DISPONIBLES\n// ============================================================================\nconst candidatos = [];\n\n// Priorizar la fecha solicitada\nlet diasBusqueda = [...diasDisponibles];\nif (fechaSolicitada) {\n  const idxReq = diasBusqueda.findIndex(d => d.fecha === fechaSolicitada);\n  if (idxReq > 0) {\n    const [diaReq] = diasBusqueda.splice(idxReq, 1);\n    diasBusqueda.unshift(diaReq);\n  }\n}\n\n// Limitar busqueda a 14 dias\ndiasBusqueda = diasBusqueda.slice(0, 14);\n\n// Reprogramacion: excluir bloques del turno propio (la clienta libera su slot)\nconst esReprogramacion = input.turno_agendado && turnoIdExistente && !input.agregar_a_turno_existente;\n\nfor (const dia of diasBusqueda) {\n  if (candidatos.length >= 12) break;\n\n  inicializarDia(dia.fecha);\n  const bloquesDia = bloquesPorDiaTrabajadora[dia.fecha];\n\n  for (let startMin = JORNADA_INICIO; startMin < JORNADA_FIN; startMin += STEP) {\n    const bloquesNuevos = bloquesActivosNuevoServicio(startMin);\n\n    // Verificar que cabe en la jornada\n    if (!dentroDeJornada(bloquesNuevos)) continue;\n\n    // Probar con cada trabajadora (A primero por prioridad de desempate)\n    for (const trabajadora of TRABAJADORAS) {\n      // Si es reprogramacion, excluir los bloques del turno que se esta moviendo\n      const bloquesExistentes = esReprogramacion\n        ? bloquesDia[trabajadora].filter(b => b.turno_id !== turnoIdExistente)\n        : bloquesDia[trabajadora];\n      if (!sinConflictos(bloquesNuevos, bloquesExistentes)) continue;\n\n      // Slot valido - calcular score\n      const esFechaDeseada = dia.fecha === fechaSolicitada;\n      let score = 0;\n\n      // +10 si coincide con hora exacta deseada\n      if (horaDeseada !== null && startMin === horaDeseada) score += 10;\n\n      // +8 si es la fecha solicitada\n      if (esFechaDeseada) score += 8;\n\n      // +5 si encaja en preferencia horaria\n      if (preferenciaHorario === 'manana' && startMin < 12 * 60) score += 5;\n      else if (preferenciaHorario === 'tarde' && startMin >= 13 * 60) score += 5;\n\n      // +2 cercania a hora deseada (<=60min de distancia)\n      if (horaDeseada !== null && Math.abs(startMin - horaDeseada) <= 60) score += 2;\n\n      // Balanceo de carga: penalizar trabajadora con mas bloques en el dia\n      // Esto evita sobrecargar a una sola trabajadora\n      const cargaDia = (bloquesDia[trabajadora] || []).length;\n      score -= cargaDia * 2;\n\n      // Hora fin para display (tiempo total de la clienta en el salon)\n      const horaFinMin = esMuyCompleja\n        ? startMin + nuevoActivoInicio + nuevoProceso + nuevoActivoFin\n        : startMin + duracionNueva;\n\n      candidatos.push({\n        trabajadora,\n        fecha: dia.fecha,\n        hora_inicio: minutosToHora(startMin),\n        hora_fin: minutosToHora(horaFinMin),\n        nombre_dia: dia.nombre_dia,\n        duracion_min: esMuyCompleja ? (nuevoActivoInicio + nuevoProceso + nuevoActivoFin) : duracionNueva,\n        score,\n        es_fecha_alternativa: !esFechaDeseada,\n        en_proceso: false\n      });\n    }\n  }\n}\n\n// ============================================================================\n// PASO 6: CASO ESPECIAL — AGREGAR SERVICIO EN VENTANA DE PROCESO\n// ============================================================================\n// Si la clienta tiene un turno muy_compleja existente y quiere agregar un servicio,\n// el nuevo servicio puede caber dentro de la ventana de proceso (5h libre).\n// La misma trabajadora lo atiende durante el tiempo de espera del quimico.\n\nif (input.agregar_a_turno_existente && input.turno_fecha) {\n  const turnoFecha = input.turno_fecha.includes('T')\n    ? input.turno_fecha.split('T')[0]\n    : input.turno_fecha.split(' ')[0];\n\n  const ventanas = ventanasProcesoPorDia[turnoFecha] || [];\n\n  for (const ventana of ventanas) {\n    // Solo servicios NO muy_compleja pueden meterse en una ventana de proceso\n    if (esMuyCompleja) continue;\n\n    const ventanaDuracion = ventana.fin - ventana.inicio;\n    if (duracionNueva > ventanaDuracion) continue;\n\n    // Buscar el primer hueco libre DENTRO de la ventana de proceso\n    const bloquesVentanaTrabajadora = (bloquesPorDiaTrabajadora[turnoFecha] || {})[ventana.trabajadora] || [];\n\n    for (let start = ventana.inicio; start + duracionNueva <= ventana.fin; start += STEP) {\n      const nuevoBloque = [{ start: start, end: start + duracionNueva }];\n\n      if (sinConflictos(nuevoBloque, bloquesVentanaTrabajadora)) {\n        candidatos.unshift({\n          trabajadora: ventana.trabajadora,\n          fecha: turnoFecha,\n          hora_inicio: minutosToHora(start),\n          hora_fin: minutosToHora(start + duracionNueva),\n          nombre_dia: diasNombre[new Date(turnoFecha + 'T12:00:00').getDay()],\n          duracion_min: duracionNueva,\n          score: 20,  // Maxima prioridad: reutilizar ventana de proceso del mismo dia\n          es_fecha_alternativa: false,\n          en_proceso: true\n        });\n        break; // Primer hueco libre encontrado\n      }\n    }\n  }\n}\n\n// ============================================================================\n// PASO 6b: AGREGAR SERVICIO CON VALIDACION DE DISPONIBILIDAD\n// ============================================================================\n// Cuando se agrega un servicio a un turno existente, verificar que la duracion\n// combinada cabe en el horario. Dos estrategias:\n//   A) simple/media/compleja: bloque continuo fusionado\n//   B) muy_compleja: 3 fases a las 9:00, existente en ventana de proceso\n\nif (input.agregar_a_turno_existente && turnoIdExistente) {\n  // Limpiar candidatos del Paso 5 (eran para servicio nuevo solo, sin contexto de turno existente)\n  candidatos.length = 0;\n\n  const trabajadoraActual = turnoTrabajadoraExistente || 'Leraysi';\n  const duracionExistente = turnoDuracionExistente || 60;\n  const turnoFechaExistente = input.turno_fecha\n    ? (input.turno_fecha.includes('T') ? input.turno_fecha.split('T')[0] : input.turno_fecha.split(' ')[0])\n    : fechaSolicitada;\n  const horaOriginalMin = turnoHoraExistente ? horaToMinutos(turnoHoraExistente) : (horaDeseada || JORNADA_INICIO);\n\n  // Funcion auxiliar: filtrar bloques excluyendo el turno actual\n  function bloquesSinTurnoActual(bloquesArr) {\n    return bloquesArr.filter(b => b.turno_id == null || String(b.turno_id) !== String(turnoIdExistente));\n  }\n\n  // Buscar en el dia del turno existente primero, luego alternativas\n  const diasBusquedaAgregar = [];\n  const diaExistente = diasDisponibles.find(d => d.fecha === turnoFechaExistente);\n  // Incluir el dia del turno incluso si no esta en diasDisponibles (puede ser hoy+1)\n  if (diaExistente) {\n    diasBusquedaAgregar.push(diaExistente);\n  } else if (turnoFechaExistente) {\n    const fechaObj = new Date(turnoFechaExistente + 'T12:00:00');\n    if (fechaObj.getDay() !== 0) { // No domingo\n      diasBusquedaAgregar.push({\n        fecha: turnoFechaExistente,\n        nombre_dia: diasNombre[fechaObj.getDay()],\n        fechaObj\n      });\n    }\n  }\n  // Agregar dias alternativos\n  for (const dia of diasDisponibles) {\n    if (dia.fecha !== turnoFechaExistente) {\n      diasBusquedaAgregar.push(dia);\n    }\n    if (diasBusquedaAgregar.length >= 14) break;\n  }\n\n  if (esMuyCompleja) {\n    // ── ESTRATEGIA B: muy_compleja a las 9:00 + existente en ventana proceso ──\n    // El servicio muy_compleja SIEMPRE empieza a las 9:00 (unico slot donde cabe)\n    // El servicio existente se reubica en la ventana de proceso (12:00-17:00)\n\n    const ventanaInicio = JORNADA_INICIO + FASES_MUY_COMPLEJA.activo_inicio; // 720 = 12:00\n    const ventanaFin = ventanaInicio + FASES_MUY_COMPLEJA.proceso; // 1020 = 17:00\n\n    // Verificar que el servicio existente cabe en la ventana de proceso\n    if (duracionExistente <= FASES_MUY_COMPLEJA.proceso) {\n      for (const dia of diasBusquedaAgregar) {\n        if (candidatos.length >= 6) break;\n        inicializarDia(dia.fecha);\n        const bloquesDia = bloquesPorDiaTrabajadora[dia.fecha];\n        const esMismoDia = dia.fecha === turnoFechaExistente;\n\n        // Probar trabajadora actual primero, luego la otra\n        const trabajadorasOrdenadas = [trabajadoraActual, ...TRABAJADORAS.filter(t => t !== trabajadoraActual)];\n\n        for (const trabajadora of trabajadorasOrdenadas) {\n          // Bloques activos del muy_compleja: [9:00-12:00] y [17:00-19:00]\n          const bloquesNuevoMC = [\n            { start: JORNADA_INICIO, end: JORNADA_INICIO + FASES_MUY_COMPLEJA.activo_inicio },\n            { start: JORNADA_INICIO + FASES_MUY_COMPLEJA.activo_inicio + FASES_MUY_COMPLEJA.proceso,\n              end: JORNADA_INICIO + FASES_MUY_COMPLEJA.activo_inicio + FASES_MUY_COMPLEJA.proceso + FASES_MUY_COMPLEJA.activo_fin }\n          ];\n\n          // Obtener bloques de la trabajadora SIN el turno actual (se va a reorganizar)\n          const bloquesExistentes = esMismoDia\n            ? bloquesSinTurnoActual(bloquesDia[trabajadora] || [])\n            : (bloquesDia[trabajadora] || []);\n\n          // Verificar que los bloques activos del muy_compleja no solapan\n          if (!sinConflictos(bloquesNuevoMC, bloquesExistentes)) continue;\n\n          // Verificar que el servicio existente cabe en la ventana de proceso sin conflictos\n          // Buscar primer hueco libre en la ventana [12:00-17:00]\n          let horaServicioEnProceso = null;\n          for (let s = ventanaInicio; s + duracionExistente <= ventanaFin; s += STEP) {\n            const bloqueExist = [{ start: s, end: s + duracionExistente }];\n            if (sinConflictos(bloqueExist, bloquesExistentes)) {\n              horaServicioEnProceso = s;\n              break;\n            }\n          }\n\n          if (horaServicioEnProceso === null) continue; // No cabe en la ventana\n\n          candidatos.push({\n            trabajadora,\n            fecha: dia.fecha,\n            hora_inicio: minutosToHora(JORNADA_INICIO), // 09:00\n            hora_fin: minutosToHora(JORNADA_FIN), // 19:00\n            nombre_dia: dia.nombre_dia,\n            duracion_min: FASES_MUY_COMPLEJA.activo_inicio + FASES_MUY_COMPLEJA.proceso + FASES_MUY_COMPLEJA.activo_fin,\n            score: (esMismoDia ? 18 : 0) + (trabajadora === trabajadoraActual ? 5 : 0),\n            es_fecha_alternativa: !esMismoDia,\n            en_proceso: false,\n            // Metadata agregar servicio\n            es_agregar_servicio: true,\n            hora_original: turnoHoraExistente || minutosToHora(horaOriginalMin),\n            servicio_reubicado: true,\n            servicio_en_proceso: true,\n            hora_servicio_existente: minutosToHora(horaServicioEnProceso)\n          });\n        }\n      }\n    }\n  } else if (turnoComplejidadExistente === 'muy_compleja') {\n    // ── ESTRATEGIA C: existente muy_compleja, nuevo servicio en ventana de proceso ──\n    // El turno existente ocupa la jornada completa (3 fases).\n    // El nuevo servicio (NO muy_compleja) se realiza durante la ventana de proceso [12:00-17:00].\n    // CUALQUIER trabajadora disponible puede atender el nuevo servicio.\n\n    const ventanaInicioC = JORNADA_INICIO + FASES_MUY_COMPLEJA.activo_inicio; // 720 = 12:00\n    const ventanaFinC = ventanaInicioC + FASES_MUY_COMPLEJA.proceso; // 1020 = 17:00\n\n    for (const dia of diasBusquedaAgregar) {\n      if (candidatos.length >= 6) break;\n      inicializarDia(dia.fecha);\n      const bloquesDia = bloquesPorDiaTrabajadora[dia.fecha];\n      const esMismoDia = dia.fecha === turnoFechaExistente;\n\n      if (esMismoDia) {\n        // Mismo dia: buscar espacio en la ventana de proceso con cualquier trabajadora\n        // Priorizar trabajadora actual (en_proceso) sobre otra (turno adicional)\n        const trabajadorasOrdenadasC = [trabajadoraActual, ...TRABAJADORAS.filter(t => t !== trabajadoraActual)];\n        for (const trabajadora of trabajadorasOrdenadasC) {\n          const bloquesExistentes = bloquesDia[trabajadora] || [];\n\n          for (let start = ventanaInicioC; start + duracionNueva <= ventanaFinC; start += STEP) {\n            const nuevoBloque = [{ start, end: start + duracionNueva }];\n            if (sinConflictos(nuevoBloque, bloquesExistentes)) {\n              const esMismaTrabajadora = trabajadora === trabajadoraActual;\n              candidatos.push({\n                trabajadora,\n                fecha: dia.fecha,\n                // Misma trabajadora: jornada completa (servicio dentro de proceso)\n                // Otra trabajadora: slot real del servicio nuevo (turno adicional)\n                hora_inicio: esMismaTrabajadora ? minutosToHora(JORNADA_INICIO) : minutosToHora(start),\n                hora_fin: esMismaTrabajadora ? minutosToHora(JORNADA_FIN) : minutosToHora(start + duracionNueva),\n                nombre_dia: dia.nombre_dia,\n                duracion_min: esMismaTrabajadora ? 600 : duracionNueva,\n                score: 20 + (esMismaTrabajadora ? 5 : 0),\n                es_fecha_alternativa: false,\n                en_proceso: esMismaTrabajadora,\n                es_agregar_servicio: true,\n                es_turno_adicional: !esMismaTrabajadora,\n                trabajadora_turno_original: esMismaTrabajadora ? null : trabajadoraActual,\n                hora_original: turnoHoraExistente || minutosToHora(horaOriginalMin),\n                servicio_reubicado: false,\n                servicio_en_proceso: esMismaTrabajadora,\n                hora_servicio_existente: minutosToHora(start)\n              });\n              break; // Primer hueco libre para esta trabajadora\n            }\n          }\n        }\n      } else {\n        // Otro dia: buscar slot para SOLO el servicio nuevo (turno adicional)\n        // El turno muy_compleja existente queda en su dia original\n        const trabajadorasOrdenadasAlt = [trabajadoraActual, ...TRABAJADORAS.filter(t => t !== trabajadoraActual)];\n        for (const trabajadora of trabajadorasOrdenadasAlt) {\n          const bloquesT = bloquesDia[trabajadora] || [];\n          for (let s = JORNADA_INICIO; s + duracionNueva <= JORNADA_FIN; s += STEP) {\n            if (sinConflictos([{ start: s, end: s + duracionNueva }], bloquesT)) {\n              candidatos.push({\n                trabajadora,\n                fecha: dia.fecha,\n                hora_inicio: minutosToHora(s),\n                hora_fin: minutosToHora(s + duracionNueva),\n                nombre_dia: dia.nombre_dia,\n                duracion_min: duracionNueva,\n                score: (trabajadora === trabajadoraActual ? 3 : 0),\n                es_fecha_alternativa: true,\n                en_proceso: false,\n                es_agregar_servicio: true,\n                es_turno_adicional: true,\n                trabajadora_turno_original: trabajadoraActual,\n                hora_original: turnoHoraExistente || minutosToHora(horaOriginalMin),\n                servicio_reubicado: false,\n                servicio_en_proceso: false,\n                hora_servicio_existente: null\n              });\n              break; // Primer slot disponible para esta trabajadora\n            }\n          }\n          if (candidatos.some(c => c.fecha === dia.fecha)) break;\n        }\n      }\n    }\n  } else {\n    // ── ESTRATEGIA A: misma trabajadora (combinado) o turno adicional (otra) ──\n    // Misma trabajadora: buscar bloque combinado (extender turno, UPDATE fila)\n    // Otra trabajadora: buscar solo servicio nuevo (turno adicional, CREATE fila nueva)\n    const duracionCombinada = duracionExistente + duracionNueva;\n    const finTurnoExistenteMin = horaOriginalMin + duracionExistente;\n\n    for (const dia of diasBusquedaAgregar) {\n      if (candidatos.length >= 12) break;\n      inicializarDia(dia.fecha);\n      const bloquesDia = bloquesPorDiaTrabajadora[dia.fecha];\n      const esMismoDia = dia.fecha === turnoFechaExistente;\n\n      // Probar trabajadora actual primero (bloque combinado), luego otra (turno adicional)\n      const trabajadorasOrdenadas = [trabajadoraActual, ...TRABAJADORAS.filter(t => t !== trabajadoraActual)];\n\n      for (const trabajadora of trabajadorasOrdenadas) {\n        const esMismaTrabajadora = trabajadora === trabajadoraActual;\n        // Misma trabajadora: buscar bloque combinado (extender turno)\n        // Otra trabajadora: buscar solo servicio nuevo (turno adicional)\n        const duracionBusqueda = esMismaTrabajadora ? duracionCombinada : duracionNueva;\n\n        // Solo excluir turno actual de bloques de la misma trabajadora en el mismo dia\n        // (porque el bloque combinado reemplaza al turno actual)\n        // Para otra trabajadora: no excluir nada (el turno actual no esta en sus bloques)\n        const bloquesExistentes = (esMismoDia && esMismaTrabajadora)\n          ? bloquesSinTurnoActual(bloquesDia[trabajadora] || [])\n          : (bloquesDia[trabajadora] || []);\n\n        for (let startMin = JORNADA_INICIO; startMin + duracionBusqueda <= JORNADA_FIN; startMin += STEP) {\n          const bloque = [{ start: startMin, end: startMin + duracionBusqueda }];\n\n          if (!dentroDeJornada(bloque)) continue;\n          if (!sinConflictos(bloque, bloquesExistentes)) continue;\n\n          // Turno adicional (otra trabajadora, mismo dia): el slot NO puede solaparse\n          // con el turno original de la clienta (no puede estar en dos servicios a la vez)\n          if (!esMismaTrabajadora && esMismoDia) {\n            const turnoOrigStart = horaOriginalMin;\n            const turnoOrigEnd = horaOriginalMin + duracionExistente;\n            if (solapan(startMin, startMin + duracionBusqueda, turnoOrigStart, turnoOrigEnd)) continue;\n          }\n\n          // Calcular score\n          // Agregar servicio: mismo dia es FUERTEMENTE preferido (clienta ya tiene turno ese dia)\n          let score = 0;\n          if (esMismoDia) score += 20;\n\n          if (esMismaTrabajadora) {\n            // Bloque combinado: bonus por mismo horario original\n            if (startMin === horaOriginalMin) score += 20;\n            else if (esMismoDia && Math.abs(startMin - horaOriginalMin) <= 60) score += 5;\n            score += 3; // misma trabajadora\n          } else {\n            // Turno adicional: bonus por adyacencia (justo despues del turno existente)\n            if (esMismoDia && startMin === finTurnoExistenteMin) score += 20;\n            else if (esMismoDia && Math.abs(startMin - finTurnoExistenteMin) <= 60) score += 5;\n          }\n\n          const cargaDia = (bloquesDia[trabajadora] || []).length;\n          score -= cargaDia * 2;\n\n          candidatos.push({\n            trabajadora,\n            fecha: dia.fecha,\n            hora_inicio: minutosToHora(startMin),\n            hora_fin: minutosToHora(startMin + duracionBusqueda),\n            nombre_dia: dia.nombre_dia,\n            duracion_min: duracionBusqueda,\n            score,\n            es_fecha_alternativa: !esMismoDia,\n            en_proceso: false,\n            // Metadata agregar servicio\n            es_agregar_servicio: true,\n            es_turno_adicional: !esMismaTrabajadora,\n            trabajadora_turno_original: esMismaTrabajadora ? null : trabajadoraActual,\n            hora_original: turnoHoraExistente || minutosToHora(horaOriginalMin),\n            servicio_reubicado: esMismaTrabajadora ? (startMin !== horaOriginalMin) : false,\n            servicio_en_proceso: false\n          });\n        }\n      }\n    }\n  }\n}\n\n// ============================================================================\n// PASO 7: DEDUPLICAR Y SELECCIONAR TOP 3\n// ============================================================================\n// No repetir misma fecha+hora (quedarse con el de mayor score)\nconst vistos = new Map();\nconst candidatosUnicos = [];\nfor (const c of candidatos) {\n  const key = `${c.fecha}-${c.hora_inicio}`;\n  if (!vistos.has(key)) {\n    vistos.set(key, candidatosUnicos.length);\n    candidatosUnicos.push(c);\n  } else {\n    const idx = vistos.get(key);\n    if (c.score > candidatosUnicos[idx].score) {\n      candidatosUnicos[idx] = c;\n    }\n  }\n}\n\n// Ordenar por score descendente\ncandidatosUnicos.sort((a, b) => b.score - a.score);\n\n// Seleccionar 3 opciones significativamente distintas\n// Misma dia+trabajadora: minimo 60min de separacion\nconst elegidos = [];\nfor (const c of candidatosUnicos) {\n  const cercano = elegidos.some(e =>\n    e.fecha === c.fecha &&\n    e.trabajadora === c.trabajadora &&\n    Math.abs(horaToMinutos(e.hora_inicio) - horaToMinutos(c.hora_inicio)) < 60\n  );\n  if (!cercano) elegidos.push(c);\n  if (elegidos.length >= 3) break;\n}\n\nconst opciones = elegidos.map((s, i) => {\n  const fechaObj = new Date(s.fecha + 'T12:00:00');\n  return {\n    opcion: i + 1,\n    trabajadora: s.trabajadora,\n    fecha: s.fecha,\n    hora_inicio: s.hora_inicio,\n    hora_fin: s.hora_fin,\n    nombre_dia: s.nombre_dia,\n    fecha_humana: `${s.nombre_dia.toLowerCase()} ${fechaObj.getDate()} de ${meses[fechaObj.getMonth()]}`,\n    duracion_min: s.duracion_min,\n    es_fecha_alternativa: s.es_fecha_alternativa,\n    en_proceso: s.en_proceso,\n    // Metadata agregar servicio (solo presente cuando aplica)\n    ...(s.es_agregar_servicio ? {\n      es_agregar_servicio: true,\n      es_turno_adicional: s.es_turno_adicional || false,\n      trabajadora_turno_original: s.trabajadora_turno_original || null,\n      hora_original: s.hora_original,\n      servicio_reubicado: s.servicio_reubicado,\n      servicio_en_proceso: s.servicio_en_proceso,\n      hora_servicio_existente: s.hora_servicio_existente\n    } : {})\n  };\n});\n\n// ============================================================================\n// PASO 8: DETERMINAR DISPONIBILIDAD\n// ============================================================================\nconst disponible = opciones.length > 0;\nlet motivoNoDisponible = null;\n\nif (!disponible) {\n  motivoNoDisponible = `No hay disponibilidad para ${input.servicio_detalle || 'el servicio solicitado'} en los proximos dias. Ambas trabajadoras tienen la agenda completa.`;\n}\n\n// ============================================================================\n// PASO 9: RESUMEN PARA BUILDAGENTPROMPT\n// ============================================================================\nconst resumen = opciones.length > 0\n  ? opciones.map(o => `Opcion ${o.opcion}: ${o.fecha_humana} ${o.hora_inicio}-${o.hora_fin} (Trabajadora ${o.trabajadora})`).join('\\n')\n  : 'Sin disponibilidad en los proximos dias';\n\n// ============================================================================\n// OUTPUT — Compatible con BuildAgentPrompt y FormatearRespuestaOpciones\n// ============================================================================\nreturn [{\n  json: {\n    ...input,\n\n    // Nuevo modelo de disponibilidad\n    disponible,\n    opciones,\n    mensaje_no_disponible: motivoNoDisponible,\n\n    // Alias para compatibilidad con FormatearRespuestaOpciones (lee slots_recomendados)\n    slots_recomendados: opciones,\n\n    // Compatibilidad con BuildAgentPrompt\n    fecha_disponible: opciones.some(o => !o.es_fecha_alternativa),\n    fecha_solicitada: fechaSolicitadaRaw,\n    motivo_no_disponible: motivoNoDisponible,\n    resumen_disponibilidad: resumen,\n\n    // Alternativas (dias sin slot en fecha deseada)\n    alternativas: opciones.filter(o => o.es_fecha_alternativa).map(o => ({\n      fecha: o.fecha,\n      nombre_dia: o.nombre_dia\n    })),\n\n    // Turno existente (para reprogramacion/agregar servicio)\n    turno_servicio_existente: turnoServicioExistente,\n    turno_id_existente: turnoIdExistente,\n    turno_precio_existente: turnoPrecioExistente,\n    turno_duracion_existente: turnoDuracionExistente,\n    turno_complejidad_existente: turnoComplejidadExistente,\n    turno_sena_pagada: turnoSenaPagada,\n    turno_trabajadora_existente: turnoTrabajadoraExistente,\n    turno_hora_original: turnoHoraExistente,\n\n    // Accion explicita\n    accion: input.accion || null,\n\n    // Metadata\n    turnos_existentes: turnos.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -176
      ],
      "id": "c052e6d3-f197-4715-8430-f927f0beca35",
      "name": "AnalizarDisponibilidad"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 212,
        "tableId": 855,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8445,
              "fieldValue": "={{ $json.fecha }}"
            },
            {
              "fieldId": 8456,
              "fieldValue": "={{ $json.hora }}"
            },
            {
              "fieldId": 8446,
              "fieldValue": "={{ $json.clienta_id }}"
            },
            {
              "fieldId": 8447,
              "fieldValue": "={{ $json.servicio }}"
            },
            {
              "fieldId": 8465,
              "fieldValue": "={{ $json.servicio_detalle }}"
            },
            {
              "fieldId": 8448,
              "fieldValue": "={{ $json.complejidad_maxima }}"
            },
            {
              "fieldId": 8449,
              "fieldValue": "={{ $json.duracion_min }}"
            },
            {
              "fieldId": 8696,
              "fieldValue": "={{ $json.trabajadora }}"
            },
            {
              "fieldId": 8450,
              "fieldValue": "={{ $json.precio }}"
            },
            {
              "fieldId": 8451,
              "fieldValue": "={{ $json.sena_pagada }}"
            },
            {
              "fieldId": 8452,
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": 8457,
              "fieldValue": "={{ $json.mp_payment_id }}"
            },
            {
              "fieldId": 8458,
              "fieldValue": "={{ $json.mp_link }}"
            },
            {
              "fieldId": 8459,
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": 8460,
              "fieldValue": "={{ $json.expira_at }}"
            },
            {
              "fieldId": 8455,
              "fieldValue": "={{ $json.notas }}"
            },
            {
              "fieldId": 8463,
              "fieldValue": "={{ $json.odoo_turno_id }}"
            },
            {
              "fieldId": 8462,
              "fieldValue": "={{ $json.mp_preference_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1408,
        -80
      ],
      "id": "2cf50ff3-ddea-4f53-9f92-1431e38662d7",
      "name": "CrearTurnoBaserow",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow Account"
        }
      }
    },
    {
      "parameters": {
        "description": "Reprograma un turno existente a una nueva fecha/hora. Si el turno está pendiente_pago, cancela el viejo y crea uno nuevo con nuevo link de MercadoPago. Si está confirmado, actualiza el turno, borra/crea evento en calendario y envía email de notificación.",
        "workflowId": {
          "__rl": true,
          "value": "yti2vAntCLo46aTg",
          "mode": "list",
          "cachedResultUrl": "/workflow/yti2vAntCLo46aTg",
          "cachedResultName": "Leraysi - Reprogramar Turno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'number') }}",
            "nueva_fecha_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nueva_fecha_hora', ``, 'string') }}",
            "motivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('motivo', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "nueva_fecha_hora",
              "displayName": "nueva_fecha_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        480
      ],
      "id": "57ed60ea-f552-4797-ae83-16c4d9a2bd4c",
      "name": "leraysi_reprogramar_turno"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "turno_creado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "999b806a-8ec7-4542-beed-56c8c4fa4a54"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "turno_creado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "775d33b4-1eff-44b3-95ea-438a54c7e414",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "turno_reprogramado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "turno_reprogramado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f593b5d0-3291-4286-9206-eba1895ababb",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "servicio_agregado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "servicio_agregado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "servicio-agregado-rule-001",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "sin_disponibilidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sin_disponibilidad"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "error"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        784,
        96
      ],
      "id": "5999cac3-9346-418f-9c6a-2dbfde6cff5a",
      "name": "SwitchAccion"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// FORMATEAR RESPUESTA SIN DISPONIBILIDAD - Agente Calendario Leraysi\n// ============================================================================\n// Formatea la respuesta cuando no hay disponibilidad para el turno solicitado\n// ============================================================================\n// NODO: FormatearRespuestaSinDisponibilidad (Code)\n// INPUT: ParseAgentResponse via IF_Agendar (False Branch)\n// OUTPUT: Respuesta formateada para el workflow principal\n// ============================================================================\n\nconst data = $input.first().json;\n\n// ============================================================================\n// OUTPUT\n// ============================================================================\n\nreturn [{\n  json: {\n    success: false,\n    accion: data.accion || 'sin_disponibilidad',\n    mensaje_para_clienta: data.mensaje_para_clienta,\n    lead_row_id: data.lead_row_id,\n    alternativas: data.alternativas || []\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        512
      ],
      "id": "4e955772-cd8b-4484-aad4-012107ad6683",
      "name": "FormatearRespuestaSinDisponibilidad"
    },
    {
      "parameters": {
        "databaseId": 212,
        "tableId": 855,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8463,
                "value": "={{ $json.turno_id_anterior }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1200,
        112
      ],
      "id": "7d98e9ae-2722-465f-ab78-b7fa86036cf0",
      "name": "Get many rows",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// PREPARAR REPROGRAMADO BASEROW - Agente Calendario Leraysi\n// ============================================================================\n// Transforma datos para UPDATE en Baserow\n// INPUT: BuscarTurnoBaserow (resultado de búsqueda con row_id)\n// OUTPUT: Campos listos para Baserow Update Row\n// ============================================================================\n// NODO: PrepararReprogramadoBaserow (Code)\n// FLUJO: Switch → BuscarTurnoBaserow → PrepararReprogramadoBaserow → Update\n// ============================================================================\n\n// Datos del turno encontrado en Baserow (viene de BuscarTurnoBaserow)\nconst turnoEncontrado = $input.first().json;\n\n// Datos de ParseAgentResponse\nconst data = $('ParseAgentResponse').first().json;\n\n// ============================================================================\n// VALIDACIÓN\n// ============================================================================\nif (!turnoEncontrado || !turnoEncontrado.id) {\n  throw new Error('[PrepararReprogramadoBaserow] No se encontró el turno en Baserow. ' +\n                  `odoo_turno_id buscado: ${data.odoo_turno_id}`);\n}\n\nconst turnoRowId = turnoEncontrado.id;\n\n// ============================================================================\n// FORMATEAR FECHA\n// ============================================================================\nfunction formatBaserowDatetime(date) {\n  const argentinaTime = new Date(date.getTime() - (3 * 60 * 60 * 1000));\n  const offset = '-03:00';\n  const year = argentinaTime.getUTCFullYear();\n  const month = String(argentinaTime.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(argentinaTime.getUTCDate()).padStart(2, '0');\n  const hours = String(argentinaTime.getUTCHours()).padStart(2, '0');\n  const minutes = String(argentinaTime.getUTCMinutes()).padStart(2, '0');\n  const seconds = String(argentinaTime.getUTCSeconds()).padStart(2, '0');\n  return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}${offset}`;\n}\n\nconst ahora = new Date();\n\n// ============================================================================\n// CAMPOS A ACTUALIZAR EN BASEROW\n// ============================================================================\nconst updateFields = {\n  // Nueva fecha y hora\n  // Fecha+hora con timezone Argentina para que Baserow muestre correctamente\n  // hora_sugerida puede venir como \"15:00\" o \"15:00:00\" — normalizar a HH:MM\n  fecha: (() => {\n    if (!data.fecha_turno) return null;\n    const hora = (data.hora_sugerida || '09:00').split(':').slice(0, 2).join(':');\n    return `${data.fecha_turno}T${hora}:00-03:00`;\n  })(),\n  hora: (data.hora_sugerida || '09:00').split(':').slice(0, 2).join(':'),\n\n  // Actualizar odoo_turno_id (puede ser nuevo si era pendiente_pago)\n  odoo_turno_id: data.odoo_turno_id,\n\n  // Timestamp de actualización\n  updated_at: formatBaserowDatetime(ahora),\n\n  // Notas con historial\n  notas: `Turno reprogramado el ${ahora.toLocaleDateString('es-AR')}. ` +\n         `Fecha anterior: ${data.fecha_hora_anterior || 'N/A'}. ` +\n         `Motivo: ${data.motivo_reprogramacion || 'No especificado'}`\n};\n\n// Si hay link_pago nuevo (caso pendiente_pago → nuevo turno)\nif (data.link_pago) {\n  updateFields.mp_link = data.link_pago;\n  updateFields.mp_preference_id = data.mp_preference_id || '';\n}\n\n// ============================================================================\n// OUTPUT\n// ============================================================================\nreturn [{\n  json: {\n    // Row ID para el Update\n    row_id: turnoRowId,\n\n    // Campos para Baserow Update\n    ...updateFields,\n\n    // Metadata para FormatearRespuestaReprogramado\n    _meta: {\n      accion: data.accion,\n      mensaje_para_clienta: data.mensaje_para_clienta,\n      lead_row_id: data.lead_row_id,\n      fecha_hora_anterior: data.fecha_hora_anterior,\n      fecha_hora_nueva: data.fecha_hora_nueva,\n      calendario_actualizado: data.calendario_actualizado,\n      calendar_accept_url: data.calendar_accept_url || null\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        112
      ],
      "id": "f43947a4-0fea-4b99-b915-d1cedad2b502",
      "name": "PrepararReprogramadoBaserow"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 212,
        "tableId": 855,
        "rowId": "={{ $json.row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8445,
              "fieldValue": "={{ $json.fecha }}"
            },
            {
              "fieldId": 8456,
              "fieldValue": "={{ $json.hora }}"
            },
            {
              "fieldId": 8463,
              "fieldValue": "={{ $json.odoo_turno_id }}"
            },
            {
              "fieldId": 8464,
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": 8455,
              "fieldValue": "={{ $json.notas }}"
            },
            {
              "fieldId": 8458,
              "fieldValue": "={{ $json.mp_link }}"
            },
            {
              "fieldId": 8462,
              "fieldValue": "={{ $json.mp_preference_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1616,
        112
      ],
      "id": "bfa4ed23-9c83-46f3-ae62-cf0b70710dda",
      "name": "ActualizarTurnoBaserow",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// FORMATEAR RESPUESTA REPROGRAMADO - Agente Calendario Leraysi v2\n// ============================================================================\n// Construye la respuesta final para turno reprogramado con mensaje estructurado\n// ============================================================================\n// NODO: FormatearRespuestaReprogramado (Code)\n// INPUT: ActualizarTurnoBaserow (respuesta de Baserow Update)\n// OUTPUT: Respuesta estructurada con content_whatsapp_formatted para Master Agent\n// ============================================================================\n\nconst baserowResponse = $input.first().json;\n\n// Recuperar metadata del nodo anterior (PrepararReprogramadoBaserow)\nconst metaData = $('PrepararReprogramadoBaserow').first().json._meta;\nconst prepData = $('PrepararReprogramadoBaserow').first().json;\n\n// El ID del turno actualizado en Baserow\nconst turnoRowId = baserowResponse.id;\n\n// Detectar si es pre-pago (tiene link de pago nuevo)\nconst esPrepago = !!(prepData.mp_link);\n\n// ============================================================================\n// HELPERS\n// ============================================================================\n\nfunction formatearFechaLegible(fechaStr) {\n  if (!fechaStr) return { fechaLegible: 'fecha por confirmar', nombreDia: '', hora: '09:00' };\n  const dias = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];\n  // Parse \"2026-02-27 09:00\" or \"2026-02-27 09:00:00\"\n  const fecha = new Date(fechaStr.replace(' ', 'T'));\n  const dia = String(fecha.getDate()).padStart(2, '0');\n  const mes = String(fecha.getMonth() + 1).padStart(2, '0');\n  const anio = fecha.getFullYear();\n  const nombreDia = dias[fecha.getDay()];\n  const nombreDiaCap = nombreDia.charAt(0).toUpperCase() + nombreDia.slice(1);\n  const hora = fechaStr.split(' ')[1]?.slice(0, 5) || '09:00';\n  return { fechaLegible: `${dia}/${mes}/${anio}`, nombreDia: nombreDiaCap, hora };\n}\n\nfunction formatearMonto(monto) {\n  return (monto || 0).toLocaleString('es-AR', {\n    minimumFractionDigits: 0,\n    maximumFractionDigits: 0\n  });\n}\n\n// ============================================================================\n// EXTRACT TURNO DATA FROM BASEROW\n// ============================================================================\n\nconst servicios = (baserowResponse.servicio || []).map(s => s.value).join(' y ');\nconst precio = parseFloat(baserowResponse.precio) || 0;\nconst senaPagada = baserowResponse.sena_pagada === true || baserowResponse.sena_pagada === 'true';\nconst senaMonto = parseFloat(baserowResponse.sena_monto) || 0;\n\nconst anterior = formatearFechaLegible(metaData.fecha_hora_anterior);\nconst nueva = formatearFechaLegible(metaData.fecha_hora_nueva);\n\n// ============================================================================\n// BUILD STRUCTURED WHATSAPP MESSAGE\n// ============================================================================\n\nlet mensajeFormateado = `⋆˚🧚‍♀️ ¡Tu turno fue reprogramado! ✨\n\n━━━━━━━━━━━━━━━━━━\n  🔄 *Cambio de Fecha*\n━━━━━━━━━━━━━━━━━━\n\n❌ *Anterior:* ${anterior.nombreDia} ${anterior.fechaLegible} ${anterior.hora} hs\n✅ *Nueva:* ${nueva.nombreDia} ${nueva.fechaLegible} ${nueva.hora} hs\n\n━━━━━━━━━━━━━━━━━━\n  📋 *Detalles del Turno*\n━━━━━━━━━━━━━━━━━━\n\n💇 *Servicio:* ${servicios}\n💰 *Precio:* $${formatearMonto(precio)}`;\n\nif (senaPagada) {\n  mensajeFormateado += `\\n✅ *Tu seña sigue vigente*`;\n}\n\nmensajeFormateado += `\\n📍 *Dirección:* Yerbal 513, CABA`;\n\n// PATH A (pre-pago): incluir link de pago\nif (esPrepago && prepData.mp_link) {\n  mensajeFormateado += `\n\n━━━━━━━━━━━━━━━━━━\n\n💳 *Seña:* $${formatearMonto(senaMonto)}\n👉 *Link de pago:*\n${prepData.mp_link}`;\n}\n\n// Link de confirmación de asistencia (post-pago, calendario actualizado)\nconst calendarAcceptUrl = metaData.calendar_accept_url || null;\nif (!esPrepago && calendarAcceptUrl) {\n  mensajeFormateado += `\n\n━━━━━━━━━━━━━━━━━━\n\n👉 *Confirmá tu asistencia:*\n${calendarAcceptUrl}`;\n}\n\nmensajeFormateado += `\n\n¡Te esperamos en *Estilos Leraysi*! 💅`;\n\n// ============================================================================\n// OUTPUT PARA MASTER AGENT\n// ============================================================================\nconst response = {\n  success: true,\n  accion: metaData.accion,\n  turno_id: turnoRowId,\n  lead_row_id: metaData.lead_row_id,\n\n  // Mensaje formateado con cards (Master Agent debe usarlo tal cual como content_whatsapp)\n  content_whatsapp_formatted: mensajeFormateado,\n\n  // Datos del turno (para referencia del Master Agent)\n  turno: {\n    servicio: servicios,\n    precio,\n    sena_pagada: senaPagada,\n    fecha_anterior: `${anterior.nombreDia} ${anterior.fechaLegible} ${anterior.hora}`,\n    fecha_nueva: `${nueva.nombreDia} ${nueva.fechaLegible} ${nueva.hora}`,\n  },\n\n  // Datos específicos de reprogramación\n  reprogramacion: {\n    fecha_hora_anterior: metaData.fecha_hora_anterior,\n    fecha_hora_nueva: metaData.fecha_hora_nueva,\n    calendario_actualizado: metaData.calendario_actualizado\n  }\n};\n\n// PATH A (pre-pago): incluir link de pago nuevo\nif (esPrepago) {\n  response.link_pago = prepData.mp_link;\n  response.mp_preference_id = prepData.mp_preference_id;\n  response.sena_monto = baserowResponse.sena_monto;\n  response.precio = baserowResponse.precio;\n}\n\nreturn [{ json: response }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        112
      ],
      "id": "0e314186-f74d-4cc6-9261-5feb346a5f14",
      "name": "FormatearRespuestaReprogramado"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// FORMATEAR RESPUESTA ERROR - Agente Calendario Leraysi\n// ============================================================================\n// Maneja errores y devuelve respuesta estructurada al Master Agent\n// ============================================================================\n// NODO: FormatearRespuestaError (Code)\n// INPUT: SwitchAccion (fallback/error branch)\n// OUTPUT: Respuesta de error estructurada para Return\n// ============================================================================\n\nconst input = $input.first().json;\n\n// ============================================================================\n// CONSTRUIR MENSAJE DE ERROR\n// ============================================================================\nlet errorMessage = 'Error desconocido en el flujo del calendario';\nlet errorDetails = {};\n\n// Error del Switch (tool no reconocida)\nif (input.error) {\n  errorMessage = input.error;\n}\n\n// Contexto adicional\nif (input.tool) {\n  errorDetails.tool_intentada = input.tool;\n}\n\nif (input.tools_validas) {\n  errorDetails.tools_validas = input.tools_validas;\n}\n\n// Datos originales para debugging\nif (input.original_input) {\n  errorDetails.original_input = input.original_input;\n}\n\n// ============================================================================\n// OUTPUT PARA MASTER AGENT\n// ============================================================================\nreturn [{\n  json: {\n    success: false,\n    accion: 'error',\n    error: errorMessage,\n    detalles: errorDetails,\n    mensaje_para_clienta: 'Lo siento, hubo un problema procesando tu solicitud de turno. Por favor, intenta de nuevo o contacta directamente al salón.'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        720
      ],
      "id": "56e24da5-871c-49f8-8806-9bd379937c1d",
      "name": "FormatearRespuestaError.js"
    },
    {
      "parameters": {
        "description": "Agrega un servicio adicional a un turno existente en Estilos Leraysi. Combina los servicios, calcula el nuevo precio total y regenera el link de pago con la seña diferencial. Usar cuando la clienta quiere agregar otro servicio a su cita ya agendada.",
        "workflowId": {
          "__rl": true,
          "value": "Pgfz7XoGE2D7B63M",
          "mode": "list",
          "cachedResultUrl": "/workflow/Pgfz7XoGE2D7B63M",
          "cachedResultName": "Leraysi - Agregar Servicio Turno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "turno_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('turno_id', ``, 'number') }}",
            "nuevo_servicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nuevo_servicio', ``, 'string') }}",
            "nuevo_servicio_detalle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nuevo_servicio_detalle', ``, 'string') }}",
            "nuevo_precio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nuevo_precio', ``, 'number') }}",
            "duracion_estimada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_estimada', ``, 'number') }}",
            "complejidad_maxima": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('complejidad_maxima', ``, 'string') }}",
            "nueva_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nueva_hora', `Nueva hora del turno (ej: \"09:00\") cuando cambia por jornada completa`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "turno_id",
              "displayName": "turno_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "nuevo_servicio",
              "displayName": "nuevo_servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nuevo_servicio_detalle",
              "displayName": "nuevo_servicio_detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nuevo_precio",
              "displayName": "nuevo_precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "duracion_estimada",
              "displayName": "duracion_estimada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "complejidad_maxima",
              "displayName": "complejidad_maxima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nueva_hora",
              "displayName": "nueva_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-agregar-servicio-turno",
      "name": "leraysi_agregar_servicio_turno",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        656,
        480
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        128,
        480
      ],
      "id": "72171225-dabd-46d8-b4e5-2c821cbd6f2c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "SUw0YD5b2MOCmI7u",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 212,
        "tableId": 855,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8463,
                "value": "={{ $json.odoo_turno_id_padre || $json.odoo_turno_id }}"
              }
            ]
          }
        }
      },
      "id": "buscar-turno-servicio-agregado",
      "name": "BuscarTurnoServicioAgregado",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1200,
        304
      ],
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// PREPARAR SERVICIO AGREGADO BASEROW - Agente Calendario Leraysi v4\n// ============================================================================\n// Bifurca en DOS caminos según tipo de operación:\n//\n// PATH A — TURNO ADICIONAL (es_turno_adicional = true):\n//   Otra trabajadora hace SOLO el servicio nuevo → CREATE fila nueva\n//   El turno original queda INTACTO (no se modifica)\n//   La fila nueva tiene turno_padre_id para vincularlos\n//\n// PATH B — MISMA TRABAJADORA (bloque combinado):\n//   UPDATE fila existente con campos pendientes (v3: separación responsabilidades)\n//   Los datos definitivos se aplican via webhook de pago\n// ============================================================================\n// INPUT: BuscarTurnoBaserow (resultado de búsqueda con row_id)\n// OUTPUT: Campos para Baserow Create o Update + _meta\n// ============================================================================\n\n// Datos del turno encontrado en Baserow (viene de BuscarTurnoBaserow / Get many rows)\nconst turnoEncontrado = $input.first().json;\n\n// Datos de ParseAgentResponse\nconst data = $('ParseAgentResponse').first().json;\n\n// ============================================================================\n// VALIDACIÓN\n// ============================================================================\nif (!turnoEncontrado || !turnoEncontrado.id) {\n  throw new Error('[PrepararServicioAgregadoBaserow] No se encontró el turno en Baserow. ' +\n                  `odoo_turno_id buscado: ${data.odoo_turno_id}`);\n}\n\nconst turnoRowId = turnoEncontrado.id;\n\n// ============================================================================\n// FORMATEAR FECHA\n// ============================================================================\nfunction formatBaserowDatetime(date) {\n  const argentinaTime = new Date(date.getTime() - (3 * 60 * 60 * 1000));\n  const offset = '-03:00';\n  const year = argentinaTime.getUTCFullYear();\n  const month = String(argentinaTime.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(argentinaTime.getUTCDate()).padStart(2, '0');\n  const hours = String(argentinaTime.getUTCHours()).padStart(2, '0');\n  const minutes = String(argentinaTime.getUTCMinutes()).padStart(2, '0');\n  const seconds = String(argentinaTime.getUTCSeconds()).padStart(2, '0');\n  return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}${offset}`;\n}\n\nconst ahora = new Date();\nconst expiraAt = new Date(ahora.getTime() + 15 * 60 * 1000); // 15 min para pagar\n\n// ============================================================================\n// PATH A: TURNO ADICIONAL — CREATE fila nueva\n// ============================================================================\nif (data.es_turno_adicional) {\n  // hora_sugerida = hora del slot elegido (09:00 para JC, hora real del nuevo servicio)\n  // hora_servicio_reubicado = hora reubicada del PADRE (servicio existente), NO del nuevo\n  const horaAdicional = data.hora_sugerida || '09:00';\n  const precioNuevo = Number(data.precio) || 0;\n  const senaNuevo = Math.round(precioNuevo * 0.3);\n\n  // ── REUBICACIÓN PADRE (Caso C: agregar JC a servicio corto, misma trabajadora) ──\n  // Si Estrategia B calculó una hora reubicada para el servicio existente,\n  // incluir update del padre en _meta para que n8n lo aplique pre-pago (holdea el slot)\n  const horaReubicadaPadre = data.hora_servicio_reubicado || null;\n  const padreNecesitaReubicacion = horaReubicadaPadre && data.servicio_reubicado === true;\n\n  // Construir fila nueva (misma estructura que PrepararTurnoBaserow)\n  const createFields = {\n    // Fecha y hora\n    fecha: data.fecha_turno\n      ? data.fecha_turno + 'T' + horaAdicional + ':00-03:00'\n      : null,\n    hora: horaAdicional,\n\n    // Relación con Lead (del turno padre)\n    // Baserow link row fields vienen como [{id, value, ...}] → extraer solo IDs [219]\n    clienta_id: Array.isArray(turnoEncontrado.clienta_id)\n      ? turnoEncontrado.clienta_id.map(c => typeof c === 'object' ? c.id : c)\n      : [],\n\n    // Datos clienta (copiados del turno padre)\n    // Pueden ser lookup fields (array de objetos) o texto plano\n    nombre_clienta: Array.isArray(turnoEncontrado.nombre_clienta)\n      ? (turnoEncontrado.nombre_clienta[0]?.value || data.nombre_clienta || '')\n      : (turnoEncontrado.nombre_clienta || data.nombre_clienta || ''),\n    telefono: Array.isArray(turnoEncontrado.telefono)\n      ? (turnoEncontrado.telefono[0]?.value || data.telefono || '')\n      : (turnoEncontrado.telefono || data.telefono || ''),\n    email: Array.isArray(turnoEncontrado.email)\n      ? (turnoEncontrado.email[0]?.value || data.email || '')\n      : (turnoEncontrado.email || data.email || ''),\n\n    // Servicio: SOLO el nuevo (no combinado)\n    // Baserow multi-select espera array de display names: [\"Pedicura\"]\n    // servicio_detalle es string (\"Pedicura\" o \"Manicura simple + Pedicura\")\n    servicio: (data.servicio_detalle || '').split(' + ').filter(s => s.trim()),\n    servicio_detalle: data.servicio_detalle || '',\n    complejidad_maxima: data.complejidad_maxima || 'media',\n    trabajadora: data.trabajadora || 'Companera',\n    duracion_min: data.duracion_estimada || 60,\n\n    // Precio: SOLO del servicio nuevo\n    precio: precioNuevo,\n    sena_monto: senaNuevo,\n    sena_pagada: false,\n\n    // Estado\n    estado: 'pendiente_pago',\n\n    // MercadoPago\n    mp_preference_id: data.mp_preference_id || '',\n    mp_link: data.link_pago || '',\n    mp_payment_id: '',\n\n    // Timestamps\n    created_at: formatBaserowDatetime(ahora),\n    expira_at: formatBaserowDatetime(expiraAt),\n\n    // Vinculación con turno padre\n    turno_padre_id: turnoRowId,\n    // hora_pre_reubicacion: SOLO cuando el padre fue reubicado (Caso C/D) → usado por FiltrarExpirados para revert\n    hora_pre_reubicacion: padreNecesitaReubicacion ? (data.hora_original_padre || turnoEncontrado.hora || '') : '',\n    // fecha_pre_reubicacion: datetime original del padre antes de reubicación → para revert directo sin reconstruir\n    fecha_pre_reubicacion: padreNecesitaReubicacion ? (turnoEncontrado.fecha || '') : '',\n\n    // Odoo\n    odoo_turno_id: data.odoo_turno_id || null,\n\n    // Conversation\n    conversation_id: turnoEncontrado.conversation_id || data.conversation_id || null,\n\n    // Notas\n    notas: `Servicio adicional. Turno original: #${turnoRowId} ` +\n           `(${typeof turnoEncontrado.trabajadora === 'object' ? (turnoEncontrado.trabajadora?.value || 'Leraysi') : (turnoEncontrado.trabajadora || 'Leraysi')} ` +\n           `${turnoEncontrado.hora || '?'} ` +\n           `${turnoEncontrado.servicio_detalle || ''}). ` +\n           `Creado el ${ahora.toLocaleDateString('es-AR')}.` +\n           (padreNecesitaReubicacion ? ` Hora padre reubicada: ${turnoEncontrado.hora} → ${horaReubicadaPadre}.` : ''),\n  };\n\n  console.log(`[PrepararServicioAgregadoBaserow] PATH A: TURNO ADICIONAL. ` +\n    `Padre: #${turnoRowId} (${turnoEncontrado.trabajadora}). ` +\n    `Nuevo: ${data.trabajadora} ${horaAdicional} ${data.servicio_detalle}` +\n    (padreNecesitaReubicacion ? `. Reubicar padre: ${turnoEncontrado.hora} → ${horaReubicadaPadre}` : ''));\n\n  return [{\n    json: {\n      // Flag para que el IF node en n8n sepa que es CREATE (no UPDATE)\n      _operacion: 'crear_turno_adicional',\n\n      // Campos para Baserow Create Row\n      ...createFields,\n\n      // Metadata para FormatearRespuestaServicioAgregado\n      _meta: {\n        accion: data.accion,\n        mensaje_para_clienta: data.mensaje_para_clienta,\n        lead_row_id: data.lead_row_id,\n        odoo_turno_id: data.odoo_turno_id,\n        // Datos del turno padre (para desglose de seña en respuesta)\n        turno_padre_row_id: turnoRowId,\n        turno_precio_existente: turnoEncontrado.precio || 0,\n        turno_sena_pagada: turnoEncontrado.sena_monto || 0,\n        turno_servicio_existente: turnoEncontrado.servicio_detalle || '',\n        turno_hora_original: turnoEncontrado.hora || '',\n        turno_trabajadora_original: turnoEncontrado.trabajadora || 'Leraysi',\n        turno_complejidad_padre: turnoEncontrado.complejidad_maxima?.value || turnoEncontrado.complejidad_maxima || 'media',\n        // Reubicación padre (Caso C: agregar JC a servicio corto, misma trabajadora)\n        reubicar_padre: padreNecesitaReubicacion ? {\n          row_id: turnoRowId,\n          hora_nueva: horaReubicadaPadre,\n          fecha_nueva: data.fecha_turno\n            ? data.fecha_turno + 'T' + horaReubicadaPadre + ':00-03:00'\n            : null,\n          hora_original: data.hora_original_padre || turnoEncontrado.hora || '',\n        } : null,\n        // Datos definitivos (para turno adicional son los mismos, no hay split)\n        datos_definitivos: {\n          servicio: data.servicio,\n          servicio_detalle: data.servicio_detalle || '',\n          hora: horaAdicional,\n          duracion_min: data.duracion_estimada || 60,\n          complejidad_maxima: data.complejidad_maxima || 'media',\n          precio: precioNuevo,\n          sena_monto: senaNuevo,\n        },\n      }\n    }\n  }];\n}\n\n// ============================================================================\n// PATH B: MISMA TRABAJADORA — UPDATE fila existente (v3: separación responsabilidades)\n// ============================================================================\nconst horaDefinitiva = data.hora_sugerida || turnoEncontrado.hora || '09:00';\nconst precioDefinitivo = data.precio;\nconst senaMonto = Math.round((precioDefinitivo || 0) * 0.3);\n\nconst datosDefinitivos = {\n  servicio: data.servicio,\n  servicio_detalle: data.servicio_detalle,\n  hora: horaDefinitiva,\n  duracion_min: data.duracion_estimada || 60,\n  complejidad_maxima: data.complejidad_maxima || 'media',\n  precio: precioDefinitivo,\n  sena_monto: senaMonto,\n};\n\nconst updateFields = {\n  sena_pagada: false,\n  estado: 'pendiente_pago',\n  mp_preference_id: data.mp_preference_id || '',\n  mp_link: data.link_pago || '',\n  updated_at: formatBaserowDatetime(ahora),\n  expira_at: formatBaserowDatetime(expiraAt),\n  notas: `Servicio agregado el ${ahora.toLocaleDateString('es-AR')}. ` +\n         `Servicios: ${data.servicio_detalle}. ` +\n         `Total: $${precioDefinitivo?.toLocaleString('es-AR') || 0}. ` +\n         `Seña diferencial: $${senaMonto.toLocaleString('es-AR')}. ` +\n         `Pendiente de pago.`\n};\n\nconsole.log(`[PrepararServicioAgregadoBaserow] PATH B: UPDATE misma trabajadora. ` +\n  `Row: #${turnoRowId}. Servicios: ${data.servicio_detalle}`);\n\nreturn [{\n  json: {\n    _operacion: 'actualizar_turno_existente',\n    row_id: turnoRowId,\n    ...updateFields,\n    _meta: {\n      accion: data.accion,\n      mensaje_para_clienta: data.mensaje_para_clienta,\n      lead_row_id: data.lead_row_id,\n      odoo_turno_id: data.odoo_turno_id,\n      turno_precio_existente: turnoEncontrado.precio || 0,\n      turno_sena_pagada: turnoEncontrado.sena_monto || 0,\n      turno_servicio_existente: turnoEncontrado.servicio_detalle || '',\n      datos_definitivos: datosDefinitivos,\n    }\n  }\n}];\n"
      },
      "id": "preparar-servicio-agregado-baserow",
      "name": "PrepararServicioAgregadoBaserow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 212,
        "tableId": 855,
        "rowId": "={{ $json.row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8451,
              "fieldValue": "={{ $json.sena_pagada }}"
            },
            {
              "fieldId": 8452,
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": 8455,
              "fieldValue": "={{ $json.notas }}"
            },
            {
              "fieldId": 8458,
              "fieldValue": "={{ $json.mp_link }}"
            },
            {
              "fieldId": 8462,
              "fieldValue": "={{ $json.mp_preference_id }}"
            },
            {
              "fieldId": 8460,
              "fieldValue": "={{ $json.expira_at }}"
            },
            {
              "fieldId": 8464,
              "fieldValue": "={{ $json.updated_at }}"
            }
          ]
        }
      },
      "id": "actualizar-turno-servicio-agregado",
      "name": "ActualizarTurnoServicioAgregado",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1888,
        464
      ],
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// FORMATEAR RESPUESTA SERVICIO AGREGADO - Agente Calendario Leraysi v4\n// ============================================================================\n// Construye la respuesta final cuando se agrega un servicio a turno existente.\n// Bifurca entre:\n//   PATH A — TURNO ADICIONAL: fila nueva creada (Create Row response)\n//   PATH B — MISMA TRABAJADORA: fila existente actualizada (Update Row response)\n// ============================================================================\n// NODO: FormatearRespuestaServicioAgregado (Code)\n// INPUT: ActualizarTurnoBaserow O CrearTurnoAdicionalBaserow (respuesta de Baserow)\n// OUTPUT: Respuesta estructurada para Return → Master Agent\n// ============================================================================\n\nconst baserowResponse = $input.first().json;\n\n// Recuperar datos del nodo PrepararServicioAgregadoBaserow\nconst prepararData = $('PrepararServicioAgregadoBaserow').first().json;\nconst metaData = prepararData._meta;\nconst definitivos = metaData.datos_definitivos || {};\n\n// El ID de la fila en Baserow (nueva o actualizada)\nconst turnoRowId = baserowResponse.id;\nconst esTurnoAdicional = prepararData._operacion === 'crear_turno_adicional';\n\n// ============================================================================\n// PATH A: TURNO ADICIONAL — Fila nueva creada\n// ============================================================================\nif (esTurnoAdicional) {\n  const precioNuevo = definitivos.precio || 0;\n  const senaNuevo = definitivos.sena_monto || Math.round(precioNuevo * 0.3);\n\n  // ── Hora client-facing: si hay jornada completa (padre o hijo), su hora prevalece ──\n  // La clienta llega a las 09:00 para jornada completa, sin importar si es padre o hijo.\n  const complejidadPadre = metaData.turno_complejidad_padre || 'media';\n  const complejidadHijo = definitivos.complejidad_maxima || 'media';\n  const hayJornadaCompleta = complejidadPadre === 'muy_compleja' || complejidadHijo === 'muy_compleja';\n\n  let mensajeClienteFinal = metaData.mensaje_para_clienta;\n  if (hayJornadaCompleta) {\n    // Determinar hora correcta: la del turno con jornada completa\n    const horaJornada = complejidadPadre === 'muy_compleja'\n      ? (metaData.turno_hora_original || '09:00')\n      : (definitivos.hora || '09:00');\n    const horaIncorrecta = complejidadPadre === 'muy_compleja'\n      ? (definitivos.hora || '12:00')\n      : (metaData.turno_hora_original || '09:00');\n\n    // Reemplazar hora incorrecta en el mensaje de la LLM\n    if (horaIncorrecta !== horaJornada && mensajeClienteFinal.includes(horaIncorrecta)) {\n      mensajeClienteFinal = mensajeClienteFinal.replace(horaIncorrecta, horaJornada);\n      console.log(`[FormatearRespuesta] Hora corregida: ${horaIncorrecta} → ${horaJornada} (jornada completa)`);\n    }\n  }\n\n  console.log(`[FormatearRespuesta] PATH A: Turno adicional creado. ` +\n    `Row nuevo: #${turnoRowId}. Padre: #${metaData.turno_padre_row_id}`);\n\n  return [{\n    json: {\n      success: true,\n      accion: 'turno_adicional_creado',\n      turno_id: turnoRowId,\n      turno_id_padre: metaData.turno_padre_row_id,\n      mensaje_para_clienta: mensajeClienteFinal,\n      lead_row_id: metaData.lead_row_id,\n\n      // Datos del turno adicional (solo servicio nuevo)\n      servicio_agregado: {\n        es_turno_adicional: true,\n        odoo_turno_id: metaData.odoo_turno_id,\n        servicio_nuevo: definitivos.servicio_detalle,\n        trabajadora_nueva: prepararData.trabajadora || 'Companera',\n        precio_servicio_nuevo: precioNuevo,\n        sena_a_pagar: senaNuevo,\n        link_pago: prepararData.mp_link,\n        // Datos del turno padre (para contexto)\n        servicio_existente: metaData.turno_servicio_existente || '',\n        trabajadora_existente: metaData.turno_trabajadora_original || 'Leraysi',\n        hora_existente: metaData.turno_hora_original || '',\n        precio_existente: Number(metaData.turno_precio_existente) || 0,\n      }\n    }\n  }];\n}\n\n// ============================================================================\n// PATH B: MISMA TRABAJADORA — Fila existente actualizada (lógica v3 original)\n// ============================================================================\nconst precioExistente = Number(metaData.turno_precio_existente) || 0;\nconst senaPagada = Number(metaData.turno_sena_pagada) || 0;\nconst precioTotal = definitivos.precio || 0;\nconst senaTotalNueva = definitivos.sena_monto || Math.round(precioTotal * 0.3);\nconst senaDiferencial = Math.max(0, senaTotalNueva - senaPagada);\nconst servicioExistente = metaData.turno_servicio_existente || '';\n\nreturn [{\n  json: {\n    success: true,\n    accion: metaData.accion,\n    turno_id: turnoRowId,\n    mensaje_para_clienta: metaData.mensaje_para_clienta,\n    lead_row_id: metaData.lead_row_id,\n\n    // Datos de servicio agregado (bloque combinado)\n    servicio_agregado: {\n      es_turno_adicional: false,\n      odoo_turno_id: metaData.odoo_turno_id,\n      servicios_combinados: definitivos.servicio_detalle,\n      precio_total: precioTotal,\n      link_pago: prepararData.mp_link,\n      sena_ya_pagada: senaPagada,\n      sena_adicional: senaDiferencial,\n      sena_total_nueva: senaTotalNueva,\n      servicio_existente: servicioExistente,\n      precio_existente: precioExistente\n    }\n  }\n}];\n"
      },
      "id": "formatear-respuesta-servicio-agregado",
      "name": "FormatearRespuestaServicioAgregado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.modo }}",
              "rightValue": "consultar_disponibilidad",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "334883d2-3fc2-4dc0-85fa-d48a3f4d1d71",
      "name": "SwitchModo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// FORMATEAR RESPUESTA OPCIONES - Agente Calendario Leraysi\n// ============================================================================\n// INPUT: AnalizarDisponibilidad (con slots_recomendados[])\n// OUTPUT: Respuesta formateada con opciones de horario para la clienta\n// Se usa solo en modo \"consultar_disponibilidad\" (bypass del LLM)\n// ============================================================================\n\nconst data = $input.first().json;\n\n// ============================================================================\n// GATE DETERMINÍSTICO: si ParseInput bloqueó por datos faltantes\n// ============================================================================\nif (data.gate_bloqueado) {\n  const faltantes = data.gate_datos_faltantes || ['email'];\n  const nombre = data.nombre_clienta || 'Reina';\n\n  const listaFaltantes = faltantes.map(d => `* Tu ${d}`).join('\\n');\n\n  console.log(`[FormatearRespuesta] 🛡️ GATE: devolviendo datos_faltantes (${faltantes.join(', ')})`);\n\n  return [{\n    json: {\n      success: true,\n      accion: 'datos_faltantes',\n      mensaje_para_clienta: `${nombre}, para reservar tu turno necesito que me pases:\\n\\n${listaFaltantes}\\n\\n¿Me los compartís?`,\n      opciones: [],\n      datos_faltantes: faltantes,\n      lead_row_id: data.lead_row_id || null\n    }\n  }];\n}\n\nconst slots = data.slots_recomendados || [];\nconst servicioDisplay = data.servicio_detalle || (Array.isArray(data.servicio) ? data.servicio.join(' + ') : data.servicio) || 'servicio';\nconst nombreClienta = data.nombre_clienta || 'Reina';\nconst esAgregarServicio = data.agregar_a_turno_existente === true;\nconst horaOriginal = data.turno_hora_original || null;\nconst esSlotNoDisponible = data.accion === 'slot_no_disponible';\nconst horaDeseada = data.hora_deseada || null;\n\nlet accion;\nlet mensajeParaClienta;\n\n// ── SLOT YA NO DISPONIBLE: race condition, presentar alternativas con contexto ──\nif (esSlotNoDisponible && slots.length > 0) {\n  accion = 'opciones_disponibles';\n\n  const opcionesTexto = slots.map(s => {\n    if (s.duracion_min >= 600) {\n      return `* ${s.fecha_humana} - jornada completa (${s.hora_inicio} a ${s.hora_fin})`;\n    }\n    return `* ${s.fecha_humana} a las ${s.hora_inicio}`;\n  }).join('\\n');\n\n  mensajeParaClienta = `${nombreClienta}, disculpa, el horario de las ${horaDeseada || '?'} ya no esta disponible. Te puedo ofrecer estas alternativas:\\n\\n${opcionesTexto}\\n\\n¿Cual te queda mejor?`;\n\n} else if (esAgregarServicio && data.turno_complejidad_existente === 'muy_compleja') {\n  // ── AGREGAR SERVICIO A JORNADA COMPLETA: confirmar directo sin opciones ──\n  // La clienta ya va a estar todo el día — no tiene sentido ofrecer opciones de horario.\n  const slotMismoDia = slots.find(s => !s.es_fecha_alternativa);\n\n  if (slotMismoDia) {\n    accion = 'confirmar_agregar_servicio_directo';\n\n    const precioExistente = data.turno_precio_existente || 0;\n    const precioNuevo = data.precio || 0;\n    const precioTotal = precioExistente + precioNuevo;\n    const senaPagada = data.turno_sena_pagada || Math.round(precioExistente * 0.3);\n    const senaTotalNueva = Math.round(precioTotal * 0.3);\n    const senaDiferencial = Math.max(0, senaTotalNueva - senaPagada);\n    const servicioExistente = data.turno_servicio_existente || 'servicio actual';\n    const fechaSlot = slotMismoDia.fecha_humana || 'tu turno';\n\n    mensajeParaClienta = `⋆˚🧚‍♀️¡Genial mi vida! 💅 Voy a agregar ${servicioDisplay.toLowerCase()} a tu turno del ${fechaSlot} - Jornada completa.\\n\\n` +\n      `📋 Resumen:\\n` +\n      `* ${servicioExistente}: $${precioExistente.toLocaleString('es-AR')}\\n` +\n      `* ${servicioDisplay}: $${precioNuevo.toLocaleString('es-AR')}\\n` +\n      `* Total: $${precioTotal.toLocaleString('es-AR')}\\n\\n` +\n      `💰 Seña ya pagada: $${senaPagada.toLocaleString('es-AR')}\\n` +\n      `💰 Seña adicional a pagar: $${senaDiferencial.toLocaleString('es-AR')}\\n\\n` +\n      `¿Me confirmas, reina? 🫶✨`;\n  } else {\n    // No cabe el mismo día — mensaje breve sin opciones\n    accion = 'sin_disponibilidad_agregar';\n    mensajeParaClienta = `${nombreClienta}, lamentablemente no podemos agregar ${servicioDisplay.toLowerCase()} a tu turno 😔 La agenda está completa ese día. ¿Querés agendarlo para otro día por separado?`;\n  }\n\n} else if (esAgregarServicio && slots.length > 0 && data.fecha_disponible === false && slots.every(s => s.servicio_reubicado && s.es_fecha_alternativa)) {\n  // ── AGREGAR SERVICIO NO DISPONIBLE MISMO DÍA: ofrecer opciones claras ──\n  // Caso: servicio muy_compleja (jornada completa) no cabe el día del turno existente.\n  // NO forzar reprogramación — dar control a la clienta.\n  accion = 'opciones_agregar_no_disponible';\n\n  const servicioExistente = data.turno_servicio_existente || 'servicio actual';\n\n  // Formatear fecha solicitada\n  const fechaSolStr = data.fecha_solicitada || data.fecha_deseada || '';\n  let fechaSolHumana = fechaSolStr;\n  if (fechaSolStr) {\n    const _dias = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n    const _meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n    const fObj = new Date(fechaSolStr + 'T12:00:00');\n    fechaSolHumana = `${_dias[fObj.getDay()]} ${fObj.getDate()} de ${_meses[fObj.getMonth()]}`;\n  }\n\n  // Fechas alternativas compactas: \"martes 3, miércoles 4 o jueves 5\"\n  const fechasAlt = slots.map(s => {\n    const parts = s.fecha_humana.split(' ');\n    return `${parts[0]} ${parts[1]}`;\n  }).join(', ').replace(/, ([^,]+)$/, ' o $1');\n\n  mensajeParaClienta = `${nombreClienta}, no es posible agregar ${servicioDisplay.toLowerCase()} a tu turno del ${fechaSolHumana} 😔\\n\\n` +\n    `${servicioDisplay} requiere jornada completa (09:00 a 19:00) y ese día la agenda está llena.\\n\\n` +\n    `¿Qué preferís hacer?\\n\\n` +\n    `1️⃣ Mantener tu ${servicioExistente} el ${fechaSolHumana} a las ${horaOriginal} como está\\n` +\n    `2️⃣ Reprogramar todo junto en jornada completa (${fechasAlt})\\n` +\n    `3️⃣ Agendar ${servicioDisplay.toLowerCase()} por separado en otro día\\n\\n` +\n    `Decime y lo coordinamos 💅`;\n\n} else if (esAgregarServicio && slots.length > 0) {\n  // ── AGREGAR SERVICIO: opciones con contexto de cambio horario + desglose seña ──\n  accion = 'opciones_agregar_servicio';\n\n  const opcionesTexto = slots.map(s => {\n    if (s.es_turno_adicional) {\n      // Turno adicional: otra trabajadora hace solo el servicio nuevo\n      // La hora de llegada NO cambia — excelente UX\n      if (!s.es_fecha_alternativa && horaOriginal) {\n        return `* ${s.fecha_humana} - ${s.trabajadora} hace tu ${servicioDisplay.toLowerCase()} a las ${s.hora_inicio} (vos llegas a las ${horaOriginal} como estaba previsto)`;\n      }\n      return `* ${s.fecha_humana} a las ${s.hora_inicio} con ${s.trabajadora}`;\n    }\n    if (s.duracion_min >= 600) {\n      return `* ${s.fecha_humana} - jornada completa (${s.hora_inicio} a ${s.hora_fin}, tu servicio actual se acomoda dentro)`;\n    }\n    if (horaOriginal && s.hora_inicio === horaOriginal && !s.es_fecha_alternativa) {\n      return `* ${s.fecha_humana} a las ${s.hora_inicio} (tu horario actual se mantiene)`;\n    }\n    if (horaOriginal && !s.es_fecha_alternativa) {\n      return `* ${s.fecha_humana} a las ${s.hora_inicio} (tu turno se moveria de ${horaOriginal} a ${s.hora_inicio})`;\n    }\n    return `* ${s.fecha_humana} a las ${s.hora_inicio}`;\n  }).join('\\n');\n\n  // Calcular desglose de seña para agregar servicio\n  const precioExistente = data.turno_precio_existente || 0;\n  const precioNuevo = data.precio || 0;\n  // Turno adicional: seña solo del servicio nuevo. Bloque combinado: seña diferencial\n  const hayTurnoAdicional = slots.some(s => s.es_turno_adicional);\n  const precioTotal = hayTurnoAdicional ? precioNuevo : (precioExistente + precioNuevo);\n  const senaPagada = hayTurnoAdicional ? 0 : (data.turno_sena_pagada || Math.round(precioExistente * 0.3));\n  const senaTotalNueva = Math.round(precioTotal * 0.3);\n  const senaDiferencial = Math.max(0, senaTotalNueva - senaPagada);\n\n  const servicioExistente = data.turno_servicio_existente || 'servicio actual';\n\n  let desgloseSena;\n  if (hayTurnoAdicional) {\n    desgloseSena = `\\n\\n📋 Servicio adicional:\\n` +\n      `* ${servicioDisplay}: $${precioNuevo.toLocaleString('es-AR')}\\n` +\n      `💰 Seña a pagar: $${senaDiferencial.toLocaleString('es-AR')}\\n` +\n      `(tu turno de ${servicioExistente} a las ${horaOriginal || '?'} no cambia)`;\n  } else {\n    desgloseSena = `\\n\\n📋 Resumen del turno actualizado:\\n` +\n      `* ${servicioExistente}: $${precioExistente.toLocaleString('es-AR')}\\n` +\n      `* ${servicioDisplay}: $${precioNuevo.toLocaleString('es-AR')}\\n` +\n      `* Total: $${(precioExistente + precioNuevo).toLocaleString('es-AR')}\\n\\n` +\n      `💰 Seña ya pagada: $${(data.turno_sena_pagada || Math.round(precioExistente * 0.3)).toLocaleString('es-AR')}\\n` +\n      `💰 Seña adicional a pagar: $${senaDiferencial.toLocaleString('es-AR')}`;\n  }\n\n  mensajeParaClienta = `${nombreClienta}, para agregar ${servicioDisplay.toLowerCase()} a tu turno, estas son las opciones:\\n\\n${opcionesTexto}${desgloseSena}\\n\\n¿Cual te queda mejor?`;\n\n} else if (slots.length > 0) {\n  // ── TURNO NUEVO: opciones normales ──\n  accion = 'opciones_disponibles';\n\n  const esJornadaCompleta = slots.some(s => s.duracion_min >= 600);\n\n  const opcionesTexto = slots.map(s => {\n    if (s.en_proceso) {\n      return `* ${s.fecha_humana} a las ${s.hora_inicio} (aprovechando tiempo de proceso)`;\n    }\n    if (s.duracion_min >= 600) {\n      return `* ${s.fecha_humana} - jornada completa (${s.hora_inicio} a ${s.hora_fin})`;\n    }\n    return `* ${s.fecha_humana} a las ${s.hora_inicio}`;\n  }).join('\\n');\n\n  if (esJornadaCompleta) {\n    mensajeParaClienta = `${nombreClienta}, como ${servicioDisplay.toLowerCase()} es un servicio extenso, necesitamos una jornada completa. Tengo disponibles estos días:\\n\\n${opcionesTexto}\\n\\n¿Cuál te queda mejor?`;\n  } else {\n    mensajeParaClienta = `${nombreClienta}, para ${servicioDisplay.toLowerCase()} tengo estos horarios:\\n\\n${opcionesTexto}\\n\\n¿Cuál te queda mejor?`;\n  }\n} else {\n  // ── SIN DISPONIBILIDAD ──\n  accion = esAgregarServicio ? 'sin_disponibilidad_agregar' : 'sin_disponibilidad';\n\n  const alternativas = data.alternativas || [];\n  if (alternativas.length > 0) {\n    const altTexto = alternativas.map(a =>\n      `* ${a.nombre_dia} ${a.fecha}`\n    ).join('\\n');\n    mensajeParaClienta = esAgregarServicio\n      ? `${nombreClienta}, no es posible agregar ${servicioDisplay.toLowerCase()} a tu turno ese dia. Te puedo ofrecer estos dias:\\n\\n${altTexto}\\n\\n¿Cual te queda mejor?`\n      : `${nombreClienta}, no encontré horarios disponibles para ${servicioDisplay.toLowerCase()} en la fecha que pediste. Te puedo ofrecer estos días:\\n\\n${altTexto}\\n\\n¿Cuál te queda mejor?`;\n  } else {\n    mensajeParaClienta = esAgregarServicio\n      ? `${nombreClienta}, no es posible agregar ${servicioDisplay.toLowerCase()} a tu turno en los proximos dias. Ambas estilistas tienen la agenda completa.`\n      : `${nombreClienta}, no encontré horarios disponibles para ${servicioDisplay.toLowerCase()} en los próximos días. ¿Querés que busque en otra fecha?`;\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    accion,\n    mensaje_para_clienta: mensajeParaClienta,\n    opciones: accion === 'confirmar_agregar_servicio_directo'\n      ? slots.filter(s => !s.es_fecha_alternativa)\n      : slots,\n    lead_row_id: data.lead_row_id || null,\n    // Precio determinístico para que Master Agent cotice correctamente\n    precio: data.precio || 0,\n    sena: Math.round((data.precio || 0) * 0.3),\n    duracion_estimada: data.duracion_estimada || 0,\n    complejidad_maxima: data.complejidad_maxima || 'media',\n    // Contexto agregar servicio (para que Master Agent sepa el flujo)\n    agregar_a_turno_existente: esAgregarServicio,\n    turno_id_existente: data.turno_id_existente || null,\n    turno_precio_existente: data.turno_precio_existente || null,\n    turno_hora_original: horaOriginal,\n    // Desglose seña (solo relevante cuando esAgregarServicio)\n    turno_sena_pagada: data.turno_sena_pagada || null,\n    turno_servicio_existente: data.turno_servicio_existente || null\n  }\n}];\n"
      },
      "id": "a680d434-a9aa-47db-af69-6a05269e5668",
      "name": "FormatearRespuestaOpciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "turno-adicional-check-001",
              "leftValue": "={{ $json._operacion }}",
              "rightValue": "crear_turno_adicional",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-turno-adicional-01",
      "name": "IF_TurnoAdicional",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1616,
        304
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 212,
        "tableId": 855,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8445,
              "fieldValue": "={{ $json.fecha }}"
            },
            {
              "fieldId": 8456,
              "fieldValue": "={{ $json.hora }}"
            },
            {
              "fieldId": 8446,
              "fieldValue": "={{ $json.clienta_id }}"
            },
            {
              "fieldId": 8447,
              "fieldValue": "={{ $json.servicio }}"
            },
            {
              "fieldId": 8465,
              "fieldValue": "={{ $json.servicio_detalle }}"
            },
            {
              "fieldId": 8448,
              "fieldValue": "={{ $json.complejidad_maxima }}"
            },
            {
              "fieldId": 8449,
              "fieldValue": "={{ $json.duracion_min }}"
            },
            {
              "fieldId": 8696,
              "fieldValue": "={{ $json.trabajadora }}"
            },
            {
              "fieldId": 8450,
              "fieldValue": "={{ $json.precio }}"
            },
            {
              "fieldId": 8451,
              "fieldValue": "={{ $json.sena_pagada }}"
            },
            {
              "fieldId": 8452,
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": 8457,
              "fieldValue": "={{ $json.mp_payment_id }}"
            },
            {
              "fieldId": 8458,
              "fieldValue": "={{ $json.mp_link }}"
            },
            {
              "fieldId": 8459,
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": 8460,
              "fieldValue": "={{ $json.expira_at }}"
            },
            {
              "fieldId": 8455,
              "fieldValue": "={{ $json.notas }}"
            },
            {
              "fieldId": 8463,
              "fieldValue": "={{ $json.odoo_turno_id }}"
            },
            {
              "fieldId": 8462,
              "fieldValue": "={{ $json.mp_preference_id }}"
            },
            {
              "fieldId": 8724,
              "fieldValue": "={{ $json.turno_padre_id }}"
            },
            {
              "fieldId": 8725,
              "fieldValue": "={{ $json.hora_pre_reubicacion }}"
            },
            {
              "fieldId": 8726,
              "fieldValue": "={{ $json.fecha_pre_reubicacion }}"
            }
          ]
        }
      },
      "id": "crear-turno-adicional-br-01",
      "name": "CrearTurnoAdicionalBaserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1888,
        288
      ],
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// ROUTE DECISION - Nodo decisor determinístico\n// ============================================================================\n// POSICIÓN: AnalizarDisponibilidad → [RouteDecision] → SwitchModo\n//\n// Este nodo tiene TODAS las cartas:\n//   - Lo que la LLM envió (modo, accion, agregar_a_turno_existente, etc.)\n//   - Lo que el analyzer encontró (opciones, disponible, slots_recomendados)\n//\n// RESPONSABILIDAD: Decidir `modo` y `accion` de forma determinística.\n// SwitchModo solo bifurca basándose en lo que este nodo decide.\n// No importa si la LLM falló en enviar modo/accion — este nodo corrige.\n// ============================================================================\n\nconst data = $input.first().json;\n\n// === Datos de la LLM (pueden ser null) ===\nconst modoLLM = data.modo;\nconst accionLLM = data.accion;\n\n// === Datos del analyzer (realidad) ===\nconst opciones = data.opciones || data.slots_recomendados || [];\nconst disponible = data.disponible === true;\n\n// === Contexto del request ===\nconst gateBloqueado = data.gate_bloqueado === true;\nconst agregarATurnoExistente = data.agregar_a_turno_existente === true;\nconst turnoAgendado = data.turno_agendado === true;\n\n// === Hora y fecha solicitadas ===\nconst fechaSolicitadaRaw = data.fecha_solicitada || data.fecha_deseada || '';\nconst fechaSoloParte = fechaSolicitadaRaw.includes('T')\n  ? fechaSolicitadaRaw.split('T')[0]\n  : fechaSolicitadaRaw.split(' ')[0];\nconst horaDeseada = data.hora_deseada || '';\n\n// ============================================================================\n// VERIFICAR SI EL SLOT EXACTO SOLICITADO ESTÁ EN LAS OPCIONES\n// ============================================================================\n// Compara fecha + hora solicitada contra las opciones del analyzer.\n// Si ninguna opción coincide → el slot NO está disponible.\nconst slotExactoDisponible = opciones.some(o =>\n  o.fecha === fechaSoloParte && o.hora_inicio === horaDeseada\n);\n\n// ============================================================================\n// DECISION TREE — DETERMINÍSTICO\n// ============================================================================\nlet modo, accion, motivo;\n\n// 1. GATE BLOQUEADO: faltan datos obligatorios → bypass directo\nif (gateBloqueado) {\n  modo = 'consultar_disponibilidad';\n  accion = 'datos_faltantes';\n  motivo = `Gate bloqueado: faltan ${(data.gate_datos_faltantes || []).join(', ')}`;\n}\n\n// 2. LLM PIDIÓ CONSULTAR: primera llamada del flujo dos-pasos → siempre respetar\nelse if (modoLLM === 'consultar_disponibilidad') {\n  modo = 'consultar_disponibilidad';\n  if (agregarATurnoExistente) {\n    accion = 'consultar_agregar_servicio';\n  } else if (accionLLM === 'reprogramar') {\n    accion = 'consultar_reprogramar';\n  } else {\n    accion = 'consultar_turno_nuevo';\n  }\n  motivo = `LLM pidió consultar explícitamente (accion: ${accion})`;\n}\n\n// 3. SIN DISPONIBILIDAD: ni el slot ni alternativas\nelse if (!disponible || opciones.length === 0) {\n  modo = 'consultar_disponibilidad';\n  accion = 'sin_disponibilidad';\n  motivo = 'Analyzer: sin disponibilidad';\n}\n\n// 4. SLOT EXACTO DISPONIBLE: la hora+fecha solicitada existe → agendar\nelse if (slotExactoDisponible) {\n  modo = 'agendar';\n  if (agregarATurnoExistente) {\n    accion = 'agregar_servicio';\n  } else if (accionLLM === 'reprogramar') {\n    accion = 'reprogramar';\n  } else {\n    accion = 'agendar_turno_nuevo';\n  }\n  motivo = `Slot ${horaDeseada} en ${fechaSoloParte} disponible`;\n}\n\n// 5. JORNADA COMPLETA + AGREGAR SERVICIO + AGENDAR: rutear directo\n//    LLM envía hora 09:00 (llegada) pero el slot real es otro (ej: 12:00 Compañera).\n//    El slot exacto no matchea (09:00 ≠ 12:00) pero HAY slot mismo día → agendar.\n//    NO mutar hora_deseada — downstream ya maneja 09:00 (cliente) vs 12:00 (interno).\nelse if (modoLLM === 'agendar' && agregarATurnoExistente &&\n         data.turno_complejidad_existente === 'muy_compleja' &&\n         opciones.some(o => o.fecha === fechaSoloParte && !o.es_fecha_alternativa)) {\n  modo = 'agendar';\n  accion = 'agregar_servicio';\n  motivo = `Jornada completa: slot mismo día disponible, ruteo directo a agendar`;\n}\n\n// 6. SLOT NO DISPONIBLE + HAY ALTERNATIVAS: presentar opciones\n//    Este es el caso de race condition (slot se ocupó entre consulta y confirmación)\nelse {\n  modo = 'consultar_disponibilidad';\n  accion = 'slot_no_disponible';\n  motivo = `Slot ${horaDeseada} en ${fechaSoloParte} NO disponible. ${opciones.length} alternativas`;\n}\n\nconsole.log(`[RouteDecision] modo=${modo} | accion=${accion} | ${motivo}`);\n\n// ============================================================================\n// OUTPUT: misma data + modo y accion decididos\n// ============================================================================\nreturn [{\n  json: {\n    ...data,\n    modo,\n    accion,\n    _route_decision: {\n      modo_llm: modoLLM || null,\n      accion_llm: accionLLM || null,\n      slot_exacto_disponible: slotExactoDisponible,\n      total_opciones: opciones.length,\n      motivo\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -176
      ],
      "id": "d391d909-bba5-4d37-b3ca-a85516edd89e",
      "name": "RouteDecision"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 212,
        "tableId": 855,
        "rowId": "={{ $('PrepararServicioAgregadoBaserow').first().json._meta.reubicar_padre.row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8456,
              "fieldValue": "={{ $('PrepararServicioAgregadoBaserow').first().json._meta.reubicar_padre.hora_nueva }}"
            },
            {
              "fieldId": 8445,
              "fieldValue": "={{ $('PrepararServicioAgregadoBaserow').first().json._meta.reubicar_padre.fecha_nueva }}"
            }
          ]
        }
      },
      "id": "actualizar-padre-reubicado-01",
      "name": "ActualizarPadreReubicado",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2496,
        272
      ],
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "reubicacion-check",
              "leftValue": "={{ $('PrepararServicioAgregadoBaserow').first().json._meta.reubicar_padre }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-reubicacion-padre-01",
      "name": "IF_ReubicacionPadre",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2096,
        288
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ParseInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseInput": {
      "main": [
        [
          {
            "node": "GetTurnosSemana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTurnosSemana": {
      "main": [
        [
          {
            "node": "AnalizarDisponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AnalizarDisponibilidad": {
      "main": [
        [
          {
            "node": "RouteDecision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SwitchModo": {
      "main": [
        [
          {
            "node": "FormatearRespuestaOpciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BuildAgentPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildAgentPrompt": {
      "main": [
        [
          {
            "node": "Agente Calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Calendario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "leraysi_crear_turno": {
      "ai_tool": [
        [
          {
            "node": "Agente Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "leraysi_reprogramar_turno": {
      "ai_tool": [
        [
          {
            "node": "Agente Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "leraysi_agregar_servicio_turno": {
      "ai_tool": [
        [
          {
            "node": "Agente Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Calendario": {
      "main": [
        [
          {
            "node": "ParseAgentResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseAgentResponse": {
      "main": [
        [
          {
            "node": "SwitchAccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SwitchAccion": {
      "main": [
        [
          {
            "node": "PrepararTurnoBaserow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BuscarTurnoServicioAgregado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FormatearRespuestaSinDisponibilidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FormatearRespuestaError.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepararTurnoBaserow": {
      "main": [
        [
          {
            "node": "CrearTurnoBaserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CrearTurnoBaserow": {
      "main": [
        [
          {
            "node": "FormatearRespuestaExito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "PrepararReprogramadoBaserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepararReprogramadoBaserow": {
      "main": [
        [
          {
            "node": "ActualizarTurnoBaserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActualizarTurnoBaserow": {
      "main": [
        [
          {
            "node": "FormatearRespuestaReprogramado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarTurnoServicioAgregado": {
      "main": [
        [
          {
            "node": "PrepararServicioAgregadoBaserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepararServicioAgregadoBaserow": {
      "main": [
        [
          {
            "node": "IF_TurnoAdicional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_TurnoAdicional": {
      "main": [
        [
          {
            "node": "CrearTurnoAdicionalBaserow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActualizarTurnoServicioAgregado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActualizarTurnoServicioAgregado": {
      "main": [
        [
          {
            "node": "FormatearRespuestaServicioAgregado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RouteDecision": {
      "main": [
        [
          {
            "node": "SwitchModo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActualizarPadreReubicado": {
      "main": [
        [
          {
            "node": "FormatearRespuestaServicioAgregado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CrearTurnoAdicionalBaserow": {
      "main": [
        [
          {
            "node": "IF_ReubicacionPadre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ReubicacionPadre": {
      "main": [
        [
          {
            "node": "ActualizarPadreReubicado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FormatearRespuestaServicioAgregado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "sNNc2VUXCSt9nDER"
  },
  "versionId": "15607efa-efb6-4aaf-895b-3577b270fb32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139978cf5306b2088f2678ada72723ae1358f933aa7f201b1f1b735014d19bcf"
  },
  "id": "wXyvKF0nCCvAxGFG",
  "tags": []
}