repositories/agents/leonobitech/1-appointment-agent/workflows-backup/Leraysi - Crear Turno.json
{
  "name": "Leraysi - Crear Turno",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"clienta\": \"Fer Padrom\",\n  \"telefono\": \"+5491135179755\",\n  \"email\": \"maferparo510@gmail.com\",\n  \"servicio\": \"alisado_brasileno\",\n  \"servicio_detalle\": \"Alisado brasileño, complejidad alta, cabello largo\",\n  \"fecha_hora\": \"2026-01-29 09:00\",\n  \"precio\": 60000,\n  \"duracion_estimada\": 270,\n  \"es_turno_adicional\": true,\n  \"complejidad_maxima\": \"muy_compleja\",\n  \"lead_id\": 245\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a888abd3-641c-4a51-afd9-9cd34ba57ed2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://leraysi_mcp:8101/internal/mcp/call-tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        0
      ],
      "id": "84a80515-7507-4fa8-8f87-c7320c7962e6",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tHbNRkK41qVMSRDA",
          "name": "leraysi-mcp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// TRANSFORM FOR MCP - leraysi_crear_turno\n// ============================================================================\n// INPUT: { query: \"{...}\" } donde query es JSON string con los parámetros\n// OUTPUT: { tool, arguments } para el MCP de Odoo\n// ============================================================================\n\nconst raw = $input.first().json;\n\n// Los parámetros vienen en el campo \"query\" como JSON string\nconst params = typeof raw.query === 'string'\n  ? JSON.parse(raw.query)\n  : raw.query || raw;\n\n// Validar campos requeridos\nconst required = [\n  'clienta',\n  'email',\n  'servicio',\n  'servicio_detalle',\n  'fecha_hora',\n  'precio',\n  'duracion_estimada',\n  'lead_id'\n];\nconst missing = required.filter(f => !params[f]);\n\nif (missing.length > 0) {\n  throw new Error(`[leraysi_crear_turno] Faltantes: ${missing.join(', ')}`);\n}\n\n// Construir arguments (requeridos + opcionales)\nconst args = {\n  clienta: params.clienta,\n  email: params.email,\n  servicio: params.servicio,\n  servicio_detalle: params.servicio_detalle,\n  fecha_hora: params.fecha_hora,\n  precio: Number(params.precio),\n  duracion_estimada: Number(params.duracion_estimada || params.duracion),\n  complejidad_maxima: params.complejidad_maxima || 'media',\n  lead_id: Number(params.lead_id)\n};\n\n// Campos opcionales\nif (params.telefono) args.telefono = params.telefono;\nif (params.notas) args.notas = params.notas;\n\n// Output para MCP\nreturn [{\n  json: {\n    tool: \"leraysi_crear_turno\",\n    arguments: args\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "27fbeee1-b2c6-4e27-a74c-14d9d7fe48f0",
      "name": "TransformForMCP-crear-turno"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "TransformForMCP-crear-turno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransformForMCP-crear-turno": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "sNNc2VUXCSt9nDER"
  },
  "versionId": "fdbb210a-0fb8-4cdc-919d-6c678972dbcc",
  "meta": {
    "instanceId": "139978cf5306b2088f2678ada72723ae1358f933aa7f201b1f1b735014d19bcf"
  },
  "id": "RSjHu3HHONPnVmPe",
  "tags": []
}