repositories/agents/leraysi/workflows-backup/Leraysi_Webhook_Pago_Confirmado.json
{
  "id": "mlVG31koSK-Tdz7Csy0Wq",
  "name": "Leraysi - Webhook Pago Confirmado",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "databaseId": 4,
        "tableId": 852,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8403,
                "value": "={{ $json.body.payment.mp_preference_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        448,
        -112
      ],
      "id": "cbf17606-2568-4771-8700-5f13820be15a",
      "name": "BuscarTurnoPorMP",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e9fa4b17-f15a-47ee-890f-4299ac255d26",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        -112
      ],
      "id": "a227f4ff-8266-4838-aa8b-2f8362b8cd9a",
      "name": "WebhookPagoConfirmado",
      "webhookId": "e9fa4b17-f15a-47ee-890f-4299ac255d26",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1Bn50mFkuOxYg59P",
          "name": "MP-Webhook-Secret"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 4,
        "tableId": 852,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8390,
              "fieldValue": "=true"
            },
            {
              "fieldId": 8391,
              "fieldValue": "={{ $('WebhookPagoConfirmado').item.json.body.turno.estado }}"
            },
            {
              "fieldId": 8398,
              "fieldValue": "={{ $('WebhookPagoConfirmado').item.json.body.payment.mp_payment_id }}"
            },
            {
              "fieldId": 8402,
              "fieldValue": "={{ $('WebhookPagoConfirmado').item.json.body.payment.confirmado_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        688,
        -112
      ],
      "id": "d6be1039-bc8c-421e-b635-548ee054d765",
      "name": "ActualizarTurnoPagado",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "databaseId": 4,
        "tableId": 851,
        "rowId": "={{ $('BuscarTurnoPorMP').item.json.clienta_id[0].id }}"
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        240,
        128
      ],
      "id": "e2878059-085a-4e14-9e73-00a09a979ea6",
      "name": "ObtenerLead",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 4,
        "tableId": 851,
        "rowId": "={{ $json.baserow_update.row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8368,
              "fieldValue": "={{ $json.baserow_update.turno_agendado }}"
            },
            {
              "fieldId": 8369,
              "fieldValue": "={{ $json.baserow_update.turno_fecha }}"
            },
            {
              "fieldId": 8370,
              "fieldValue": "={{ $json.baserow_update.sena_pagada }}"
            },
            {
              "fieldId": 8361,
              "fieldValue": "={{ $json.baserow_update.notes }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        688,
        128
      ],
      "id": "25bebfb5-b761-4079-955f-94595ecac0c5",
      "name": "UpdateLead",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// TurnoLeadConfirmado code - see full source in n8n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        128
      ],
      "id": "cfd4d65c-2064-4d1a-8847-6a681418e93c",
      "name": "TurnoLeadConfirmado"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "model",
              "fieldValue": "crm.lead"
            },
            {
              "fieldName": "res_id",
              "fieldValue": "={{ $('TurnoLeadConfirmado').item.json.lead_id }}"
            },
            {
              "fieldName": "body",
              "fieldValue": "={{ $('TurnoLeadConfirmado').item.json.body_html }}"
            },
            {
              "fieldName": "message_type",
              "fieldValue": "comment"
            },
            {
              "fieldName": "subtype_id",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        256,
        352
      ],
      "id": "4513f9be-e445-414d-9dbd-382455d8dc9f",
      "name": "UpdateChatterLead",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://chatwoot:3000/api/v1/accounts/1/conversations/{{ $('TurnoLeadConfirmado').item.json.state.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "jsonBody": "={{ $('TurnoLeadConfirmado').item.json.content_whatsapp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        352
      ],
      "id": "3a0708bf-db61-4568-9efc-de36226b7a8b",
      "name": "Output to Chatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4CCgRLgHR96JW4Ue",
          "name": "Chatwoot Auth account "
        }
      }
    }
  ],
  "connections": {
    "BuscarTurnoPorMP": {
      "main": [
        [
          {
            "node": "ActualizarTurnoPagado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookPagoConfirmado": {
      "main": [
        [
          {
            "node": "BuscarTurnoPorMP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActualizarTurnoPagado": {
      "main": [
        [
          {
            "node": "ObtenerLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerLead": {
      "main": [
        [
          {
            "node": "TurnoLeadConfirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TurnoLeadConfirmado": {
      "main": [
        [
          {
            "node": "UpdateLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLead": {
      "main": [
        [
          {
            "node": "UpdateChatterLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateChatterLead": {
      "main": [
        [
          {
            "node": "Output to Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}