repositories/agents/leraysi/workflows-backup/Leraysi - Webhook Pago Confirmado.json
{
  "name": "Leraysi - Webhook Pago Confirmado",
  "nodes": [
    {
      "parameters": {
        "databaseId": 4,
        "tableId": 852,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8403,
                "value": "={{ $json.body.payment.mp_preference_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        448,
        -112
      ],
      "id": "cbf17606-2568-4771-8700-5f13820be15a",
      "name": "BuscarTurnoPorMP",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e9fa4b17-f15a-47ee-890f-4299ac255d26",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        -112
      ],
      "id": "a227f4ff-8266-4838-aa8b-2f8362b8cd9a",
      "name": "WebhookPagoConfirmado",
      "webhookId": "e9fa4b17-f15a-47ee-890f-4299ac255d26",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1Bn50mFkuOxYg59P",
          "name": "MP-Webhook-Secret"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 4,
        "tableId": 852,
        "rowId": "={{ $json.row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8390,
              "fieldValue": "={{ $json.sena_pagada }}"
            },
            {
              "fieldId": 8391,
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": 8398,
              "fieldValue": "={{ $json.mp_payment_id }}"
            },
            {
              "fieldId": 8402,
              "fieldValue": "={{ $json.confirmado_at }}"
            },
            {
              "fieldId": 8385,
              "fieldValue": "={{ $json.servicio }}"
            },
            {
              "fieldId": 8406,
              "fieldValue": "={{ $json.servicio_detalle }}"
            },
            {
              "fieldId": 8396,
              "fieldValue": "={{ $json.hora }}"
            },
            {
              "fieldId": 8387,
              "fieldValue": "={{ $json.duracion_min }}"
            },
            {
              "fieldId": 8386,
              "fieldValue": "={{ $json.complejidad_maxima }}"
            },
            {
              "fieldId": 8388,
              "fieldValue": "={{ $json.precio }}"
            },
            {
              "fieldId": 8389,
              "fieldValue": "={{ $json.sena_monto }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        808,
        -112
      ],
      "id": "d6be1039-bc8c-421e-b635-548ee054d765",
      "name": "ActualizarTurnoPagado",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// PREPARAR TURNO PAGADO - Webhook Pago Confirmado\n// ============================================================================\n// Combina datos del webhook (Odoo) con datos del turno (Baserow) para preparar\n// la actualización definitiva de TurnosLeraysi.\n// ============================================================================\n\nconst turnoBaserow = $input.first().json;\nconst webhook = $('WebhookPagoConfirmado').first().json;\n\nconst odooTurno = webhook.body?.turno || {};\nconst payment = webhook.body?.payment || {};\n\n// Mapeo código Odoo → display name Baserow\nconst CODE_TO_DISPLAY = {\n  corte_mujer: 'Corte mujer',\n  alisado_brasileno: 'Alisado brasileño',\n  alisado_keratina: 'Alisado keratina',\n  mechas_completas: 'Mechas completas',\n  tintura_raiz: 'Tintura raíz',\n  tintura_completa: 'Tintura completa',\n  balayage: 'Balayage',\n  manicura_simple: 'Manicura simple',\n  manicura_semipermanente: 'Manicura semipermanente',\n  pedicura: 'Pedicura',\n  depilacion_cera_piernas: 'Depilación cera piernas',\n  depilacion_cera_axilas: 'Depilación cera axilas',\n  depilacion_cera_bikini: 'Depilación cera bikini',\n  depilacion_laser_piernas: 'Depilación láser piernas',\n  depilacion_laser_axilas: 'Depilación láser axilas',\n};\n\n// Resolver servicio (multi-select para Baserow)\nlet servicioArray;\nconst servicioDetalle = odooTurno.servicio_detalle || '';\n\nif (servicioDetalle && servicioDetalle.includes('+')) {\n  servicioArray = servicioDetalle.split('+').map(s => s.trim());\n} else if (servicioDetalle) {\n  servicioArray = [servicioDetalle];\n} else {\n  const code = odooTurno.servicio || '';\n  servicioArray = [CODE_TO_DISPLAY[code] || code];\n}\n\n// Resolver hora (UTC de Odoo → Argentina)\nlet hora = turnoBaserow.hora || '09:00';\nif (odooTurno.fecha_hora) {\n  try {\n    const d = new Date(odooTurno.fecha_hora);\n    d.setHours(d.getHours() - 3);\n    hora = String(d.getHours()).padStart(2,'0') + ':' + String(d.getMinutes()).padStart(2,'0');\n  } catch (e) {}\n}\n\nconst precio = odooTurno.precio || parseFloat(turnoBaserow.precio) || 0;\n\nreturn [{\n  json: {\n    row_id: turnoBaserow.id,\n    sena_pagada: true,\n    estado: odooTurno.estado || 'confirmado',\n    mp_payment_id: payment.mp_payment_id || '',\n    confirmado_at: payment.confirmado_at || new Date().toISOString(),\n    servicio: servicioArray,\n    servicio_detalle: servicioDetalle,\n    hora: hora,\n    duracion_min: odooTurno.duracion_min || parseInt(turnoBaserow.duracion_min) || 60,\n    complejidad_maxima: odooTurno.complejidad_maxima || turnoBaserow.complejidad_maxima || 'media',\n    precio: precio,\n    sena_monto: Math.round(precio * 0.3),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        568,
        -112
      ],
      "id": "preparar-turno-pagado",
      "name": "PrepararTurnoPagado"
    },
    {
      "parameters": {
        "operation": "get",
        "databaseId": 4,
        "tableId": 851,
        "rowId": "={{ $('BuscarTurnoPorMP').item.json.clienta_id[0].id }}"
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        240,
        128
      ],
      "id": "e2878059-085a-4e14-9e73-00a09a979ea6",
      "name": "ObtenerLead",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 4,
        "tableId": 851,
        "rowId": "={{ $json.baserow_update.row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8362,
              "fieldValue": "={{ $json.baserow_update.stage }}"
            },
            {
              "fieldId": 8368,
              "fieldValue": "={{ $json.baserow_update.turno_agendado }}"
            },
            {
              "fieldId": 8369,
              "fieldValue": "={{ $json.baserow_update.turno_fecha }}"
            },
            {
              "fieldId": 8370,
              "fieldValue": "={{ $json.baserow_update.sena_pagada }}"
            },
            {
              "fieldId": 8361,
              "fieldValue": "={{ $json.baserow_update.notes }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        688,
        128
      ],
      "id": "25bebfb5-b761-4079-955f-94595ecac0c5",
      "name": "UpdateLead",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// TURNO LEAD CONFIRMADO - Webhook Pago Confirmado\n// ============================================================================\n// Prepara los datos para actualizar LeadsLeraysi después de pago confirmado\n// y construye el mensaje de confirmación para la clienta\n// ============================================================================\n// NODO: TurnoLeadConfirmado (Code)\n// INPUT: ObtenerLead (datos del lead actual)\n// ACCESO: WebhookPagoConfirmado, ActualizarTurnoPagado\n// OUTPUT: Formato compatible con Output Main (content_whatsapp, baserow_update, state)\n// ============================================================================\n\nconst lead = $input.first().json;\nconst turno = $('ActualizarTurnoPagado').first().json;\nconst webhook = $('WebhookPagoConfirmado').first().json;\n\n// ============================================================================\n// EXTRAER DATOS DEL TURNO\n// ============================================================================\n\n// Servicios como string\nconst servicios = turno.servicio\n  .map(s => s.value)\n  .join(' y ');\n\nconst serviciosLista = turno.servicio.map(s => s.value);\n\n// Fecha y hora del turno\nconst fechaTurno = turno.fecha ? turno.fecha.split('T')[0] : null;\nconst horaTurno = turno.hora || '09:00';\n\n// Construir fecha completa para turno_fecha (ISO 8601)\nlet turnoFechaISO = null;\nif (fechaTurno) {\n  turnoFechaISO = `${fechaTurno}T${horaTurno}:00-03:00`;\n}\n\n// Formatear fecha legible para el mensaje (DD/MM/YYYY)\nfunction formatearFechaLegible(fechaISO) {\n  if (!fechaISO) return 'fecha por confirmar';\n  const fecha = new Date(fechaISO);\n  const dia = String(fecha.getDate()).padStart(2, '0');\n  const mes = String(fecha.getMonth() + 1).padStart(2, '0');\n  const anio = fecha.getFullYear();\n  return `${dia}/${mes}/${anio}`;\n}\n\n// Nombre del día en español\nfunction getNombreDia(fechaISO) {\n  if (!fechaISO) return '';\n  const dias = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];\n  const fecha = new Date(fechaISO);\n  return dias[fecha.getDay()];\n}\n\nconst fechaLegible = formatearFechaLegible(fechaTurno);\nconst nombreDia = getNombreDia(fechaTurno);\n\n// Datos de pago\nconst senaMontoNum = parseFloat(turno.sena_monto) || 0;\nconst senaMonto = senaMontoNum.toLocaleString('es-AR', {\n  minimumFractionDigits: 0,\n  maximumFractionDigits: 0\n});\n\n// ============================================================================\n// CONSTRUIR MENSAJE PARA LA CLIENTA\n// ============================================================================\n\nconst nombreClienta = lead.full_name || turno.nombre_clienta?.[0]?.value || 'clienta';\nconst primerNombre = nombreClienta.split(' ')[0];\n\nconst mensajeContent = `⋆˚🧚‍♀️ ¡${primerNombre}, tu pago de $${senaMonto} fue recibido! ✨\n\n✅ *Turno confirmado*\n📅 ${nombreDia.charAt(0).toUpperCase() + nombreDia.slice(1)} ${fechaLegible}\n🕐 ${horaTurno} hs\n💇 ${servicios}\n\n¡Te esperamos en Estilos Leraysi! 💅`;\n\n// ============================================================================\n// CONSTRUIR NOTA ACTUALIZADA\n// ============================================================================\n\nconst notaActualizada = `Seña pagada ✓ - ${servicios} (${nombreDia} ${fechaLegible} ${horaTurno})`;\n\n// ============================================================================\n// EXTRAER VALORES DE CAMPOS CON ESTRUCTURA BASEROW\n// ============================================================================\n\nconst extractValue = (field) => {\n  if (Array.isArray(field) && field.length > 0) return field[0].value;\n  if (field && typeof field === 'object' && 'value' in field) return field.value;\n  return field;\n};\n\nconst extractValues = (field) => {\n  if (Array.isArray(field)) return field.map(f => f.value || f);\n  return field ? [field] : [];\n};\n\n// ============================================================================\n// CONSTRUIR baserow_update (campos a actualizar en LeadsLeraysi)\n// ============================================================================\n\nconst baserow_update = {\n  row_id: lead.id,\n  stage: 'turno_confirmado',\n  turno_agendado: true,\n  turno_fecha: turnoFechaISO,\n  sena_pagada: true,\n  notes: notaActualizada,\n  last_activity_iso: new Date().toISOString()\n};\n\n// ============================================================================\n// CONSTRUIR state (estado completo del lead)\n// ============================================================================\n\nconst state = {\n  row_id: lead.id,\n  nick_name: lead.nick_name || '',\n  full_name: lead.full_name || nombreClienta,\n  phone: lead.phone_number,\n  email: extractValue(lead.email) || '',\n  channel: extractValue(lead.channel) || 'whatsapp',\n  country: extractValue(lead.country) || 'Argentina',\n  tz: lead.tz || '-03:00',\n  stage: 'turno_confirmado',\n  priority: extractValue(lead.priority) || 'normal',\n  servicio_interes: lead.servicio_interes || serviciosLista[0] || '',\n  interests: extractValues(lead.interests),\n  foto_recibida: lead.foto_recibida || false,\n  presupuesto_dado: lead.presupuesto_dado || false,\n  turno_agendado: true,\n  turno_fecha: turnoFechaISO,\n  sena_pagada: true,\n  waiting_image: lead.waiting_image || false,\n  services_seen: parseInt(lead.services_seen) || 0,\n  prices_asked: parseInt(lead.prices_asked) || 0,\n  deep_interest: parseInt(lead.deep_interest) || 0,\n  lead_id: parseInt(lead.lead_id),\n  chatwoot_id: parseInt(lead.chatwoot_id),\n  chatwoot_inbox_id: parseInt(lead.chatwoot_inbox_id),\n  conversation_id: parseInt(lead.conversation_id || turno.conversation_id),\n  last_message: lead.last_message || '',\n  last_message_id: lead.last_message_id || '',\n  last_activity_iso: new Date().toISOString(),\n  description: `Seña pagada ✓ • Turno: ${nombreDia} ${fechaLegible} ${horaTurno} • ${servicios}`\n};\n\n// Parsear image_analysis si existe\nif (lead.image_analysis) {\n  try {\n    state.image_analysis = typeof lead.image_analysis === 'string'\n      ? JSON.parse(lead.image_analysis)\n      : lead.image_analysis;\n  } catch (e) {\n    state.image_analysis = null;\n  }\n}\n\n// ============================================================================\n// OUTPUT\n// ============================================================================\n\nreturn [{\n  json: {\n    // Mensaje para WhatsApp/Chatwoot\n    content_whatsapp: {\n      content: mensajeContent,\n      message_type: 'outgoing',\n      content_type: 'text'\n    },\n\n    // HTML para Odoo chatter\n    body_html: `<p>${mensajeContent.replace(/\\n/g, '<br>')}</p>`,\n\n    // IDs importantes\n    lead_id: parseInt(lead.lead_id),\n    row_id: lead.id,\n\n    // Campos a actualizar en Baserow\n    baserow_update,\n\n    // Estado completo del lead\n    state,\n\n    // Metadata\n    meta: {\n      timestamp: new Date().toISOString(),\n      version: 'leraysi-pago-confirmado@1.0',\n      turno_id: turno.id,\n      odoo_turno_id: turno.odoo_turno_id,\n      mp_payment_id: turno.mp_payment_id\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        128
      ],
      "id": "cfd4d65c-2064-4d1a-8847-6a681418e93c",
      "name": "TurnoLeadConfirmado"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "model",
              "fieldValue": "crm.lead"
            },
            {
              "fieldName": "res_id",
              "fieldValue": "={{ $('TurnoLeadConfirmado').item.json.lead_id }}"
            },
            {
              "fieldName": "body",
              "fieldValue": "={{ $('TurnoLeadConfirmado').item.json.body_html }}"
            },
            {
              "fieldName": "message_type",
              "fieldValue": "comment"
            },
            {
              "fieldName": "subtype_id",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        256,
        352
      ],
      "id": "4513f9be-e445-414d-9dbd-382455d8dc9f",
      "name": "UpdateChatterLead",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://chatwoot:3000/api/v1/accounts/1/conversations/{{ $('TurnoLeadConfirmado').item.json.state.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $('TurnoLeadConfirmado').item.json.content_whatsapp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        352
      ],
      "id": "3a0708bf-db61-4568-9efc-de36226b7a8b",
      "name": "Output to Chatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4CCgRLgHR96JW4Ue",
          "name": "Chatwoot Auth account "
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "BuscarTurnoPorMP": {
      "main": [
        [
          {
            "node": "PrepararTurnoPagado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepararTurnoPagado": {
      "main": [
        [
          {
            "node": "ActualizarTurnoPagado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookPagoConfirmado": {
      "main": [
        [
          {
            "node": "BuscarTurnoPorMP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActualizarTurnoPagado": {
      "main": [
        [
          {
            "node": "ObtenerLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerLead": {
      "main": [
        [
          {
            "node": "TurnoLeadConfirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TurnoLeadConfirmado": {
      "main": [
        [
          {
            "node": "UpdateLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLead": {
      "main": [
        [
          {
            "node": "UpdateChatterLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateChatterLead": {
      "main": [
        [
          {
            "node": "Output to Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ded3912f-c648-4902-ae3d-f4c4ba3af86a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139978cf5306b2088f2678ada72723ae1358f933aa7f201b1f1b735014d19bcf"
  },
  "id": "mlVG31koSK-Tdz7Csy0Wq",
  "tags": [
    {
      "updatedAt": "2026-02-04T17:36:59.816Z",
      "createdAt": "2025-11-22T14:50:50.701Z",
      "id": "TbLp68InL21vTdmh",
      "name": "leraysi-agent"
    }
  ]
}