repositories/agents/leraysi/workflows-backup/Load Services.json
{
  "name": "Load Services",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "fefd79f2-f0a6-4b26-a601-06fdf732d9e0",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "service",
                "value": "={{ $json.metadata }}"
              },
              {
                "name": "id",
                "value": "={{ $json.baseId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        368
      ],
      "id": "b986e6b1-258e-4217-8292-b5be119aff1d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        848,
        528
      ],
      "id": "f9be57a1-4205-41bc-8251-155d74265976",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "options": {
          "batchSize": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        368
      ],
      "id": "50419f62-5271-4b0a-acb0-816f3846f732",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xez5pcf77ZJRSNdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "servicios_leraysi",
          "mode": "list",
          "cachedResultName": "servicios_leraysi"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        816,
        160
      ],
      "id": "150fbece-a222-4ebb-8872-06ac58561d8f",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Jhuxh7GVQvmEPnwp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 4,
        "tableId": 850,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        304,
        160
      ],
      "id": "439a32e3-484a-495c-a5e1-7013f29cff9e",
      "name": "Get many rows",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG (Baserow + Qdrant)\n**Services** ",
        "height": 576,
        "width": 1360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        96
      ],
      "typeVersion": 1,
      "id": "e491ceda-0bfb-4d06-8f84-0c4314670e48",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Input: items desde \"Get many rows\" (Baserow - ServiciosLeraysi)\n// Output: items con { text, payload, metadata } limpios para RAG\n\nfunction val(x) {\n  if (x && typeof x === 'object' && 'value' in x) return x.value;\n  return x ?? '';\n}\n\nfunction num(x) {\n  if (x == null) return null;\n  const n = Number(String(x).replace(/[, ]+/g, ''));\n  return Number.isFinite(n) ? n : null;\n}\n\nconst out = items.map(item => {\n  const r = item.json || {};\n  \n  // Texto canonico para embeddings (el campo formula que ya creaste)\n  const text = r.contenido_rag || '';\n  \n  // Payload limpio para filtros/UX\n  const payload = {\n    id: r.id,\n    servicio: r.servicio || '',\n    categoria: val(r.categoria),\n    precio_base: num(r.precio_base),\n    requiere_foto: Boolean(r.requiere_foto),\n    tiempo_estimado: r.tiempo_estimado || '',\n    notas: r.notas || '',\n    source: 'baserow.ServiciosLeraysi',\n  };\n  \n  return {\n    json: {\n      text,\n      payload,\n      metadata: payload,\n      baseId: r.id,\n    },\n  };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        160
      ],
      "id": "f7b7a3da-00c4-4637-8225-ecdfaffdd35e",
      "name": "FilterJsonCleanLeraysi"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "FilterJsonCleanLeraysi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterJsonCleanLeraysi": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2e277cc3-2b72-4fa8-af56-5eadda6787d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139978cf5306b2088f2678ada72723ae1358f933aa7f201b1f1b735014d19bcf"
  },
  "id": "xANuydj39gbbYkpU",
  "tags": [
    {
      "updatedAt": "2026-02-04T17:41:38.546Z",
      "createdAt": "2026-02-04T17:41:38.546Z",
      "id": "3k3hEzile9Jwmnjs",
      "name": "RAG-baserow"
    }
  ]
}