repositories/agents/leraysi/workflows-backup/Load_Services.json
{
  "id": "xANuydj39gbbYkpU",
  "name": "Load Services",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "fefd79f2-f0a6-4b26-a601-06fdf732d9e0",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "databaseId": 4,
        "tableId": 850,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        304,
        160
      ],
      "id": "439a32e3-484a-495c-a5e1-7013f29cff9e",
      "name": "Get many rows",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FilterJsonCleanLeraysi - transforms Baserow rows for RAG embedding"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        160
      ],
      "id": "f7b7a3da-00c4-4637-8225-ecdfaffdd35e",
      "name": "FilterJsonCleanLeraysi"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "servicios_leraysi",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        816,
        160
      ],
      "id": "150fbece-a222-4ebb-8872-06ac58561d8f",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Jhuxh7GVQvmEPnwp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        368
      ],
      "id": "50419f62-5271-4b0a-acb0-816f3846f732",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xez5pcf77ZJRSNdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "service",
                "value": "={{ $json.metadata }}"
              },
              {
                "name": "id",
                "value": "={{ $json.baseId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        368
      ],
      "id": "b986e6b1-258e-4217-8292-b5be119aff1d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        848,
        528
      ],
      "id": "f9be57a1-4205-41bc-8251-155d74265976",
      "name": "Token Splitter"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "FilterJsonCleanLeraysi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterJsonCleanLeraysi": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  }
}