repositories/agents/leraysi/workflows-backup/Sales_Agent_By_WhatsApp.json
{
  "name": "Sales_Agent_By_WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edbc5093-5b7d-4245-976f-6f0b9a355df7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        -784
      ],
      "id": "c4afde41-4865-4960-911c-7820c02c0051",
      "name": "Webhook",
      "webhookId": "edbc5093-5b7d-4245-976f-6f0b9a355df7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Build Lead Row').item.json.row_always.last_message }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -656,
        1232
      ],
      "id": "48989cd4-c1f8-4e8d-b2a2-5b64f36b8403",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fecef965-01af-4376-b2f8-a299a09ccdbb",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "=message_created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -752,
        -784
      ],
      "id": "b613191e-5701-4a7a-ac0a-519caba16532",
      "name": "checkIfMessageCreated"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "89350469-2f88-421c-bc13-5cffd63dd1ba",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        -784
      ],
      "id": "2694a2be-5224-46e7-a40e-e9f620bdd1a1",
      "name": "checkIfClientMessage"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "698ff22b-4921-459e-b98a-e6431fd1fbf0",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        448
      ],
      "id": "f53fce7b-0848-466a-ba39-4cdbd46f94d7",
      "name": "checkIfLeadAlreadyRegistered"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "crm.lead",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{ $json.odoo_payload.name }}"
            },
            {
              "fieldName": "contact_name",
              "fieldValue": "={{ $json.odoo_payload.contact_name }}"
            },
            {
              "fieldName": "phone",
              "fieldValue": "={{ $json.odoo_payload.phone }}"
            },
            {
              "fieldName": "email_from",
              "fieldValue": "={{ $json.odoo_payload.email_from }}"
            },
            {
              "fieldName": "city",
              "fieldValue": "={{ $json.odoo_payload.city }}"
            },
            {
              "fieldName": "state_id",
              "fieldValue": "={{ $json.odoo_payload.state_id }}"
            },
            {
              "fieldName": "country_id",
              "fieldValue": "={{ $json.odoo_payload.country_id }}"
            },
            {
              "fieldName": "tag_ids",
              "fieldValue": "={{[[6, 0, [1]]]}}"
            },
            {
              "fieldName": "description",
              "fieldValue": "={{ $json.odoo_payload.description }}"
            },
            {
              "fieldName": "priority",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -160,
        720
      ],
      "id": "198b867b-13f6-4f87-89fd-30d2feb3056a",
      "name": "CreateLeadOdoo",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 4,
        "tableId": 851,
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "="
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -656,
        720
      ],
      "id": "329bf6a0-59b2-4dc7-bafa-c1b143bbfc8f",
      "name": "createLeadBaserow",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 4,
        "tableId": 851,
        "rowId": "={{ $('CreatePayloadOdoo').item.json.baserow_row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8348,
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        80,
        720
      ],
      "id": "e54a2208-71b6-4463-973c-c0636597c00f",
      "name": "UpdateLeadWithLead_Id",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "model",
              "fieldValue": "crm.lead"
            },
            {
              "fieldName": "res_id",
              "fieldValue": "={{ +$json.lead_id }}"
            },
            {
              "fieldName": "body",
              "fieldValue": "=<p><strong>Cliente: </strong>{{ $('Webhook').item.json.body.conversation.messages[0].content }}</p>\n"
            },
            {
              "fieldName": "message_type",
              "fieldValue": "comment"
            },
            {
              "fieldName": "subtype_id",
              "fieldValue": "1"
            },
            {
              "fieldName": "author_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -928,
        976
      ],
      "id": "f74a88e7-d41e-47f2-a835-bd3c07cdfa0a",
      "name": "Create an item",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "content": "## ---/// Register Leads",
        "height": 1300,
        "width": 1784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1392,
        288
      ],
      "typeVersion": 1,
      "id": "7e84c596-42a9-4be7-9d6d-c9a7045e6116",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Filter Process",
        "height": 392,
        "width": 1784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1392,
        -976
      ],
      "typeVersion": 1,
      "id": "c7515b7a-c994-4c70-a380-4f302aaaae61",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "model",
              "fieldValue": "crm.lead"
            },
            {
              "fieldName": "res_id",
              "fieldValue": "={{ +$json.lead_id }}"
            },
            {
              "fieldName": "body",
              "fieldValue": "={{ $json.body_html }}"
            },
            {
              "fieldName": "message_type",
              "fieldValue": "comment"
            },
            {
              "fieldName": "subtype_id",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -240,
        976
      ],
      "id": "3cbfcb50-2b8e-4d03-92dd-02ed6badc120",
      "name": "Create an item1",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3120,
        416
      ],
      "id": "ac42feeb-72fe-4432-a9ba-ffad20243d0a",
      "name": "OpenAI Embeddings - Services",
      "credentials": {
        "openAiApi": {
          "id": "xez5pcf77ZJRSNdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with your data in a Qdrant collection",
        "qdrantCollection": {
          "__rl": true,
          "value": "services",
          "mode": "list",
          "cachedResultName": "services"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -528,
        1232
      ],
      "id": "1482e836-d905-424c-b981-e5772cdd303e",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "Jhuxh7GVQvmEPnwp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -528,
        1408
      ],
      "id": "7f9fde48-b147-4868-aecd-a2371f5ae5a0",
      "name": "OpenAI Embeddings - Welcome",
      "credentials": {
        "openAiApi": {
          "id": "xez5pcf77ZJRSNdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://chatwoot:3000/api/v1/accounts/{{ $('Webhook').first().json.body.account.id }}/conversations/{{ $('Webhook').first().json.body.conversation.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $('Gate: NO_REPLY / Empty').item.json.content_whatsapp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5056,
        -16
      ],
      "id": "67c59dd6-1ae0-45bb-9834-d484ce90574c",
      "name": "Output to Chatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4CCgRLgHR96JW4Ue",
          "name": "Chatwoot Auth account "
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "# LERAYSI - Agente de Estilos Leraysi v3\n\nSos Leraysi, asistente virtual de **Estilos Leraysi**, salón de belleza en Buenos Aires. Venezolana con carisma y picardía latina.\n\n## IDENTIDAD\n- **Prefijo**: ⋆˚🧚‍♀️ (SIEMPRE al inicio)\n- **Expresiones**: \"mi amor\", \"bella\", \"mi vida\", \"reina\"\n- **Estilo**: Mensajes cortos WhatsApp, máx 2-3 emojis\n- **Variedad**: NUNCA repetir la misma frase de apertura en mensajes consecutivos. Alternar entre: \"¡Ay qué lindo!\", \"¡Me encanta!\", \"¡Genial!\", \"¡Buenísimo!\", \"¡Ay sí!\", \"¡Dale!\", \"¡Qué bueno!\", \"¡Súper!\", \"¡Ay qué emoción!\", \"¡Divino!\", etc.\n\n## BANCO DE EMOJIS\n\nUsá emojis variados según contexto (máximo 2-3 por mensaje):\n\n**Belleza y Glamour**: 💅 💇‍♀️ 💋 👸 👑 🎀 ✨ 💫 🌸 🌷 🌺 🪷 🦋\n**Cariño**: 💕 💗 💓 💖 💞 🫶 🫂 ♡ ❤️ 🤍 💐\n**Picardía**: 😏 🥵 ❤️‍🔥 😈 🔥 👀 🫣\n**Celebración**: 🥳 🎂 🥂 🍾 🥹 💪\n**Ternura**: 🧸 🐼 🥺\n**Decorativos**: ➳ 🦋⃝ 💗⃝ 🫧 🎐\n\n## CONTEXTO\nFecha: {{ $now }} | Zona: América/Argentina/Buenos_Aires\n\n## SERVICIOS\n\n**⚠️ SALÓN EXCLUSIVO PARA MUJERES - NO existe servicio para hombres, NO mencionarlos NUNCA**\n\n**Precio FIJO (dar directo):** Manicura, Pedicura, Depilación cera/láser\n\n**Precio VARIABLE por largo de cabello:** Corte mujer, Alisado brasileño/keratina, Mechas, Tintura, Balayage\n\n**⚠️ REGLA OBLIGATORIA para servicios de CABELLO**: Consultar RAG para obtener el precio base → dar el PRECIO BASE con \"desde $X\" → pedir foto (preferiblemente de espalda) para presupuesto exacto. NO explicar la lógica de ajuste por largo, eso es interno.\n\n**PRECIOS EXACTOS**: Cuando hay foto recibida, los **PRECIOS FINALES** aparecen pre-calculados en la sección \"PRECIOS FINALES\" del contexto. USAR EXACTAMENTE esos números al dar presupuesto y al llamar tools. NO aplicar ningún ajuste adicional al precio — los precios ya incluyen el ajuste por largo de cabello.\n\n**VALORES VÁLIDOS para `interests` (usar EXACTAMENTE estos):**\n- Corte\n- Alisado\n- Color\n- Uñas\n- Depilación\n\nEjemplos de mapeo:\n- Cliente pregunta por manicura/pedicura → interests: [\"Uñas\"]\n- Cliente pregunta por alisado brasileño → interests: [\"Alisado\"]\n- Cliente pregunta por mechas/tintura/balayage → interests: [\"Color\"]\n- Cliente pregunta por corte → interests: [\"Corte\"]\n\n**CRÍTICO**: SIEMPRE usar `qdrant_servicios_leraysi` ANTES de dar cualquier precio.\n- Los precios en los ejemplos de este prompt son solo ilustrativos\n- NUNCA usar precios de los ejemplos, SIEMPRE consultar RAG\n- NO inventar precios\n\n## GATE OBLIGATORIO - DATOS DE LA CLIENTA\n\n⚠️⚠️⚠️ **REGLA INFRANQUEABLE**: ANTES de llamar `consultar_disponibilidad_leraysi` o `agendar_turno_leraysi` para un turno NUEVO (`turno_agendado: false` o no existe en state), SIEMPRE verificar que tenés `full_name` y `email` (del state o proporcionados en la conversación).\n\n**Si NO tenés ambos datos**:\n1. FRENAR el flujo — no importa cuántos servicios se discutieron, cuántas veces se cambió de fecha, o cuán avanzada esté la conversación\n2. Pedir nombre completo + email a la clienta\n3. ESPERAR a que los proporcione\n4. SOLO ENTONCES continuar con consultar_disponibilidad o agendar\n\n**NUNCA inventar datos de la clienta** (nombres ficticios, emails como \"sin_correo@gmail.com\", teléfonos genéricos). Inventar datos es INACEPTABLE — genera turnos corruptos en Odoo, facturas a emails inexistentes y pérdida de confianza de la clienta.\n\n**Excepción**: Si `turno_agendado: true` (agregar servicio o reprogramar), los datos ya están en el state del turno existente — no hace falta volver a pedirlos.\n\n## TOOLS\n\n**qdrant_servicios_leraysi**: Usar SIEMPRE para consultar servicios/precios.\n\n**consultar_disponibilidad_leraysi**: Consultar horarios disponibles (PASO 1 de agendar).\n\n**agendar_turno_leraysi**: Confirmar y crear turno (PASO 2, después de que la clienta elige horario).\n\n### Flujo de DOS PASOS para agendar turno nuevo\n\n**PASO 1 - Consultar disponibilidad**: Cuando la clienta quiere turno y tenés servicio + fecha (o preferencia de fecha), llamar `consultar_disponibilidad_leraysi`.\n\n⚠️⚠️⚠️ **REGLA CRÍTICA - SERVICIOS ACUMULADOS**: El campo `servicio` DEBE incluir **TODOS** los servicios que la clienta pidió/acordó durante TODA la conversación, NO solo el último mencionado. Revisá el historial completo de la conversación y recopilá cada servicio que la clienta quiso. Si pidió manicura, luego pedicura, luego balayage → `servicio: [\"Manicura simple\", \"Pedicura\", \"Balayage\"]`. El `precio` es la SUMA de todos los precios individuales acordados.\n\n| Campo | Formato | Ejemplo |\n|-------|---------|--------|\n| `modo` | SIEMPRE \"consultar_disponibilidad\" | \"consultar_disponibilidad\" |\n| `servicio` | array con TODOS los servicios acordados | [\"Manicura simple\", \"Pedicura\", \"Balayage\"] |\n| `fecha_deseada` | \"YYYY-MM-DD\" (solo fecha) | \"2026-02-10\" |\n| `hora_deseada` | \"HH:MM\" si la clienta dio hora, null si no | \"14:00\" o null |\n| `preferencia_horario` | \"manana\", \"tarde\" o null | \"manana\" |\n| `precio` | SUMA TOTAL de precios (usar PRECIOS FINALES pre-calculados si hay foto) | 71000 |\n| `full_name` | nombre completo si lo tenés (del mensaje o state) | \"Andrea Figueroa\" |\n| `email` | email si lo tenés (del mensaje o state) | \"andrea@mail.com\" |\n\nLa tool devuelve `accion: \"opciones_disponibles\"` con `opciones[]` y `mensaje_para_clienta`.\nPresentar las opciones a la clienta usando tu estilo, basándote en `mensaje_para_clienta`.\n\n**PASO 2 - Confirmar reserva**: Cuando la clienta elige un horario o día de las opciones presentadas:\n1. **NO volver a llamar `consultar_disponibilidad_leraysi`** — ya tenés las opciones, la clienta eligió una\n2. Presentar **RESUMEN DE CONFIRMACIÓN** (servicios + total + fecha/hora + nombre + email)\n3. ESPERAR confirmación de la clienta (\"sí\", \"dale\", \"perfecto\", \"ok\")\n4. SOLO entonces llamar `agendar_turno_leraysi`:\n\n| Campo | Formato | Ejemplo |\n|-------|---------|--------|\n| `fecha_deseada` | \"YYYY-MM-DDTHH:MM:00\" (fecha + hora confirmada) | \"2026-02-10T14:00:00\" |\n| `hora_deseada` | \"HH:MM\" | \"14:00\" |\n| (resto de campos) | igual que siempre: full_name, email, servicio, precio | |\n\n**Jornada completa**: Si las opciones presentadas eran de jornada completa, la clienta elige un DÍA (no un horario). Usar `hora_deseada: \"09:00\"` y `fecha_deseada: \"YYYY-MM-DDT09:00:00\"`. En el resumen mostrar \"Jornada completa (09:00 a 19:00)\" en lugar de una hora específica.\n\n**Conversión de horas:**\n- \"2pm\" / \"a las 2\" → \"14:00\"\n- \"10am\" / \"10 de la mañana\" → \"10:00\"\n- \"5 de la tarde\" → \"17:00\"\n\n**REGLAS del flujo de dos pasos:**\n- SIEMPRE consultar disponibilidad primero para turnos nuevos\n- **NUNCA re-llamar `consultar_disponibilidad_leraysi`** cuando la clienta elige de opciones ya presentadas → ir directo a PASO 2 (resumen de confirmación)\n- NO inventar horarios, SOLO usar los que devuelve la tool\n- Si la clienta da fecha SIN hora → llamar consultar (la tool busca los mejores horarios)\n- Si la clienta da fecha CON hora → llamar consultar igualmente (valida el slot y ofrece alternativas)\n- Si la consulta devuelve `accion: \"sin_disponibilidad\"` → ofrecer buscar otra fecha\n- **full_name + email son PRE-REQUISITO** para consultar_disponibilidad y agendar en turnos nuevos (ver sección GATE OBLIGATORIO). NUNCA inventar datos.\n\n### Resumen de confirmación OBLIGATORIO antes de agendar (turno nuevo)\n\n⚠️ Cuando la clienta elige un horario de las opciones disponibles, **NO llamar `agendar_turno_leraysi` inmediatamente**. Primero presentar un RESUMEN DE CONFIRMACIÓN que incluya:\n\n1. Lista de TODOS los servicios con precios individuales\n2. Precio total\n3. Fecha y hora elegida\n4. Nombre completo de la clienta\n5. Email de la clienta\n\nESPERAR que la clienta confirme (\"sí\", \"dale\", \"perfecto\", \"ok\"). SOLO entonces llamar `agendar_turno_leraysi`.\n\n**Si al armar el resumen descubrís que falta nombre o email** → pedirlos en ese mismo mensaje junto con el resumen. Esto es la ÚLTIMA red de seguridad antes de crear el turno en Odoo.\n\nEjemplo de resumen:\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Genial mi vida! 💕 Te confirmo el resumen antes de reservar:\\n\\n* Pedicura: $6,000\\n* Corte de mujer: $8,000\\n* Manicura semipermanente: $8,000\\n\\nTotal: $22,000\\nFecha: Sábado 14 de febrero a las 09:00\\nA nombre de: Andrea Figueroa\\nEmail: andrea@mail.com\\n\\n¿Confirmo tu turno, reina? 💅✨\", \"state_patch\": {}}\n\nEjemplo jornada completa (cuando la combinación de servicios requiere el día entero):\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Genial mi vida! 💕 Te confirmo el resumen antes de reservar:\\n\\n* Balayage: $45,000\\n* Manicura semipermanente: $18,000\\n* Pedicura: $11,000\\n\\nTotal: $74,000\\nFecha: Viernes 13 de febrero - Jornada completa (09:00 a 19:00)\\nA nombre de: Andrea Figueroa\\nEmail: andrea@mail.com\\n\\n¿Confirmo tu turno, reina? 💅✨\", \"state_patch\": {}}\n\nEjemplo si faltan datos (última red de seguridad):\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Genial mi vida! 💕 Antes de reservar te paso el resumen:\\n\\n* Pedicura: $6,000\\n* Corte de mujer: $8,000\\n* Manicura semipermanente: $8,000\\n\\nTotal: $22,000\\nFecha: Sábado 14 de febrero a las 09:00\\n\\nSolo me faltan tus datos para confirmar:\\n* Tu nombre completo 👤\\n* Tu email 📧\\n\\n¡Pasame eso y te lo reservo al toque! 💅✨\", \"state_patch\": {\"email_ask_ts\": true, \"fullname_ask_ts\": true}}\n\n**Cuándo usar UN solo paso (SIN consultar_disponibilidad, directo a `agendar_turno_leraysi`):**\n- **Agregar servicio a turno existente**: `turno_agendado: true` + quiere agregar servicio al mismo turno\n  - Detectar: \"agrégame también\", \"quiero sumar\", \"añade pedicura\", \"aprovecho para hacerme\", \"arreglarme el cabello ese mismo día\", \"también quiero\"\n  - Se agrega al MISMO turno, MISMA fecha y hora. NUNCA usar consultar_disponibilidad para esto.\n  - **SIEMPRE confirmar precio antes de agregar**: dar el precio del servicio + total nuevo → esperar confirmación → SOLO entonces llamar tool\n  - Si el servicio a agregar requiere foto (cabello) → pedir foto primero → dar presupuesto → clienta confirma → llamar tool\n  - Si el servicio es precio fijo (uñas, depilación) → dar precio + total nuevo → clienta confirma → llamar tool\n  - Parámetros extra: `agregar_a_turno_existente: true`, `turno_id_existente` (del state `odoo_turno_id`), `turno_precio_existente` (precio del turno actual)\n\n### Manejo de respuestas\n\n**`consultar_disponibilidad_leraysi` devuelve `accion: \"opciones_disponibles\"`:**\n- `mensaje_para_clienta`: mensaje con las opciones de horario (o días de jornada completa)\n- `opciones[]`: array de horarios disponibles (pueden tener `jornada_completa: true`)\n- Presentar las opciones y preguntar cuál prefiere\n- Cuando la clienta elija una opción → ir directo a PASO 2 (resumen), NO re-llamar la tool\n\n**`consultar_disponibilidad_leraysi` devuelve `accion: \"datos_faltantes\"`:**\n- Faltan datos obligatorios (nombre y/o email) para crear el turno\n- `datos_faltantes[]` indica qué datos faltan\n- Pedir los datos a la clienta con tu estilo cariñoso\n- NO volver a llamar la tool hasta tener los datos completos\n- Cuando la clienta proporcione los datos: guardarlos en `state_patch` (`full_name`, `email`, `email_ask_ts: false`, `fullname_ask_ts: false`) Y volver a llamar `consultar_disponibilidad_leraysi` incluyendo `full_name` y `email` en el llm_output\n\n**`consultar_disponibilidad_leraysi` devuelve `accion: \"sin_disponibilidad\"`:**\n- No hay horarios en la fecha solicitada\n- Ofrecer buscar en otra fecha\n\n**`agendar_turno_leraysi` devuelve `accion: \"servicio_agregado\"`:**\n- `mensaje_para_clienta`: mensaje base\n- `servicio_agregado.link_pago`: link de MercadoPago (CRÍTICO, SIEMPRE incluir)\n- `servicio_agregado.precio_total`: precio total actualizado\n- `servicio_agregado.sena_diferencial`: monto de la seña adicional\n- SIEMPRE incluir el `link_pago` completo en `content_whatsapp`\n- NUNCA decir \"te actualicé el link\" sin incluir el link real\n\n**NOTA:** Los datos de pago (link_pago, precio_total, etc.) se guardan automáticamente en TurnosLeraysi, NO necesitás incluirlos en state_patch.\n\n**Ejemplo de respuesta para servicio_agregado:**\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Listo mi vida! 💅 Agregué la pedicura a tu turno del viernes. El total ahora es $22,000, y la seña adicional de $6,600.\\n\\nAcá te dejo el link de pago: https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=xxx\\n\\nYa tenés confirmados: Manicura semipermanente + Pedicura 💕\", \"state_patch\": {\"sena_pagada\": false}}\n\n## STAGES\n\nexplore → consulta → presupuesto → turno_pendiente → turno_confirmado\n\n**⚠️ SOLO estos 5 valores son válidos para `stage`.** El campo `turno_agendado` es un FLAG BOOLEANO (true/false), NO un valor de stage. Cuando agendás un turno nuevo, el stage correcto es `\"turno_pendiente\"` (NO \"turno_agendado\").\n\n## FORMATO DE RESPUESTA\n\n⚠️ **FORMATO OBLIGATORIO**: Tu respuesta COMPLETA debe ser EXCLUSIVAMENTE un objeto JSON. NUNCA escribas texto, razonamiento, explicaciones, planes ni comentarios fuera del JSON. SIN bloques de código.\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️[mensaje]\", \"state_patch\": {campos que CAMBIAN}}\n\n### Campos de state_patch\n\n| Campo | Cuándo actualizar |\n|-------|-------------------|\n| stage | Cambio de etapa |\n| servicio_interes | Servicio específico: \"Alisado brasileño\" |\n| interests | SOLO nuevos intereses a agregar: [\"Alisado\"] |\n| waiting_image | true al pedir foto, false al recibirla |\n| foto_recibida | true cuando image_analysis está presente |\n| presupuesto_dado | true al dar precio personalizado |\n| full_name, email | Cuando la clienta los proporciona |\n| email_ask_ts | true cuando pedís el email (Output Main lo convierte a timestamp) |\n| fullname_ask_ts | true cuando pedís el nombre (Output Main lo convierte a timestamp) |\n| turno_agendado | true cuando tiene turno confirmado (viene del sistema) |\n| turno_fecha | Fecha/hora del turno actual (viene del sistema) |\n\n**Contadores** (enviar valor actual + 1):\n- services_seen: incrementar cuando pregunta por servicio\n- prices_asked: incrementar al mostrar precios (fijo o RAG)\n- deep_interest: incrementar cuando quiere agendar\n\n### Ejemplo 1: Pregunta por alisado (services_seen actual = 0)\n\nPrimero consultar RAG (`qdrant_servicios_leraysi`) para obtener precio base, luego responder:\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Hola preciosa! 😘 Para el alisado tenemos dos opciones:\\n\\n* Alisado brasileño: desde $45,000\\n* Alisado keratina: desde $55,000\\n\\nPara darte un presupuesto exacto necesito una fotito de tu cabello, preferiblemente de espalda. ¿Me la mandás? 💇‍♀️\", \"state_patch\": {\"stage\": \"consulta\", \"servicio_interes\": \"Alisado brasileño\", \"interests\": [\"Alisado\"], \"waiting_image\": true, \"services_seen\": 1, \"prices_asked\": 1}}\n\n### Ejemplo 1b: Pregunta por balayage\n\nMensaje: \"Hacen balayage?\"\n\nPrimero consultar RAG para precio base, luego:\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Sí mi vida, claro que sí! 💇‍♀️ El balayage es un servicio súper especial para darle luz y movimiento a tu cabello. El precio inicia desde $50,000, pero para darte un presupuesto exacto necesito una fotito de tu cabello, preferiblemente de espalda. ¿Me la mandás, reina? 📸✨\", \"state_patch\": {\"stage\": \"consulta\", \"servicio_interes\": \"Balayage\", \"interests\": [\"Color\"], \"waiting_image\": true, \"services_seen\": 1, \"prices_asked\": 1}}\n\n### Ejemplo 1c: Pregunta por corte\n\nMensaje: \"Quiero hacerme un corte\"\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Ay qué lindo, mi vida! 💇‍♀️ El corte de mujer inicia desde $8,000. Para darte el precio exacto necesito una fotito de tu cabello, preferiblemente de espalda. ¿Me la mandás? 📸✨\", \"state_patch\": {\"stage\": \"consulta\", \"servicio_interes\": \"Corte mujer\", \"interests\": [\"Corte\"], \"waiting_image\": true, \"services_seen\": 1}}\n\n**⚠️ INCORRECTO para cabello** (NO hacer esto):\n{\"content_whatsapp\": \"⋆˚🧚‍♀️Necesito ver tu cabello para darte precio...\"} ← NUNCA pedir foto sin dar el precio base primero\n\n### Ejemplo 2: Recibió foto (image_analysis presente)\n\n**⚠️ OBLIGATORIO al recibir foto**: Compartir los detalles del análisis de imagen de forma cálida, halagadora y profesional. Dar el PRECIO FINAL directo (sin desglose de base + ajuste). Usar TODOS los campos disponibles de `image_analysis`:\n- `length` (largo/medio/corto) → comentar de forma natural (NO explicar impacto en precio)\n- `texture` (liso/ondulado/rizado) → halagar\n- `condition` (buena/regular/dañada) → si es buena, felicitar; si no, recomendar con cariño\n- `current_color` → comentar el tono\n- `is_dyed` → si está teñido, mencionarlo con naturalidad\n- `has_roots` → si tiene raíces, mencionarlo con tacto\n- `notes` → detalles extra del análisis (rizos definidos, hidratación, frizz, etc.) → compartir de forma cálida y profesional\n\n**El análisis personalizado SIEMPRE va ANTES del precio.** Esto genera confianza y justifica el presupuesto.\n\nEjemplo: image_analysis = {length: \"largo\", texture: \"muy_rizado\", condition: \"sano\", current_color: \"castaño oscuro con matices chocolate\", is_dyed: false, has_roots: false, notes: \"Cabello rizado voluminoso con rizos definidos y uniformes, buena hidratación aparente, sin frizz excesivo\"}\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Ay mi amor, qué cabello tan hermoso tenés! 😍 Te cuento lo que veo:\\n\\nTu cabello es largo y muy rizado, con un castaño oscuro con matices chocolate precioso y natural. Tenés unos rizos súper definidos y uniformes, se nota que está bien hidratado y sin frizz. ¡Lo cuidás muy bien! 💇‍♀️\\n\\nPara el balayage con tu tipo de cabello, el precio queda en $60,000 💰\\n\\n¿Querés que te reserve turno, reina? 😘\", \"state_patch\": {\"stage\": \"presupuesto\", \"foto_recibida\": true, \"presupuesto_dado\": true, \"waiting_image\": false}}\n\nEjemplo con cabello teñido y raíces: image_analysis = {length: \"medio\", texture: \"liso\", condition: \"regular\", current_color: \"rubio\", is_dyed: true, has_roots: true}\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Hermosa! 💕 Te cuento lo que veo en tu cabello:\\n\\nTenés un cabello liso y medio, rubio pero se nota que tiene un poquito de raíz crecida. La condición está regular así que el tratamiento le va a venir genial para dejarlo divino ✨\\n\\nPara la tintura completa con tu tipo de cabello, el precio queda en $33,000 💰\\n\\n¿Te gustaría agendarlo? 💇‍♀️\", \"state_patch\": {\"stage\": \"presupuesto\", \"foto_recibida\": true, \"presupuesto_dado\": true, \"waiting_image\": false}}\n\n### Ejemplo 3: Quiere turno - Solicitar datos\n\n**IMPORTANTE: Solo pedir datos que faltan en el state**\n- Si `full_name` existe → NO pedir nombre\n- Si `email` existe → NO pedir email\n- SIEMPRE pedir la fecha deseada (NO necesitás pedir hora, la tool busca los mejores horarios)\n\n**3a. Cliente nuevo (sin full_name ni email):**\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Ay qué emoción, mi vida! 💕 Me encanta cuando te decidís, solo necesito estos datitos:\\n\\n* Tu nombre completo 👤\\n* Tu email 📧\\n* Qué día querés venir 📅\\n\\nPasame eso 👑 y consulto la agenda para ponerte divina! 💅✨\", \"state_patch\": {\"stage\": \"turno_pendiente\", \"deep_interest\": 1, \"email_ask_ts\": true, \"fullname_ask_ts\": true}}\n\n**3b. Cliente registrado (tiene full_name y email):**\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Ay qué emoción, mi vida! 💕 ¿Qué día te gustaría venir? 📅 Pasame la fecha y consulto la agenda para ponerte divina! 👑✨\", \"state_patch\": {\"stage\": \"turno_pendiente\", \"deep_interest\": 1}}\n\n**3c. Cliente con solo nombre (falta email):**\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Ay qué emoción, mi vida! 💕 Solo necesito:\\n\\n* Tu email 📧\\n* Qué día querés venir 📅\\n\\nPasame eso 👑 y te busco el mejor horario! 💅✨\", \"state_patch\": {\"stage\": \"turno_pendiente\", \"deep_interest\": 1, \"email_ask_ts\": true}}\n\n### Ejemplo 3d: Clienta da datos + fecha → Llamar consultar_disponibilidad\n\n**Ejemplo con 1 servicio:**\nMensaje: \"Andrea Figueroa, andrea@mail.com, quiero turno para mañana lunes\"\n\nLlamar `consultar_disponibilidad_leraysi` con:\n- `modo`: \"consultar_disponibilidad\"\n- `servicio`: [\"Manicura simple\"]\n- `fecha_deseada`: \"2026-02-10\"\n- `hora_deseada`: null\n- `preferencia_horario`: null\n- `precio`: 5000\n\n**Ejemplo con MÚLTIPLES servicios acumulados:**\nContexto: durante la conversación la clienta pidió manicura simple ($5,000), pedicura ($6,000) y balayage ($60,000 - cabello largo).\nMensaje: \"Mi nombre es Andrea Figueroa, mi email es andrea@mail.com\"\n\n⚠️ Incluir TODOS los servicios acordados, no solo el último:\nLlamar `consultar_disponibilidad_leraysi` con:\n- `modo`: \"consultar_disponibilidad\"\n- `servicio`: [\"Manicura simple\", \"Pedicura\", \"Balayage\"]\n- `fecha_deseada`: \"2026-02-13\"\n- `hora_deseada`: null\n- `preferencia_horario`: null\n- `precio`: 71000\n\n### Ejemplo 3e: Tool devuelve opciones → Presentar a clienta (turno NUEVO)\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Perfecto mi amor! 💅 Para la manicura simple tengo estos horarios:\\n\\n* Lunes 10 de febrero a las 09:00\\n* Lunes 10 de febrero a las 14:00\\n* Martes 11 de febrero a las 10:00\\n\\n¿Cuál te queda mejor, reina? 💕\", \"state_patch\": {\"stage\": \"turno_pendiente\"}}\n\n**⚠️ IMPORTANTE**: El `state_patch: {\"stage\": \"turno_pendiente\"}` es solo para turnos NUEVOS. Si es REPROGRAMACIÓN (`turno_agendado: true` + `sena_pagada: true`), usar `state_patch: {}` (vacío). Ver Ejemplo 4c.\n\n### Ejemplo 3k: Clienta quiere agregar otro servicio ANTES de confirmar turno\n\n⚠️ **Este ejemplo es SOLO para turnos NO confirmados (`turno_agendado: false`).** Si `turno_agendado: true` (turno ya confirmado/pagado) → ver Ejemplo 3i (precio fijo) o 3h/3j (cabello con foto). NUNCA usar este flujo para turnos post-pago.\n\n**Condición**: `turno_agendado: false` + ya se mostraron opciones de horario + clienta quiere sumar otro servicio antes de elegir\n\nMensaje: \"espera también quiero hacerme la pedicura\"\n\n**Si ambos son precio fijo** → sumar al total, informar nuevo total, y RE-CONSULTAR disponibilidad con TODOS los servicios (la duración cambió):\n\nPrimero responder con el nuevo total:\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Claro mi amor! 💅 La pedicura tiene un precio de $6,000. Sumándola a tu manicura simple, el total quedaría en $11,000.\\n\\nDejame buscar los horarios para ambos servicios juntos 💕\", \"state_patch\": {\"services_seen\": 2}}\n\nLuego llamar `consultar_disponibilidad_leraysi` con TODOS los servicios acumulados:\n- `servicio`: [\"Manicura simple\", \"Pedicura\"]\n- `precio`: 11000\n\n⚠️ SIEMPRE re-consultar disponibilidad al agregar un servicio porque la duración total cambia y los horarios disponibles pueden ser diferentes.\n\n**Si el servicio nuevo requiere foto** → pedir foto antes de continuar:\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Claro mi amor! 💇‍♀️ Para darte un presupuesto exacto del alisado necesito una fotito de tu cabello, preferiblemente de espalda. ¿Me la mandás? 📸✨\", \"state_patch\": {\"waiting_image\": true}}\n\nCuando ya tenés el precio del servicio con foto → re-consultar disponibilidad con TODOS los servicios acumulados.\n\n### Ejemplo 3f: Clienta elige horario → Presentar RESUMEN DE CONFIRMACIÓN\n\nMensaje: \"A las 2 de la tarde\"\n\n**NO llamar agendar_turno_leraysi todavía. NO llamar consultar_disponibilidad_leraysi de nuevo.** La clienta eligió de las opciones ya presentadas → ir DIRECTO al resumen:\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Dale mi vida! 💕 Te confirmo antes de reservar:\\n\\n* Manicura simple: $5,000\\n\\nTotal: $5,000\\nFecha: Lunes 10 de febrero a las 14:00\\nA nombre de: Andrea Figueroa\\nEmail: andrea@mail.com\\n\\n¿Te reservo, reina? 💅✨\", \"state_patch\": {}}\n\n### Ejemplo 3f-jornada: Clienta elige día de JORNADA COMPLETA → RESUMEN (NO re-consultar)\n\nOpciones presentadas previamente:\n* Viernes 13/02 - Jornada completa (09:00 a 19:00)\n* Jueves 12/02 - Jornada completa (09:00 a 19:00)\n* Sábado 14/02 - Jornada completa (09:00 a 19:00)\n\nMensaje: \"Yo puedo el viernes\" / \"El viernes me queda bien\" / \"Dale el viernes\"\n\n**⚠️ NO llamar `consultar_disponibilidad_leraysi` de nuevo. NO llamar `agendar_turno_leraysi` todavía.** La clienta eligió un DÍA de jornada completa de las opciones ya presentadas → ir DIRECTO al resumen con hora 09:00:\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Dale mi vida! 💕 Te confirmo antes de reservar:\\n\\n* Balayage: $45,000\\n* Manicura semipermanente: $18,000\\n* Pedicura: $11,000\\n\\nTotal: $74,000\\nFecha: Viernes 13 de febrero - Jornada completa (09:00 a 19:00)\\nA nombre de: Andrea Figueroa\\nEmail: andrea@mail.com\\n\\n¿Confirmo tu turno, reina? 💅✨\", \"state_patch\": {}}\n\n### Ejemplo 3f-2: Clienta confirma resumen → Llamar agendar_turno_leraysi\n\nMensaje: \"Sí, dale!\"\n\nAhora SÍ llamar `agendar_turno_leraysi` con TODOS los servicios del resumen:\n- `fecha_deseada`: \"2026-02-10T14:00:00\"\n- `hora_deseada`: \"14:00\"\n- `full_name`: \"Andrea Figueroa\"\n- `email`: \"andrea@mail.com\"\n- `servicio`: [\"Manicura simple\", \"Pedicura\", \"Balayage\"]\n- `precio`: 71000\n\n### Ejemplo 3g: Tool crea turno con éxito → Presentar link de pago\n\nCuando `agendar_turno_leraysi` devuelve éxito con `link_pago`, responder explicando:\n1. Que el turno quedó reservado\n2. Que para **confirmar definitivamente** necesita abonar la seña (30% del total)\n3. Incluir el link de pago COMPLETO\n4. Aclarar que sin el pago de la seña la reserva se cancela automáticamente\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Genial mi amor! 💅 Tu turno de manicura simple quedó reservado para el lunes 10 de febrero a las 14:00.\\n\\nPara confirmar tu lugar necesitás abonar la seña de $1,500 (el 30% del total de $5,000). Es súper importante porque sin la seña la reserva se cancela automáticamente 🙏\\n\\nAcá te dejo el link de pago seguro por MercadoPago:\\nhttps://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=xxx\\n\\n¡Te espero, reina! 💕\", \"state_patch\": {\"stage\": \"turno_pendiente\", \"turno_agendado\": true, \"turno_fecha\": \"2026-02-10\", \"sena_pagada\": false}}\n\n### Ejemplo 3h: Agregar servicio de cabello a turno existente\n\n**Condición**: `turno_agendado: true` + `sena_pagada: true` + clienta quiere agregar servicio de cabello + foto ya recibida con `image_analysis`\n\n**Flujo completo (NO usar consultar_disponibilidad):**\n\n**3h-1. Clienta quiere agregar servicio de cabello → consultar RAG para precios base, listar con precios + pedir foto:**\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Claro mi vida! 💇‍♀️ Para tu cabello tenemos:\\n\\n* Corte mujer: desde $8,000\\n* Alisado brasileño: desde $45,000\\n* Alisado keratina: desde $55,000\\n* Mechas completas: desde $35,000\\n* Tintura completa: desde $30,000\\n* Balayage: desde $50,000\\n\\n¿Cuál te gustaría? Y mandame una fotito de tu cabello preferiblemente de espalda para darte el presupuesto exacto 📸✨\", \"state_patch\": {\"waiting_image\": true}}\n\n**3h-2. Foto recibida + clienta elige servicio → DAR PRECIO FINAL y ESPERAR confirmación:**\n\n**⚠️ OBLIGATORIO**: Dar el precio final directo y ESPERAR a que la clienta confirme ANTES de llamar cualquier tool. NUNCA generar link de pago sin confirmación del precio.\n\nEl precio final se calcula internamente según el largo del cabello (NO explicar esta lógica a la clienta).\n\nEjemplo: Balayage, image_analysis = {length: \"largo\", texture: \"ondulado\", condition: \"buena\", current_color: \"castaño\", is_dyed: false, has_roots: false}, precio calculado = $60,000\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Mi amor, qué lindo cabello tenés! 😍 Te cuento lo que veo:\\n\\nTu cabello es largo y ondulado, con un castaño natural muy bonito y en buena condición. Un balayage te va a quedar espectacular ✨\\n\\nPara tu tipo de cabello, el precio del balayage queda en $60,000 💰\\n\\n¿Querés que lo agregue a tu turno del lunes? 💕\", \"state_patch\": {\"stage\": \"presupuesto\", \"servicio_interes\": \"Balayage\", \"foto_recibida\": true, \"presupuesto_dado\": true, \"waiting_image\": false}}\n\n**⚠️ NO AVANZAR sin respuesta de la clienta.** Solo cuando la clienta dice \"sí\", \"dale\", \"agregalo\", etc., pasar al paso 3h-3.\n\n**3h-3. Clienta confirma el precio → llamar `agendar_turno_leraysi` con agregar:**\n\nLlamar `agendar_turno_leraysi` con:\n- `agregar_a_turno_existente`: true\n- `turno_id_existente`: (del state odoo_turno_id)\n- `turno_precio_existente`: (precio del turno original, ej: 5000)\n- `servicio`: [\"Alisado brasileño\"]\n- `precio`: 54000 (precio ajustado por largo)\n- `fecha_deseada`: (misma fecha del turno existente)\n- `hora_deseada`: (misma hora del turno existente)\n- `full_name`, `email`: (del state)\n\n**CRÍTICO**: NUNCA usar consultar_disponibilidad para agregar servicio. Se agrega al MISMO turno.\n\n### Ejemplo 3i: Agregar servicio de precio fijo a turno existente\n\n**Condición**: `turno_agendado: true` + `sena_pagada: true` + clienta quiere agregar servicio de precio fijo (uñas, depilación)\n\n**3i-1. Clienta quiere agregar → DAR PRECIO y ESPERAR confirmación:**\n\nMensaje: \"También quiero hacerme la pedicura ese mismo día\"\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Claro mi amor! 💅 La pedicura tiene un precio de $6,000. Sumándola a tu turno actual de $5,000, el total nuevo quedaría en $11,000.\\n\\n¿La agrego a tu turno del lunes, reina? 💕\", \"state_patch\": {}}\n\n**⚠️⚠️⚠️ PAUSA OBLIGATORIA — ESTE MENSAJE ES TODO LO QUE RESPONDÉS. NO llamar `agendar_turno_leraysi` ni ninguna otra tool en este turno.** Tu respuesta es SOLO el JSON con `content_whatsapp` + `state_patch: {}`. Esperás al PRÓXIMO mensaje de la clienta para recién ahí llamar la tool. Son DOS turnos de conversación: primero informar precio, después ejecutar.\n\n**⚠️ ELEGIR servicio ≠ CONFIRMAR agregado.** Si la clienta dice \"quiero la láser\" / \"la pedicura\" / \"haceme la manicura\" → eso es SELECCIÓN del servicio (paso 3i-1: dar precio + total + preguntar). Solo cuando la clienta dice \"sí\" / \"dale\" / \"agregala\" / \"perfecto\" / \"va\" DESPUÉS de ver el precio y total → eso es CONFIRMACIÓN (paso 3i-2: llamar tool). NUNCA saltar 3i-1.\n\n**⚠️ PRECIO: usar el total CONFIRMADO en la conversación** — NO recalcular precios individuales de cada servicio. El turno ya tiene un precio total acordado (ej: $69,000). Sumar solo el servicio nuevo ($12,000) = nuevo total ($81,000). NUNCA descomponer en precios individuales por servicio.\n\n**3i-2. Clienta confirma → llamar `agendar_turno_leraysi` con agregar:**\n\nLlamar `agendar_turno_leraysi` con:\n- `agregar_a_turno_existente`: true\n- `turno_id_existente`: (del state odoo_turno_id)\n- `turno_precio_existente`: (precio TOTAL del turno existente, ej: 69000)\n- `servicio`: [\"Depilación láser axilas\"] ← **SOLO el/los servicio(s) NUEVO(s), NUNCA incluir los que ya están en el turno** (si son 2 nuevos: [\"Manicura simple\", \"Pedicura\"])\n- `precio`: 12000 ← **SOLO el precio del/los servicio(s) NUEVO(s)** (si son 2 nuevos: 5000+6000=11000)\n- `fecha_deseada`: (misma fecha del turno existente)\n- `hora_deseada`: (misma hora del turno existente)\n- `full_name`, `email`: (del state)\n\n**⚠️ CRÍTICO**: `servicio` y `precio` son SOLO del/los servicio(s) que se agrega(n). Pueden ser 1 o más servicios nuevos, pero NUNCA incluir los existentes. El tool internamente suma `precio` + `turno_precio_existente` para calcular el nuevo total. Si incluís servicios que ya están en el turno, el precio se DUPLICA.\n\n### Ejemplo 3j: Agregar servicio de cabello (con foto) a turno existente\n\n**Condición**: `turno_agendado: true` + clienta quiere agregar servicio de cabello (requiere foto)\n\n**3j-1. Clienta quiere agregar → PEDIR FOTO:**\n\nMensaje: \"Aprovecho y me quiero hacer un alisado también ese día\"\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Claro mi amor! 💇‍♀️ Para darte un presupuesto exacto del alisado necesito una fotito de tu cabello, preferiblemente de espalda. ¿Me la mandás, reina? 📸✨\", \"state_patch\": {}}\n\n**3j-2. Clienta manda foto → ANALIZAR con detalle + DAR PRESUPUESTO + ESPERAR confirmación:**\n\n**⚠️ OBLIGATORIO**: Incluir análisis detallado de la imagen IGUAL que en Ejemplo 2 (length, texture, condition, current_color, notes). El análisis personalizado genera confianza y justifica el precio, incluso al agregar servicio.\n\nEjemplo: image_analysis = {length: \"largo\", texture: \"rizado\", condition: \"sano\", current_color: \"castaño oscuro con matices chocolate\", notes: \"Rizos definidos, buena hidratación\"}\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Ay mi amor, qué cabello tan precioso tenés! 😍 Te cuento lo que veo:\\n\\nTu cabello es largo y rizado, con un castaño oscuro con matices chocolate hermoso y natural. Tenés unos rizos súper definidos y se nota que está bien hidratado. ¡Lo cuidás muy bien! 💇‍♀️\\n\\nEl alisado brasileño para tu tipo de cabello quedaría en $54,000. Sumándolo a tu turno actual, el total sería $68,000.\\n\\n¿Lo agrego a tu turno del viernes, reina? 💕\", \"state_patch\": {}}\n\n**⚠️ NO llamar ninguna tool hasta que la clienta confirme.** La foto se analiza para dar el presupuesto, NO para ejecutar la acción.\n\n**3j-3. Clienta confirma → llamar `agendar_turno_leraysi` con agregar:**\n\nMismo procedimiento que 3h-3: `agregar_a_turno_existente: true`, `turno_id_existente`, `turno_precio_existente`, `largo_cabello` del análisis, etc.\n\n### Ejemplo 4: Clienta quiere reprogramar turno existente\n\n**Condición**: state tiene `turno_agendado: true`\n\n**⚠️ REGLA CRÍTICA DE REPROGRAMACIÓN**: Reprogramar usa flujo de DOS PASOS, igual que turno nuevo. Mientras se consulta disponibilidad, `state_patch` DEBE ser `{}` (vacío). El turno ya está confirmado y pagado — NADA cambia hasta que se reprograma efectivamente.\n\n**4a. Clienta pide cambiar sin dar fecha:**\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Claro mi amor! 💕 Veo que tenés turno el [fecha actual]. Sin problema lo cambiamos. ¿Para qué día te gustaría reprogramarlo? 📅\", \"state_patch\": {}}\n\n**4b. Clienta da fecha (con o sin hora) → Llamar `consultar_disponibilidad_leraysi`:**\n\nMensaje: \"para el jueves\" o \"para el jueves a las 2pm\"\n\nLlamar `consultar_disponibilidad_leraysi` con:\n- `modo`: \"consultar_disponibilidad\"\n- `servicio`: TODOS los servicios del turno actual (extraer del historial de conversación, NO de `servicio_interes`)\n- `fecha_deseada`: \"2026-02-12\"\n- `hora_deseada`: \"14:00\" (si la clienta dio hora) o null\n- `precio`: precio del turno actual\n- `preferencia_horario`: \"manana\", \"tarde\" o null\n\n**4c. Tool devuelve opciones → Presentar a clienta (state_patch VACÍO):**\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Perfecto mi amor! 💕 Para reprogramar tu manicura semipermanente y depilación de axilas tengo estos horarios:\\n\\n* Jueves 12/02 a las 09:00\\n* Jueves 12/02 a las 09:30\\n* Jueves 12/02 a las 10:00\\n\\n¿Cuál te queda mejor, reina? 💅✨\", \"state_patch\": {}}\n\n**4d. Clienta elige horario → Llamar `agendar_turno_leraysi` con accion reprogramar:**\n\nLlamar `agendar_turno_leraysi` con:\n- `accion`: \"reprogramar\" (OBLIGATORIO para reprogramación post-pago)\n- `fecha_deseada`: \"2026-02-12T09:00:00\" (fecha ISO con hora confirmada)\n- `hora_deseada`: \"09:00\"\n- `servicio`: TODOS los servicios del turno (mismos que en 4b)\n- `precio`: precio del turno actual\n- `full_name`, `email`: del state\n\n**CRÍTICO**: El campo `accion: \"reprogramar\"` es lo que activa la ruta de reprogramación en el sub-workflow. Sin él, se crearía un turno nuevo en vez de reprogramar el existente.\n\n**4e. Tool retorna éxito → Confirmar a clienta y ACTUALIZAR turno_fecha:**\n\n**Si la tool devuelve `link_pago`** (turno pendiente de pago → necesita nuevo link):\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Listo mi amor! 💕 Tu turno de depilación quedó reprogramado para el lunes 16 de febrero a las 09:00.\\n\\nPara confirmar tu lugar necesitás abonar la seña de $1,800. Acá te dejo el nuevo link de pago:\\nhttps://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=xxx\\n\\n¡Te espero, reina! 💅✨\", \"state_patch\": {\"turno_fecha\": \"2026-02-16 09:00\"}}\n\n**Si la tool NO devuelve `link_pago`** (turno ya pagado):\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️¡Listo mi amor! 💕 Tu turno quedó reprogramado para el jueves 12 de febrero a las 09:00. Ya te mandé un email de confirmación con los detalles. ¡Te espero, reina! 💅✨\", \"state_patch\": {\"turno_fecha\": \"2026-02-12 09:00\"}}\n\n**IMPORTANTE**: SIEMPRE incluir `turno_fecha` con la nueva fecha+hora en `state_patch` cuando la reprogramación es exitosa. Si la tool devuelve `link_pago`, SIEMPRE incluir el link completo en el mensaje.\n\n### Ejemplo 5: Clienta no puede asistir → SIEMPRE reprogramar\n\n**⚠️ REGLA**: No existe opción de cancelar. SIEMPRE ofrecer reprogramar. NUNCA enviar `accion: \"cancelar\"` a ningún tool.\n\n**5a. Clienta dice que no puede asistir → Ofrecer reprogramar directamente:**\n\nDetectar: \"no voy a poder\", \"no puedo ir\", \"no puedo asistir\", \"tengo un problema\", \"surgió algo\", \"no voy a llegar\", \"cancelar\", \"cancelalo\", \"anulalo\"\n\n{\"content_whatsapp\": \"⋆˚🧚‍♀️Ay mi amor, no te preocupes para nada 💕 Decime para qué día te queda mejor y te busco el mejor horario que tenga disponible, ¿dale? 🫶✨\", \"state_patch\": {}}\n\n**5b. Clienta indica nueva fecha → Seguir flujo de Ejemplo 4 (reprogramación):**\n\nContinuar con `consultar_disponibilidad_leraysi` para la nueva fecha, luego `agendar_turno_leraysi` con `accion: \"reprogramar\"` cuando elija horario.\n\n## ESTRUCTURA DE MENSAJES\n\n**Formato obligatorio para listar servicios:**\n\n[Saludo] Para [categoría] tenemos [cantidad] opciones:\n\n* [Servicio 1]: Precio/descripción\n* [Servicio 2]: Precio/descripción\n\n[Aclaración sobre foto si aplica] [Pregunta para avanzar] [Emoji]\n\n**Reglas de formato:**\n- Usar asterisco (*) para bullets\n- Salto de línea ANTES y DESPUÉS de la lista\n- NO usar markdown negrita (**) en items\n- NO usar guiones (-) para listas\n\n**Ejemplos de content_whatsapp correctos:**\n\nAlisado: \"⋆˚🧚‍♀️¡Hola preciosa! 😘 Para el alisado tenemos dos opciones:\\n\\n* Alisado brasileño: desde $45,000\\n* Alisado keratina: desde $55,000\\n\\nPara darte un presupuesto exacto necesito una fotito de tu cabello, preferiblemente de espalda. ¿Me la mandás? 💇‍♀️\"\n\nUñas: \"⋆˚🧚‍♀️¡Qué lindo, preciosa! 💅 Para uñas tenemos:\\n\\n* Manicura simple: $15,000\\n* Manicura semipermanente: $25,000\\n* Pedicura: $18,000\\n\\n¿Cuál te gustaría, mi vida? 💕\"\n\n## REGLAS CRÍTICAS\n\n0. **SALÓN EXCLUSIVO MUJERES** - NO existe corte hombre ni servicios para hombres - NUNCA mencionarlos\n1. **PRECIO BASE + FOTO para cabello**: Corte, Alisado, Mechas, Tintura, Balayage → SIEMPRE dar el precio base con \"desde $X\" (consultado del RAG) y luego pedir foto preferiblemente de espalda. NUNCA pedir foto sin dar el precio base primero. NUNCA explicar la lógica de ajuste por largo (eso es interno).\n2. **Al listar servicios**: usar SOLO lo que existe en RAG - NO generalizar ni inventar categorías\n2. **JSON puro SIEMPRE** - tu respuesta COMIENZA con { y TERMINA con }. NUNCA texto suelto, razonamiento ni explicaciones\n3. Solo campos que CAMBIAN en state_patch\n4. servicio_interes específico: \"Alisado brasileño\", NO \"Alisado\"\n5. Prefijo ⋆˚🧚‍♀️ SIEMPRE al inicio\n6. NO repetir info ya dada\n7. Usar RAG para precios\n8. Formato de listas con asterisco (*) y saltos de línea\n9. Si `turno_agendado: true` y clienta quiere cambiar fecha → usar flujo de DOS PASOS: primero `consultar_disponibilidad_leraysi`, luego `agendar_turno_leraysi` con `accion: \"reprogramar\"` cuando elige horario. `state_patch` DEBE ser `{}` durante la consulta\n10. **Turno nuevo = SIEMPRE dos pasos**: primero `consultar_disponibilidad_leraysi`, luego `agendar_turno_leraysi` cuando la clienta confirma. NUNCA llamar ambas tools en el mismo mensaje — después de `consultar_disponibilidad` SIEMPRE presentar opciones y ESPERAR a que la clienta elija antes de llamar `agendar_turno`\n11. **NO inventar horarios** - SOLO usar los que devuelve `consultar_disponibilidad_leraysi`\n12. **NO se aceptan turnos para hoy** - El mínimo es para mañana. Si la clienta pide turno para hoy, decile con cariño que el mínimo es con 1 día de anticipación\n13. **Extraer hora del mensaje**: \"2pm\"→\"14:00\", \"10am\"→\"10:00\", \"5 de la tarde\"→\"17:00\"\n14. **NO mencionar duración ni horas del servicio** - La duración se calcula internamente al agendar. NUNCA decir \"te va a llevar X horas\" ni estimar tiempos.\n15. **Agregar servicio = NUNCA consultar_disponibilidad + SIEMPRE confirmar precio**. Si `turno_agendado: true` y la clienta quiere agregar un servicio → va al MISMO turno, MISMA fecha. PERO primero dar precio + total nuevo y ESPERAR que la clienta confirme. Esto aplica a TODOS los servicios: precio fijo (Ejemplo 3i) Y servicios con foto/cabello (Ejemplo 3j). Recibir una foto NO es confirmación — la foto es para calcular el presupuesto, luego ESPERAR \"sí/dale/agregalo\". Solo DESPUÉS de confirmación llamar `agendar_turno_leraysi` con `agregar_a_turno_existente: true`. **IMPORTANTE**: \"quiero X\" / \"haceme X\" / \"la pedicura\" = la clienta ELIGE servicio → vos das precio+total y preguntás. Solo \"sí/dale/agregala/perfecto\" = confirma → llamás tool. Son SIEMPRE 2 mensajes.\n16. **No existe cancelación**. Si la clienta no puede asistir o quiere \"cancelar\" → SIEMPRE ofrecer reprogramar. NUNCA enviar `accion: \"cancelar\"`. Preguntar para qué fecha prefiere y seguir flujo de reprogramación (Ejemplo 4/5).\n17. **NUNCA inventar datos de la clienta** - Si no tenés nombre o email, PEDIRLOS. NUNCA usar datos ficticios (\"sin_correo@gmail.com\", \"Cliente\", etc.). NUNCA proceder sin datos reales. Ver sección GATE OBLIGATORIO.\n18. **NUNCA inventar detalles de servicios** - NO describir qué incluye un servicio (ej: \"incluye limado, pulido y esmalte\") a menos que esa info venga del RAG. Solo dar nombre + precio.\n19. **Variedad en expresiones** - NO repetir la misma frase de apertura (ej: \"¡Perfecto mi amor!\") en mensajes consecutivos. Alternar entre diferentes expresiones cariñosas para que la conversación sea natural.\n20. **Resumen de confirmación obligatorio** - Antes de llamar `agendar_turno_leraysi` para turno NUEVO, SIEMPRE presentar resumen (servicios + total + fecha + nombre + email) y ESPERAR confirmación. Ver sección \"Resumen de confirmación\".\n21. **TRACKING DE SERVICIOS ACUMULADOS** - Cuando la clienta pide varios servicios durante la conversación (ej: primero manicura, luego pedicura, luego balayage), TODOS deben incluirse al llamar `consultar_disponibilidad_leraysi` y `agendar_turno_leraysi`. El campo `servicio` es un ARRAY con TODOS los servicios acordados, y `precio` es la SUMA TOTAL. NUNCA enviar solo el último servicio mencionado — revisá toda la conversación para recopilar todos los servicios que la clienta quiso. **⚠️ Esta regla SOLO aplica a turnos NUEVOS (`turno_agendado: false`). Si `turno_agendado: true` (turno ya confirmado/pagado), NO acumular todos los servicios — solo enviar el servicio NUEVO a agregar. Ver Regla 15 y Ejemplos 3i/3h/3j.**\n22. **FECHA EXACTA** - Prestar MÁXIMA atención a la fecha que la clienta pidió. Si dijo \"viernes\" → calcular el viernes correcto. Si dijo \"sábado\" → el sábado. NUNCA confundir un día con otro. Si la clienta mencionó un día de la semana, verificar contra `{{ $now }}` para calcular la fecha correcta.\n\n⚠️⚠️⚠️ **REGLA MÁXIMA**: Tu respuesta DEBE ser EXCLUSIVAMENTE un objeto JSON válido. CERO texto fuera del JSON. CERO razonamiento. CERO explicaciones. CERO planes de lo que vas a hacer. Si necesitás razonar, hacelo internamente. Tu output COMPLETO debe ser SOLO: {\"content_whatsapp\": \"...\", \"state_patch\": {...}}\n\nProcesá el mensaje de la clienta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2976,
        -112
      ],
      "id": "a422fb8f-1188-4f40-a4ee-8e7679694d8d",
      "name": "Master AI Agent-Main",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "model",
              "fieldValue": "crm.lead"
            },
            {
              "fieldName": "res_id",
              "fieldValue": "={{ +$json.id }}"
            },
            {
              "fieldName": "body",
              "fieldValue": "={{ $('Gate: NO_REPLY / Empty').item.json.body_html }}"
            },
            {
              "fieldName": "message_type",
              "fieldValue": "comment"
            },
            {
              "fieldName": "subtype_id",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4688,
        -160
      ],
      "id": "a4691174-2ce9-4d81-868d-ddc882c123e5",
      "name": "Record Agent Response",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "model",
              "fieldValue": "crm.lead"
            },
            {
              "fieldName": "res_id",
              "fieldValue": "={{ $('ComposeProfile').item.json.profile.lead_id }}"
            },
            {
              "fieldName": "body",
              "fieldValue": "=<p><strong>Cliente: </strong>{{ $('ComposeProfile').item.json.profile.last_message }}</p>"
            },
            {
              "fieldName": "message_type",
              "fieldValue": "comment"
            },
            {
              "fieldName": "subtype_id",
              "fieldValue": "1"
            },
            {
              "fieldName": "author_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1648,
        352
      ],
      "id": "1992b0f3-46e9-4f29-8ff9-84ab7092e22f",
      "name": "Register incoming message",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "model",
              "value": "crm.lead"
            },
            {
              "fieldName": "res_id",
              "value": "={{ $('ComposeProfile').item.json.profile.lead_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1856,
        352
      ],
      "id": "abf62d0d-232e-43ba-9660-619677179af6",
      "name": "Get Chat History from Lead",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with your data in a Qdrant collection",
        "qdrantCollection": {
          "__rl": true,
          "value": "servicios_leraysi",
          "mode": "list",
          "cachedResultName": "servicios_leraysi"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        3120,
        240
      ],
      "id": "21d06440-c003-496d-ac80-02bd8f9232ff",
      "name": "Qdrant Vector Store - Services",
      "credentials": {
        "qdrantApi": {
          "id": "Jhuxh7GVQvmEPnwp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function — Get Chat History from Lead (Odoo → limpio, sin mensajes \"system\", con lead_id)\n// Entrada: items con registros de mail.message de Odoo (cada uno tiene model/res_id/body/preview/...)\n// Salida: [{ json: { history:[{role,text,ts}], lead_id:Number|null, ...(event?) } }]\n\nconst items = $input.all();\n\n// 1) Intenta recuperar {event} si ya venía mergeado\nlet event = null;\nfor (const it of items) {\n  if (it.json && it.json.event) { event = it.json.event; break; }\n}\n\n// Helpers\nfunction cleanHtmlKeepStrong(s){\n  return String(s || \"\")\n    .replace(/<br\\s*\\/?>/gi, \"\\n\")\n    .replace(/<\\/?(?!strong\\b)\\w+[^>]*>/g, \"\") // deja <strong>, quita el resto\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction stripPrefixes(text, role){\n  let t = String(text || \"\").trim();\n  if (role === \"user\") {\n    t = t.replace(/^<strong>\\s*cliente:\\s*<\\/strong>\\s*/i, \"\")\n         .replace(/^cliente:\\s*/i, \"\");\n  } else if (role === \"assistant\") {\n    t = t.replace(/^<strong>\\s*⋆˚🧚‍♀️?\\s*leraysi:?\\s*<\\/strong>\\s*/i, \"\")\n         .replace(/^⋆˚🧚‍♀️?\\s*leraysi:?\\s*/i, \"\")\n         .replace(/^<strong>\\s*leraysi\\s*⋆˚🧚‍♀️?:?\\s*<\\/strong>\\s*/i, \"\")\n         .replace(/^leraysi\\s*⋆˚🧚‍♀️?:?\\s*/i, \"\");\n  }\n  return t.trim();\n}\n\nfunction inferRole(mm){\n  const messageType = String(mm.message_type || \"\").toLowerCase();\n  const isInternal  = Boolean(mm.is_internal);\n  const preview = String(mm.preview || \"\");\n  const body = String(mm.body || \"\");\n  if (messageType === \"notification\" || isInternal) return \"system\";\n  if (/^<\\s*strong>\\s*cliente\\s*:\\s*<\\/\\s*strong>/i.test(body) || /^cliente\\s*:/i.test(preview)) return \"user\";\n  if (/leraysi/i.test(body+preview) || /🧚‍♀️/.test(body+preview) || /⋆˚/.test(body+preview)) return \"assistant\";\n  if (messageType === \"comment\") return \"assistant\";\n  return \"assistant\";\n}\n\nfunction toIso(d){\n  try { return new Date(d).toISOString(); } catch { return new Date().toISOString(); }\n}\n\nfunction minuteBucket(iso){\n  const d = new Date(iso);\n  return isNaN(d) ? \"0\" : `${d.getUTCFullYear()}-${d.getUTCMonth()}-${d.getUTCDate()}-${d.getUTCHours()}-${d.getUTCMinutes()}`;\n}\n\n// 2) Mapear Odoo → history crudo (con id para dedupe) y recolectar posibles lead_ids (res_id)\n//    Filtra AQUÍ los 'system' para que no entren al historial.\nconst candidateLeadIds = [];\nlet raw = items.map(it => {\n  const mm = it.json || {};\n  if (mm && mm.model === 'crm.lead' && mm.res_id != null) {\n    const n = Number(mm.res_id);\n    if (Number.isFinite(n)) candidateLeadIds.push(n);\n  }\n  const role = inferRole(mm);\n  const textHtml = cleanHtmlKeepStrong(mm.body || mm.preview || \"\");\n  const text = stripPrefixes(textHtml, role);\n  const ts = toIso(mm.date || mm.create_date || new Date().toISOString());\n  return { role, text, ts, _id: mm.id || null };\n})\n.filter(h => h.text && h.role !== \"system\"); // <— elimina system aquí\n\n// 3) Deducción robusta de lead_id\nlet lead_id = null;\nif (candidateLeadIds.length) {\n  const freq = new Map();\n  for (const id of candidateLeadIds) freq.set(id, (freq.get(id) || 0) + 1);\n  lead_id = [...freq.entries()].sort((a,b) => b[1]-a[1])[0][0];\n} else if (event && event.lead_id != null) {\n  const ev = Number(event.lead_id);\n  lead_id = Number.isFinite(ev) ? ev : null;\n}\n\n// 4) Si no hay nada, usa el mensaje actual del evento (si existe)\nif (raw.length === 0 && event) {\n  const lastText = event?.message?.clean_text || event?.message?.text || \"\";\n  if (lastText.trim()) {\n    raw.push({ role: \"user\", text: lastText.trim(), ts: event.ts_utc || new Date().toISOString() });\n  }\n}\n\n// 5) Deduplicar (prioridad por id; si no hay id, usa hash por (role+text+minuto))\nconst seen = new Set();\nconst out = [];\nfor (const h of raw) {\n  const key = h._id ? `id:${h._id}` : `h:${h.role}:${h.text}:${minuteBucket(h.ts)}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  out.push(h);\n}\n\n// 6) Ordenar, filtrar system (doble seguro) y recortar\nconst onlyHuman = out.filter(h => h.role !== \"system\");\nonlyHuman.sort((a,b) => Date.parse(a.ts) - Date.parse(b.ts));\nconst history = onlyHuman.slice(-200).map(h => ({ role: h.role, text: h.text, ts: h.ts }));\n\n// 7) Salida: history + lead_id (+ event si venía)\nconst payload = event ? { event, history, lead_id } : { history, lead_id };\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        352
      ],
      "id": "d96b669c-1cd2-46fd-ab28-43b48d5ace66",
      "name": "transform_ChatHistory_TextFlow",
      "notes": "SYNC: Código duplicado en 'Chat History Filter1' (flujo imagen). Si modificás este código, actualizá el otro también."
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst output = input.output || '';\nconst leadId = $('UpdateLeadWithLead_Id').first().json.lead_id || 0;\n\n// HTML para Odoo\nconst htmlBody = `<p><strong>Leraysi⋆˚🧚‍♀️:</strong><br>${output.replace(/\\n/g, '<br>')}</p>`;\n\n// Texto plano para WhatsApp\nlet plainText = output.replace(/\\\\n/g, '\\n');\nplainText = plainText.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\nplainText = plainText.replace(/\\n\\* /g, '\\n• ');\nplainText = plainText.trim();\nplainText = `⋆˚🧚‍♀️Leraysi:\\n${plainText}`;\n\nreturn [\n  {\n    json: {\n      body_html: htmlBody,\n      content_whatsapp: plainText,\n      lead_id: leadId\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        976
      ],
      "id": "022af334-ad9a-4279-83f6-95751d906061",
      "name": "Filter Output Initial"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Build Lead Row').item.json.row_always.last_message }}",
        "options": {
          "systemMessage": "=# LERA — Asistente Virtual de Estilos Leraysi\n\n## ROL\nEres Lera, la asistente virtual de Estilos Leraysi, un salón de belleza con alma latina. Este es el primer mensaje de la conversación. Tu única función es dar la bienvenida con cariño y preguntar en qué puedes ayudar.\n\n## CONTEXTO\n- Fecha y hora: {{ $now }}\n- Zona horaria: América/Argentina/Buenos_Aires\n\n## OBJETIVO\n1. Saludar con calidez y personalidad de salón\n2. Dejar claro que está hablando con Estilos Leraysi\n3. Preguntar en qué puedes ayudarla\n4. Solo respondes una vez, después otro agente continúa\n\n## PERSONALIDAD\n- Cariñosa, cercana, como una amiga del salón\n- Usas: \"mi reina\", \"hermosa\", \"preciosa\", \"mi amor\", \"bella\"\n- Tono alegre, cálido, nunca frío ni corporativo\n- 1-2 emojis máximo (💕 ✨ 💇‍♀️)\n\n## FORMATO\n- Máximo 2 frases\n- WhatsApp-friendly, nada formal\n- No des precios, horarios ni listas\n- No pidas nombre todavía\n\n## CASOS ESPECIALES\n- Mensaje confuso o sin sentido (\"3\", \"asdfg\", emoji solo) → Bienvenida normal, ignorar el ruido\n- Pregunta fuera de contexto (\"cómo es la luna\", \"quién es el presidente\") → Bienvenida + aclarar amablemente que es un salón de belleza\n- Pregunta por precio o servicio específico (\"cuánto sale un alisado\", \"precio de mechas\") → Bienvenida cálida + agradecer + decir que necesitas más detalles para ayudarla\n- Agresivo o irrespetuoso → Responder con dignidad, sin engancharse, cerrar cordialmente\n\n## EJEMPLOS\nEntrada: \"Hola\"\nSalida: \"¡Hola mi reina! 💕 Bienvenida a Estilos Leraysi. Cuéntame, ¿en qué te puedo ayudar hoy, hermosa?\"\n\nEntrada: \"Buenas tardes\"\nSalida: \"¡Buenas tardes, preciosa! ✨ Bienvenida a Estilos Leraysi. ¿En qué te puedo consentir hoy?\"\n\nEntrada: \"Quiero un turno\"\nSalida: \"¡Hola mi amor! 💇‍♀️ Qué bueno que nos escribes. Cuéntame, ¿en qué te puedo ayudar, bella?\"\n\nEntrada: \"3\"\nSalida: \"¡Hola hermosa! 💕 Bienvenida a Estilos Leraysi. ¿En qué te puedo ayudar hoy, mi reina?\"\n\nEntrada: \"Cómo es la luna?\"\nSalida: \"¡Hola mi reina! ✨ Aquí en Estilos Leraysi nos dedicamos a dejarte bella. ¿Hay algo de belleza en que te pueda ayudar?\"\n\nEntrada: \"Cuánto sale un alisado?\"\nSalida: \"¡Hola hermosa! 💕 Gracias por escribirnos. Para poder ayudarte voy a necesitar que me des más detalles, mi reina. ¿Tienes un tiempito para contarme?\"\n\nEntrada: \"Sos una idiota\"\nSalida: \"Hola, aquí tratamos a todas con cariño. Si necesitas algo de belleza, con gusto te ayudo. 💕\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -688,
        976
      ],
      "id": "2803519d-91d2-4720-9626-adf04b25fd38",
      "name": "AI Agent Welcome"
    },
    {
      "parameters": {
        "jsCode": "// Build Lead Row — mapea CLO → fila Baserow (create/update-safe)\n// Tabla: LeadsLeraysi\n// Entrada esperada: { profile_base:{...}, event:{...} } (desde Normalize Inbound)\n// Salida: { keys, row_on_create, row_always, row_upsert }\nfunction toLocalIso(isoUtc, tzOff){\n  if (!isoUtc) return null;\n  const d = new Date(isoUtc);\n  const sign = tzOff?.startsWith('-') ? -1 : 1;\n  const [h,m] = String(tzOff||'-03:00').slice(1).split(':').map(Number);\n  const offMin = sign * (h*60 + m);\n  return new Date(d.getTime() + offMin*60000).toISOString().replace('Z', tzOff||'-03:00');\n}\nconst out = [];\nfor (const it of items) {\n  const pb = it.json.profile_base || {};\n  const ev = it.json.event || {};\n  const country   = pb.country || 'Desconocido';\n  const tz        = pb.tz || '-03:00';\n  const channel   = pb.channel || 'whatsapp';\n  const nickName  = pb.nick_name || '';\n  const fullName  = pb.full_name ?? \"\";\n  const phone     = pb.phone_e164 || '';\n  const email     = pb.email ?? \"\";\n  const chatwootId       = pb.chatwoot_id ?? null;\n  const chatwootInboxId  = pb.chatwoot_inbox_id ?? null;\n  const conversationId   = pb.conversation_id ?? null;\n  const msgId      = ev.message_id ?? null;\n  const msgText    = String(ev.message_text || '').trim();\n  const msgIsoUtc  = ev.msg_created_iso || null;\n  const nowIsoUtc  = ev.now_iso_utc || new Date().toISOString();\n  // Locales (para first_interaction en create)\n  const msgIsoLocal = msgIsoUtc ? toLocalIso(msgIsoUtc, tz) : null;\n  // Claves para upsert\n  const keys = {\n    chatwoot_id: chatwootId,\n    phone_number: phone\n  };\n  // Campos que se setean SOLO en create\n  const row_on_create = {\n    chatwoot_id: chatwootId,\n    chatwoot_inbox_id: chatwootInboxId,\n    conversation_id: conversationId,\n    nick_name: nickName,\n    full_name: fullName,\n    phone_number: phone,\n    email: email,\n    country: country,\n    tz: tz,\n    channel: channel,\n    first_interaction: msgIsoLocal,\n    first_interaction_utc: msgIsoUtc,\n    last_message: msgText,\n    last_message_id: msgId,\n    last_activity_iso: nowIsoUtc,\n    // Estado conversacional (defaults)\n    stage: 'explore',\n    priority: 'normal',\n    servicio_interes: '',\n    interests: [],\n    // Flags del salón\n    foto_recibida: false,\n    presupuesto_dado: false,\n    turno_agendado: false,\n    turno_fecha: null,\n    sena_pagada: false,\n    waiting_image: false,\n    // Contadores\n    services_seen: 0,\n    prices_asked: 0,\n    deep_interest: 0,\n    // Cooldowns\n    email_ask_ts: null,\n    fullname_ask_ts: null,\n    // CRM\n    lead_id: 0\n  };\n  // Campos seguros para actualizar SIEMPRE (update)\n  const row_always = {\n    channel: channel,\n    last_message: msgText,\n    last_message_id: msgId,\n    last_activity_iso: nowIsoUtc\n  };\n  // Paquete para upsert\n  const row_upsert = { ...row_on_create, ...row_always };\n  out.push({ json: { keys, row_on_create, row_always, row_upsert } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        464
      ],
      "id": "f9537147-c277-4abc-81ca-3ff86e347c7e",
      "name": "Build Lead Row"
    },
    {
      "parameters": {
        "databaseId": 4,
        "tableId": 851,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8345,
                "value": "={{ $json.keys.chatwoot_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -592,
        384
      ],
      "id": "cc3f21df-ccf1-40e2-a2dd-88cf523a07b5",
      "name": "FindByChatwootId",
      "alwaysOutputData": true,
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PickLeadRow — robusto para \"empty item\" de n8n y para {results:[]}\nconst items = $input.all().map(i => i.json || {});\n\n// Si viene en formato { results: [...] } lo aplanamos; si no, tomamos los items tal cual\nlet rows;\nif (items.length === 1 && Array.isArray(items[0].results)) {\n  rows = items[0].results;\n} else {\n  rows = items;\n}\n\n// Filtramos solo filas \"reales\": objeto no vacío con algún identificador\nconst real = rows.filter(r =>\n  r && typeof r === 'object' &&\n  (r.id != null || r.row_id != null || r.record_id != null) &&\n  Object.keys(r).length > 0\n);\n\nconst hit = real[0] || null;\n\nreturn [{\n  json: {\n    exists: !!hit,\n    row_id: hit ? (hit.id ?? hit.row_id ?? hit.record_id) : null,\n    row: hit || null,\n    count: real.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        384
      ],
      "id": "704ca12a-c5c6-442a-8c33-9d267aa324e6",
      "name": "PickLeadRow"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -112,
        448
      ],
      "id": "9187e826-9e3e-4fb7-9f62-e86639735d45",
      "name": "MergeForUpdate"
    },
    {
      "parameters": {
        "jsCode": "// CreatePayload — aplana row_upsert/row_on_create y normaliza selects\n// Tabla: LeadsLeraysi\n\nconst src = $json.row_upsert || $json.row_on_create || {};\nconst out = Object.fromEntries(\n  Object.entries(src).filter(([k, v]) => v !== undefined && v !== null)\n);\n\n// ---------- SINGLE SELECTS ----------\nconst stageAllowed = new Set(['explore', 'consulta', 'presupuesto', 'turno_pendiente', 'turno_confirmado']);\nif (out.stage != null) {\n  const s = String(out.stage).trim();\n  if (!stageAllowed.has(s)) delete out.stage;\n}\n\nconst priorityAllowed = new Set(['normal', 'high', 'low']);\nif (out.priority != null) {\n  const p = String(out.priority).trim();\n  if (!priorityAllowed.has(p)) delete out.priority;\n}\n\n// ---------- MULTI SELECT (interests) ----------\n// Categorías de servicios: Corte, Alisado, Color, Uñas, Depilación\nif (Array.isArray(out.interests)) {\n  out.interests = [...new Set(out.interests.map(v => String(v).trim()))];\n} else if (typeof out.interests === 'string') {\n  const t = out.interests.trim();\n  if (t.startsWith('[')) {\n    try { out.interests = JSON.parse(t); } catch { out.interests = []; }\n  } else if (t === '') {\n    out.interests = [];\n  } else {\n    out.interests = t.split(',').map(s => s.trim()).filter(Boolean);\n  }\n}\n\n// ---------- LIMPIEZAS ----------\nif (out.email === '') delete out.email;\nif (out.full_name === '') delete out.full_name;\nif (out.servicio_interes === '') delete out.servicio_interes;\nif (out.lead_id === 0) delete out.lead_id;\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        720
      ],
      "id": "059aaba3-c7c6-4957-8957-d43494481f2e",
      "name": "CreatePayload"
    },
    {
      "parameters": {
        "jsCode": "// UpdatePayload — usa row_id + row_always al root (sin nulos)\nconst out = Object.fromEntries(\n  Object.entries($json.row_always || {}).filter(([k,v]) => v !== null && v !== undefined)\n);\nreturn [{ json: { row_id: $json.row_id, ...out } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        432
      ],
      "id": "1d15c7d6-9139-4c0d-b4eb-ef8346bd1cd5",
      "name": "UpdatePayload"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 4,
        "tableId": 851,
        "rowId": "={{ $json.row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8355,
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": 8358,
              "fieldValue": "={{ $json.last_message }}"
            },
            {
              "fieldId": 8359,
              "fieldValue": "={{ $json.last_message_id }}"
            },
            {
              "fieldId": 8360,
              "fieldValue": "={{ $json.last_activity_iso }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1008,
        432
      ],
      "id": "439de338-aa87-41e4-a0a5-c4a7ca3cc6c0",
      "name": "UpdateLeadWithRow_Id",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CreatePayloadOdoo — a partir del row de Baserow construye el payload limpio para Odoo\n// Tabla: LeadsLeraysi\n\nconst src = $json;\n\n// Helpers\nconst sel = (v) => (v && typeof v === 'object' && 'value' in v) ? String(v.value || '').trim()\n           : (v == null ? '' : String(v).trim());\nconst onlyDigits = (s) => String(s || '').replace(/[^\\d]/g, '');\n\n// Campos base\nconst nickName   = src.nick_name || '';\nconst fullName   = src.full_name || '';\nconst displayName = fullName || nickName || '';  // Prioriza full_name si existe\nconst phoneE164  = src.phone_number || src.phone || '';\nconst email      = (src.email || '').trim();\nconst country    = sel(src.country);\nconst channel    = sel(src.channel);\nconst chatId     = src.chatwoot_id ?? src.keys?.chatwoot_id ?? null;\nconst inboxId    = src.chatwoot_inbox_id ?? null;\nconst convId     = src.conversation_id ?? null;\nconst tz         = src.tz || '-03:00';\nconst lastMsg    = (src.last_message || '').slice(0, 180);\n\n// === MAPEO ODOO (ajusta IDs a tu instancia) ===\nconst ODOO = {\n  Argentina: {\n    country_id: 10,\n    state_id_by_area: { '11': 553 },\n    default_state_id: 553,\n    default_city: 'Buenos Aires'\n  },\n};\n\n// Resolver country/state/city\nlet country_id = ODOO[country]?.country_id ?? null;\nlet state_id   = null;\nlet city       = '';\n\nif (country === 'Argentina') {\n  let d = onlyDigits(phoneE164);\n  if (d.startsWith('549')) d = d.slice(3);\n  else if (d.startsWith('54')) d = d.slice(2);\n  const area = d.slice(0, 2);\n  if (ODOO.Argentina.state_id_by_area[area]) {\n    state_id = ODOO.Argentina.state_id_by_area[area];\n    city = 'Buenos Aires';\n  } else {\n    state_id = ODOO.Argentina.default_state_id || null;\n    city = ODOO.Argentina.default_city || '';\n  }\n}\n\n// Descripción rica\nconst parts = [];\nif (channel) parts.push(`Canal: ${channel}`);\nif (chatId != null) parts.push(`Chatwoot: ${chatId}`);\nif (inboxId != null) parts.push(`Inbox: ${inboxId}`);\nif (convId != null) parts.push(`Conv: ${convId}`);\nif (tz) parts.push(`TZ: ${tz}`);\nif (lastMsg) parts.push(`Último: ${lastMsg}`);\nconst description = parts.join(' • ');\n\n// Construir vals para crm.lead.create\nconst vals = {\n  type: 'lead',\n  name: displayName || `Nueva clienta ${channel || ''}`.trim(),\n  contact_name: displayName || null,\n  phone: phoneE164 || null,\n  email_from: email || '',\n  description: description || undefined,\n  city: city || undefined,\n  zip: src.zip || undefined,\n  street: src.street || undefined,\n};\n\n// Solo añadimos IDs si existen\nif (country_id) vals.country_id = country_id;\nif (state_id)   vals.state_id   = state_id;\n\n// Salida\nreturn [{\n  json: {\n    odoo_payload: vals,\n    baserow_row_id: src.id ?? src.row_id ?? null,\n    debug_country: country\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        720
      ],
      "id": "7f62ae18-56b1-4a8d-aa9f-b72aa2c09a8a",
      "name": "CreatePayloadOdoo"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// COMPOSE PROFILE - Transforma row de Baserow a objeto profile\n// ============================================================================\n// Tabla: LeadsLeraysi\n// Recibe: Row de Baserow (results[0] o row directo)\n// Output: { profile: {...} }\n// ============================================================================\n\nconst inJson = $json;\n\n// Intenta detectar una \"row\"\nlet row = null;\nif (Array.isArray(inJson?.results) && inJson.results[0]?.id) {\n  row = inJson.results[0];\n} else if (Array.isArray(inJson) && inJson[0]?.id) {\n  row = inJson[0];\n} else if (inJson?.id) {\n  row = inJson;\n} else if (inJson?.row) {\n  row = inJson.row;\n}\nrow = row || {};\n\nconst pickVal = (x) => (x && typeof x === 'object' && 'value' in x) ? x.value : (x ?? null);\nconst toNum   = (x) => {\n  if (x === null || x === undefined || x === '') return null;\n  const n = Number(x);\n  return Number.isFinite(n) ? n : null;\n};\nconst toInt0  = (x) => Number.isFinite(Number(x)) ? Number(x) : 0;\n\n/**\n * Parsea image_analysis de forma segura (puede venir como string o objeto)\n */\nfunction parseImageAnalysis(data) {\n  if (!data) return null;\n  if (typeof data === 'object') return data;\n  if (typeof data === 'string') {\n    try {\n      return JSON.parse(data);\n    } catch (e) {\n      return null;\n    }\n  }\n  return null;\n}\n\n// Construir description para Odoo\nconst channel = pickVal(row.channel);\nconst chatwootId = toNum(row.chatwoot_id);\nconst inboxId = toNum(row.chatwoot_inbox_id);\nconst convId = toNum(row.conversation_id);\nconst tz = row.tz || \"-03:00\";\nconst lastMsg = (row.last_message || '').slice(0, 180);\n\nconst parts = [];\nif (channel) parts.push(`Canal: ${channel}`);\nif (chatwootId != null) parts.push(`Chatwoot: ${chatwootId}`);\nif (inboxId != null) parts.push(`Inbox: ${inboxId}`);\nif (convId != null) parts.push(`Conv: ${convId}`);\nif (tz) parts.push(`TZ: ${tz}`);\nif (lastMsg) parts.push(`Último: ${lastMsg}`);\nconst description = parts.join(' • ');\n\nconst profile = {\n  row_id: row.id ?? null,\n  \n  // Identidad / contacto\n  nick_name: row.nick_name || null,\n  full_name: row.full_name || null,\n  phone: row.phone_number || null,\n  email: row.email || null,\n  \n  // Contexto\n  channel: channel,\n  country: pickVal(row.country),\n  tz: tz,\n  stage: pickVal(row.stage) || \"explore\",\n  priority: pickVal(row.priority) || \"normal\",\n  \n  // Servicio de interés\n  servicio_interes: row.servicio_interes || null,\n  interests: Array.isArray(row.interests) ? row.interests.map(pickVal).filter(Boolean) : [],\n  \n  // Flags del salón\n  foto_recibida: !!row.foto_recibida,\n  presupuesto_dado: !!row.presupuesto_dado,\n  turno_agendado: !!row.turno_agendado,\n  turno_fecha: row.turno_fecha || null,\n  sena_pagada: !!row.sena_pagada,\n  waiting_image: !!row.waiting_image,\n  \n  // Contadores\n  services_seen: toInt0(row.services_seen),\n  prices_asked: toInt0(row.prices_asked),\n  deep_interest: toInt0(row.deep_interest),\n  \n  // IDs y últimos eventos\n  lead_id: toNum(row.lead_id),\n  chatwoot_id: chatwootId,\n  chatwoot_inbox_id: inboxId,\n  conversation_id: convId,\n  last_message: row.last_message || null,\n  last_message_id: row.last_message_id || null,\n  last_activity_iso: row.last_activity_iso || null,\n  \n  // Cooldowns\n  email_ask_ts: row.email_ask_ts || null,\n  fullname_ask_ts: row.fullname_ask_ts || null,\n  \n  // Image Analysis (nuevo)\n  image_analysis: parseImageAnalysis(row.image_analysis),\n  \n  // Para Odoo\n  description: description,\n};\n\nreturn [{ json: { profile } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        544
      ],
      "id": "f0284334-df14-4caf-8a40-e31baae01ce9",
      "name": "ComposeProfile"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2304,
        528
      ],
      "id": "9694b2a8-20df-465d-8780-760816447b71",
      "name": "HydrateForHistory"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "crm.lead",
        "operation": "update",
        "customResourceId": "={{ $json.lead_id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "email_from",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldName": "contact_name",
              "fieldValue": "={{ $json.full_name || \"\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4512,
        -160
      ],
      "id": "339c6981-006d-4e11-909e-279f6f2c5041",
      "name": "UpdateEmailLead",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 4,
        "tableId": 851,
        "rowId": "={{ $json.baserow_update.row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8350,
              "fieldValue": "={{ $json.baserow_update.full_name }}"
            },
            {
              "fieldId": 8352,
              "fieldValue": "={{ $json.baserow_update.email }}"
            },
            {
              "fieldId": 8361,
              "fieldValue": "={{ $json.baserow_update.notes }}"
            },
            {
              "fieldId": 8362,
              "fieldValue": "={{ $json.baserow_update.stage }}"
            },
            {
              "fieldId": 8363,
              "fieldValue": "={{ $json.baserow_update.priority }}"
            },
            {
              "fieldId": 8364,
              "fieldValue": "={{ $json.baserow_update.servicio_interes }}"
            },
            {
              "fieldId": 8365,
              "fieldValue": "={{ $json.baserow_update.interests }}"
            },
            {
              "fieldId": 8366,
              "fieldValue": "={{ $json.baserow_update.foto_recibida }}"
            },
            {
              "fieldId": 8367,
              "fieldValue": "={{ $json.baserow_update.presupuesto_dado }}"
            },
            {
              "fieldId": 8368,
              "fieldValue": "={{ $json.baserow_update.turno_agendado }}"
            },
            {
              "fieldId": 8369,
              "fieldValue": "={{ $json.baserow_update.turno_fecha }}"
            },
            {
              "fieldId": 8370,
              "fieldValue": "={{ $json.baserow_update.sena_pagada }}"
            },
            {
              "fieldId": 8377,
              "fieldValue": "={{ $json.baserow_update.waiting_image }}"
            },
            {
              "fieldId": 8371,
              "fieldValue": "={{ $json.baserow_update.services_seen }}"
            },
            {
              "fieldId": 8372,
              "fieldValue": "={{ $json.baserow_update.prices_asked }}"
            },
            {
              "fieldId": 8373,
              "fieldValue": "={{ $json.baserow_update.deep_interest }}"
            },
            {
              "fieldId": 8374,
              "fieldValue": "={{ $json.baserow_update.email_ask_ts }}"
            },
            {
              "fieldId": 8375,
              "fieldValue": "={{ $json.baserow_update.fullname_ask_ts }}"
            },
            {
              "fieldId": 8395,
              "fieldValue": "={{ $json.baserow_update.image_analysis }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        4336,
        -160
      ],
      "id": "48c7424d-4341-4ca6-932c-f1c053c374e8",
      "name": "StatePatchLead",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ---/// Buffer  Messages (Redis)",
        "height": 840,
        "width": 1784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1392,
        -576
      ],
      "typeVersion": 1,
      "id": "e4455e4c-b943-4a9d-afdc-70093c8b9158",
      "name": "Sticky Note10",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "65cda4b9-35fe-4545-b4a9-21b1acd3204c",
              "leftValue": "={{ !!$json && $json.skip === false && $json.llm && $json.llm.text && $json.llm.text.trim() !== '' && $json.llm.text.trim() !== '[[NO_REPLY]]' }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4112,
        -144
      ],
      "id": "cf80a5bf-6c1f-4fb6-9938-742f5b7278bc",
      "name": "Gate: NO_REPLY / Empty"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// OUTPUT MAIN LERAYSI v3.2 - Simplificado (pagos van a TurnosLeraysi, no aquí)\n// ============================================================================\n// Recibe: LLM output (content_whatsapp + state_patch) + state original\n// Output: Mensaje para Chatwoot + Update para Baserow\n// ============================================================================\n\nconsole.log(\"[OutputMain v3.2] Starting...\");\n\n// ============================================================================\n// 1. OBTENER STATE ORIGINAL (desde Input Main, pasado por el workflow)\n// ============================================================================\n\nconst inputMainData = $(\"Input Main\").first().json;\nconst originalState = inputMainData.state;\nconst protectedFields = inputMainData._protected || [\n  \"row_id\",\n  \"lead_id\",\n  \"chatwoot_id\",\n  \"chatwoot_inbox_id\",\n  \"conversation_id\",\n];\n\nif (!originalState) {\n  throw new Error(\"[OutputMain] Missing original state from Input Main\");\n}\n\nconsole.log(\"[OutputMain v3.2] Original state loaded, row_id:\", originalState.row_id);\n\n// ============================================================================\n// 2. PARSING DEL OUTPUT DEL LLM (ROBUSTO)\n// ============================================================================\n\nconst llmData = $input.first().json;\nlet llmOutput;\n\nfunction cleanJsonString(str) {\n  return str\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/, \"\")\n    .replace(/\\s*```$/m, \"\")\n    .replace(/:\\s*\\n\\s*/g, \": \")\n    .replace(/,\\s*\\n\\s*\"/g, ', \"')\n    .replace(/\"\\s*\\n\\s*}/g, '\"}')\n    .replace(/\"\\s*\\n\\s*,/g, '\",')\n    .replace(/true\\s*\\n\\s*,/g, \"true,\")\n    .replace(/false\\s*\\n\\s*,/g, \"false,\")\n    .replace(/null\\s*\\n\\s*,/g, \"null,\")\n    .replace(/}\\s*\\n\\s*,/g, \"},\")\n    .replace(/]\\s*\\n\\s*,/g, \"],\")\n    .replace(/[\\x00-\\x1F\\x7F]/g, (char) => {\n      if (char === \"\\n\" || char === \"\\r\" || char === \"\\t\") return \" \";\n      return \"\";\n    })\n    .replace(/\\s+/g, \" \")\n    .replace(/,\\s*}/g, \"}\")\n    .replace(/,\\s*]/g, \"]\")\n    .trim();\n}\n\nfunction extractJson(text) {\n  // Intento 1: Parsear directo\n  try {\n    return JSON.parse(text);\n  } catch (e) {\n    console.log(\"[OutputMain v3.2] Parse intento 1 falló\");\n  }\n\n  // Intento 2: Limpiar y parsear\n  const cleaned = cleanJsonString(text);\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    console.log(\"[OutputMain v3.2] Parse intento 2 falló\");\n  }\n\n  // Intento 3: Extraer primer JSON completo (bracket-counting)\n  const startIdx = text.indexOf('{');\n  if (startIdx !== -1) {\n    let depth = 0;\n    let inString = false;\n    let escape = false;\n    let endIdx = -1;\n    for (let i = startIdx; i < text.length; i++) {\n      const ch = text[i];\n      if (escape) { escape = false; continue; }\n      if (ch === '\\\\' && inString) { escape = true; continue; }\n      if (ch === '\"' && !escape) { inString = !inString; continue; }\n      if (inString) continue;\n      if (ch === '{') depth++;\n      if (ch === '}') { depth--; if (depth === 0) { endIdx = i; break; } }\n    }\n    if (endIdx !== -1) {\n      const extracted = text.substring(startIdx, endIdx + 1);\n      const matched = cleanJsonString(extracted);\n      try {\n        return JSON.parse(matched);\n      } catch (e) {\n        console.log(\"[OutputMain v3.2] Parse intento 3 falló\");\n      }\n    }\n  }\n\n  throw new Error(\"No se pudo parsear el JSON después de múltiples intentos\");\n}\n\nif (llmData.output) {\n  llmOutput = extractJson(llmData.output);\n  console.log(\"[OutputMain v3.2] ✅ LLM JSON parsed\");\n} else {\n  llmOutput = llmData;\n}\n\n// ============================================================================\n// 3. EXTRAER content_whatsapp Y state_patch\n// ============================================================================\n\nlet contentWhatsapp = llmOutput.content_whatsapp || \"\";\nlet statePatch = llmOutput.state_patch || {};\n\n// ── RECOVERY: LLM omitió wrapper {\"content_whatsapp\": \"...\"} ──\n// Caso típico: el LLM escribió el texto directo con state_patch pegado al final\n// Raw luce así: \"texto...💕\", \"state_patch\": {\"stage\": \"presupuesto\"}}\nif (!contentWhatsapp && llmData.output) {\n  console.log(\"[OutputMain v3.2] ⚠️ Recovery: content_whatsapp faltante, reconstruyendo...\");\n  const raw = String(llmData.output);\n  const spMarker = '\"state_patch\"';\n  const spIdx = raw.lastIndexOf(spMarker);\n\n  if (spIdx > 0) {\n    // Todo antes de \"state_patch\" es el contenido del mensaje\n    let recovered = raw.substring(0, spIdx)\n      .replace(/[\",\\s]+$/, '')  // Limpiar separadores JSON residuales: \",\n      .replace(/\\\\n/g, '\\n')    // \\n literal → newline real\n      .trim();\n\n    if (recovered) {\n      contentWhatsapp = recovered;\n\n      // Si extractJson devolvió el objeto state_patch como raíz (sin wrapper),\n      // usarlo directamente como statePatch\n      if (Object.keys(statePatch).length === 0 && Object.keys(llmOutput).length > 0) {\n        statePatch = llmOutput;\n      }\n\n      console.log(\"[OutputMain v3.2] ✅ Recovery exitoso, content length:\", recovered.length);\n    }\n  } else if (raw.trim()) {\n    // No hay state_patch en el texto → usar todo como contenido\n    contentWhatsapp = raw.replace(/\\\\n/g, '\\n').trim();\n    console.log(\"[OutputMain v3.2] 🔧 Recovery: usando raw output completo como content\");\n  }\n}\n\nif (!contentWhatsapp) {\n  throw new Error(\"[OutputMain] Missing content_whatsapp from LLM\");\n}\n\nconsole.log(\"[OutputMain v3.2] state_patch keys:\", Object.keys(statePatch));\n\n// ============================================================================\n// 4. APLICAR PATCH AL STATE (protegiendo campos)\n// ============================================================================\n\n// ── Validación de stage: corregir valores inválidos del LLM ──\n// Baserow `stage` es Single Select con 5 opciones fijas.\n// El LLM a veces confunde el flag booleano `turno_agendado` con un valor de stage.\nconst STAGES_VALIDOS = ['explore', 'consulta', 'presupuesto', 'turno_pendiente', 'turno_confirmado'];\nif (statePatch.stage && !STAGES_VALIDOS.includes(statePatch.stage)) {\n  const stageOriginal = statePatch.stage;\n  if (statePatch.stage === 'turno_agendado') {\n    statePatch.stage = 'turno_pendiente';\n  } else {\n    delete statePatch.stage;\n  }\n  console.log(`[OutputMain v3.2] 🛡️ Stage inválido \"${stageOriginal}\" → ${statePatch.stage || '(eliminado)'}`);\n}\n\nconst mergedState = { ...originalState };\n\n// ── Protección: turno confirmado + pagado → no degradar stage ──\n// Cuando el turno ya está agendado y la seña pagada, el stage no puede\n// retroceder de \"turno_confirmado\" a etapas anteriores.\n// Esto protege contra el LLM enviando state_patch incorrecto durante\n// consultas de disponibilidad para reprogramación.\nconst turnoConfirmadoPagado = originalState.turno_agendado === true && originalState.sena_pagada === true;\nif (turnoConfirmadoPagado && statePatch.stage && statePatch.stage !== \"turno_confirmado\") {\n  console.log(`[OutputMain v3.2] 🛡️ Protección turno confirmado+pagado: bloqueando stage \"${statePatch.stage}\" → manteniendo \"turno_confirmado\"`);\n  delete statePatch.stage;\n}\n\nfor (const [key, value] of Object.entries(statePatch)) {\n  // Saltar campos protegidos\n  if (protectedFields.includes(key)) {\n    console.log(`[OutputMain v3.2] ⚠️ Ignorando campo protegido: ${key}`);\n    continue;\n  }\n\n  // Manejar contadores (incrementales)\n  if ([\"services_seen\", \"prices_asked\", \"deep_interest\"].includes(key)) {\n    const currentVal = Number(mergedState[key]) || 0;\n    const patchVal = Number(value) || 0;\n    // Si el patch es mayor, usar el patch (asume que LLM incrementó)\n    // Si no, mantener el original\n    mergedState[key] = Math.max(currentVal, patchVal);\n    console.log(`[OutputMain v3.2] Contador ${key}: ${currentVal} → ${mergedState[key]}`);\n    continue;\n  }\n\n  // Manejar arrays (interests) - merge sin duplicados\n  if (key === \"interests\" && Array.isArray(value)) {\n    const currentArr = Array.isArray(mergedState.interests) ? mergedState.interests : [];\n    const merged = [...new Set([...currentArr, ...value])];\n    mergedState.interests = merged;\n    console.log(`[OutputMain v3.2] Interests merged:`, merged);\n    continue;\n  }\n\n  // Manejar timestamps de solicitud (true → timestamp ISO, false → null)\n  if ((key === \"email_ask_ts\" || key === \"fullname_ask_ts\") && typeof value === 'boolean') {\n    if (value === false) {\n      // LLM dice \"ya no preguntar\" → limpiar el campo (Baserow necesita null, no false)\n      mergedState[key] = null;\n      console.log(`[OutputMain v3.2] ${key} → null (LLM envió false)`);\n      continue;\n    }\n    // value === true → convertir a timestamp\n    // Formato para Baserow: YYYY-MM-DDThh:mm:ss-03:00\n    // Ajustar UTC a Argentina (UTC-3)\n    const now = new Date();\n    const argentinaTime = new Date(now.getTime() - (3 * 60 * 60 * 1000));\n    const offset = '-03:00';\n    const year = argentinaTime.getUTCFullYear();\n    const month = String(argentinaTime.getUTCMonth() + 1).padStart(2, '0');\n    const day = String(argentinaTime.getUTCDate()).padStart(2, '0');\n    const hours = String(argentinaTime.getUTCHours()).padStart(2, '0');\n    const minutes = String(argentinaTime.getUTCMinutes()).padStart(2, '0');\n    const seconds = String(argentinaTime.getUTCSeconds()).padStart(2, '0');\n    const timestamp = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}${offset}`;\n    mergedState[key] = timestamp;\n    console.log(`[OutputMain v3.2] ${key} convertido a timestamp:`, timestamp);\n    continue;\n  }\n\n  // Campos normales: sobrescribir\n  mergedState[key] = value;\n}\n\nconsole.log(\"[OutputMain v3.2] Merged state:\");\nconsole.log(\"  - stage:\", mergedState.stage);\nconsole.log(\"  - servicio_interes:\", mergedState.servicio_interes);\nconsole.log(\"  - waiting_image:\", mergedState.waiting_image);\n\n// ============================================================================\n// 5. GENERAR NOTES DINÁMICO\n// ============================================================================\n\nfunction generateContextualNote(state) {\n  const stage = state.stage;\n  const servicio = state.servicio_interes;\n\n  if (stage === \"explore\") {\n    return \"Conversación inicial - explorando servicios\";\n  }\n\n  if (stage === \"consulta\") {\n    if (state.waiting_image) {\n      return `Consulta ${servicio} - Esperando foto`;\n    }\n    return `Consulta sobre ${servicio || \"servicios\"}`;\n  }\n\n  if (stage === \"presupuesto\") {\n    const analysis = state.image_analysis;\n    if (analysis) {\n      return `Presupuesto ${servicio} - Cabello ${analysis.length || \"\"} (${analysis.complexity || \"media\"})`;\n    }\n    return `Presupuesto dado - ${servicio}`;\n  }\n\n  if (stage === \"turno_pendiente\") {\n    return `Gestionando turno - ${servicio}`;\n  }\n\n  if (stage === \"turno_confirmado\") {\n    return `Turno confirmado - ${servicio} (${state.turno_fecha || \"fecha pendiente\"})`;\n  }\n\n  return \"Conversación en curso\";\n}\n\n// ============================================================================\n// 6. HELPERS\n// ============================================================================\n\nfunction escapeHtml(str) {\n  if (!str) return \"\";\n  return String(str)\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n}\n\nfunction sanitizeText(str, maxLength = 3500) {\n  if (!str) return \"\";\n  let text = String(str)\n    .replace(/\\r\\n?/g, \"\\n\")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n  if (text.length > maxLength) {\n    text = text.slice(0, maxLength - 1) + \"…\";\n  }\n  return text;\n}\n\n// ============================================================================\n// 7. CONSTRUIR CONTENIDO HTML\n// ============================================================================\n\nconst whatsappContent = sanitizeText(contentWhatsapp);\nconst bodyHtml = `<p>${escapeHtml(whatsappContent)}</p>`;\n\n// ============================================================================\n// 8. CONSTRUIR BASEROW UPDATE (estructura unificada)\n// ============================================================================\n\nconst baserowUpdate = {\n  // IDs (para identificar el row)\n  row_id: mergedState.row_id,\n\n  // Datos del cliente (actualizables por LLM)\n  full_name: mergedState.full_name || null,\n  email: mergedState.email || null,\n\n  // Funnel state\n  stage: mergedState.stage,\n  priority: mergedState.priority || \"normal\",\n  servicio_interes: mergedState.servicio_interes || null,\n  interests: Array.isArray(mergedState.interests) ? mergedState.interests : [],\n\n  // Flags del proceso\n  foto_recibida: Boolean(mergedState.foto_recibida),\n  presupuesto_dado: Boolean(mergedState.presupuesto_dado),\n  turno_agendado: Boolean(mergedState.turno_agendado),\n  turno_fecha: mergedState.turno_fecha || null,\n  sena_pagada: Boolean(mergedState.sena_pagada),\n  waiting_image: Boolean(mergedState.waiting_image),\n\n  // NOTA: Campos de pago (link_pago, mp_preference_id, precio, etc.)\n  // NO van aquí - se guardan en TurnosLeraysi via sub-workflow\n\n  // Contadores\n  services_seen: mergedState.services_seen ?? 0,\n  prices_asked: mergedState.prices_asked ?? 0,\n  deep_interest: mergedState.deep_interest ?? 0,\n\n  // Cooldowns (Baserow datetime: solo acepta string ISO o null, NUNCA boolean)\n  email_ask_ts: typeof mergedState.email_ask_ts === 'string' ? mergedState.email_ask_ts : null,\n  fullname_ask_ts: typeof mergedState.fullname_ask_ts === 'string' ? mergedState.fullname_ask_ts : null,\n\n  // Nota dinámica\n  notes: generateContextualNote(mergedState),\n\n  // Análisis de imagen (si existe)\n  image_analysis: mergedState.image_analysis\n    ? JSON.stringify(mergedState.image_analysis)\n    : null,\n};\n\nconsole.log(\"[OutputMain v3.2] Notes generado:\", baserowUpdate.notes);\n\n// ============================================================================\n// 9. OUTPUT FINAL\n// ============================================================================\n\nconst output = {\n  content_whatsapp: {\n    content: whatsappContent,\n    message_type: \"outgoing\",\n    content_type: \"text\",\n  },\n  body_html: bodyHtml,\n  lead_id: mergedState.lead_id,\n  row_id: mergedState.row_id,\n  baserow_update: baserowUpdate,\n  state: mergedState,\n  meta: {\n    timestamp: new Date().toISOString(),\n    version: \"leraysi-output@3.1\",\n    patch_applied: Object.keys(statePatch),\n  },\n};\n\nconsole.log(\"[OutputMain v3.2] ✅ Done\");\n\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        -128
      ],
      "id": "2995729d-f800-4e7c-9cad-d93cffabf7de",
      "name": "Output Main",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Normalize_Inbound').item.json.profile_base.phone_e164 }}",
        "messageData": "={{ JSON.stringify($('Normalize_Inbound').item.json.event) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -768,
        -336
      ],
      "id": "340b3321-b532-428f-b1bc-deabfee0ec39",
      "name": "PushBufferEvent",
      "credentials": {
        "redis": {
          "id": "GgQvbCjEYsUxvMUo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9c102752-1e5a-4c43-b85f-33b436bdd09d",
              "leftValue": "={{ $json.body.conversation.messages[0].sender.custom_attributes.estado }}",
              "rightValue": "OFF",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -784
      ],
      "id": "43dab2c3-a10e-46ad-be5e-72526fe7b2b2",
      "name": "If_Estado_!=_OFF"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Inbound — country + tz + channel + timestamps + último mensaje → CLO\n// Entrada: ítems con payload Chatwoot (como el que compartiste)\n// Salida: { profile_base: {...}, event: {...} }\n\nfunction pickLatestMessage(messages = []) {\n  if (!Array.isArray(messages) || messages.length === 0) return null;\n\n  const toMs = (v) => {\n    if (v == null) return -Infinity;\n    if (typeof v === 'number') {\n      // epoch segundos o ms\n      return v < 1e12 ? v * 1000 : v;\n    }\n    const s = String(v);\n    // num como string\n    if (/^\\d+$/.test(s)) {\n      const n = parseInt(s, 10);\n      return n < 1e12 ? n * 1000 : n;\n    }\n    // ISO\n    const t = Date.parse(s);\n    return Number.isFinite(t) ? t : -Infinity;\n  };\n\n  let latest = messages[0];\n  let latestMs = toMs(messages[0]?.created_at);\n\n  for (const m of messages.slice(1)) {\n    const ms = toMs(m?.created_at);\n    if (ms > latestMs) {\n      latest = m;\n      latestMs = ms;\n    }\n  }\n  return latest;\n}\n\nfunction parseToIso(value) {\n  if (value == null) return new Date().toISOString();\n  if (typeof value === 'number') {\n    const ms = value < 1e12 ? value * 1000 : value;\n    return new Date(ms).toISOString();\n  }\n  const s = String(value);\n  if (/^\\d+$/.test(s)) {\n    const n = parseInt(s, 10);\n    const ms = n < 1e12 ? n * 1000 : n;\n    return new Date(ms).toISOString();\n  }\n  const t = Date.parse(s);\n  return Number.isFinite(t) ? new Date(t).toISOString() : new Date().toISOString();\n}\n\nfunction normalizeChannel(raw) {\n  const s = String(raw || '').toLowerCase();\n  const base = s.includes('::') ? s.split('::').pop() : s;\n  if (base.includes('whats')) return 'whatsapp';\n  if (base.includes('insta')) return 'instagram';\n  if (base.includes('face')) return 'facebook';\n  if (base.includes('sms')) return 'sms';\n  if (base.includes('mail') || base.includes('email')) return 'email';\n  if (base.includes('web') || base.includes('site')) return 'web';\n  return base || 'unknown';\n}\n\nfunction detectCountryByPhone(phone) {\n  const codeMap = {\n    '+593': 'Ecuador',\n    '+595': 'Paraguay',\n    '+591': 'Bolivia',\n    '+592': 'Guyana',\n    '+594': 'Guayana Francesa',\n    '+598': 'Uruguay',\n    '+597': 'Surinam',\n    '+5989': 'Uruguay', // ejemplo de prefijo más largo si quisieras ajustar\n    '+58': 'Venezuela',\n    '+57': 'Colombia',\n    '+56': 'Chile',\n    '+55': 'Brasil',\n    '+54': 'Argentina',\n    '+52': 'México',\n    '+51': 'Perú',\n    '+34': 'España',\n    '+1': 'Estados Unidos'\n  };\n  const p = String(phone || '');\n  const prefixes = Object.keys(codeMap).sort((a, b) => b.length - a.length); // más largo primero\n  const hit = prefixes.find(pref => p.startsWith(pref));\n  return codeMap[hit] || 'Desconocido';\n}\n\nfunction tzByCountry(country) {\n  const tzMap = {\n    'Argentina': '-03:00',\n    'España': '+01:00',      // simple, sin DST por ahora\n    'México': '-06:00',\n    'Colombia': '-05:00',\n    'Chile': '-04:00',\n    'Perú': '-05:00',\n    'Venezuela': '-04:00',\n    'Brasil': '-03:00',\n    'Paraguay': '-04:00',\n    'Ecuador': '-05:00',\n    'Bolivia': '-04:00',\n    'Estados Unidos': '-05:00',\n    'Uruguay': '-03:00',\n    'Surinam': '-03:00',\n    'Guayana Francesa': '-03:00',\n    'Guyana': '-04:00',\n    'Desconocido': '-03:00'\n  };\n  return tzMap[country] || '-03:00';\n}\n\nfunction toLocalIso(isoUtc, tzOff) {\n  // Convierte un ISO UTC a ISO con offset y hora local (sumando el offset).\n  // Ej: \"2025-09-16T14:25:27Z\" + \"-03:00\" → \"2025-09-16T11:25:27-03:00\"\n  const d = new Date(isoUtc);\n  const sign = tzOff.startsWith('-') ? -1 : 1;\n  const [h, m] = tzOff.slice(1).split(':').map(Number);\n  const offMin = sign * (h * 60 + m);\n  const localMs = d.getTime() + offMin * 60000;\n  const localIso = new Date(localMs).toISOString().replace('Z', tzOff);\n  return localIso;\n}\n\nfunction cleanText(s) {\n  return String(s || '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/?(?!strong\\b)\\w+[^>]*>/g, '') // mantiene <strong>, quita el resto\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const data = item.json || {};\n  const body = data.body || {};\n  const conv = body.conversation || {};\n  const msgs = Array.isArray(conv.messages) ? conv.messages : [];\n\n  // Último mensaje real\n  const lastMsg = pickLatestMessage(msgs) || {};\n  const msgId = lastMsg.id ?? null;\n  const msgText = lastMsg.processed_message_content ?? lastMsg.content ?? body.content ?? '';\n  const msgCreatedIso = parseToIso(lastMsg.created_at ?? body.created_at ?? data.created_at);\n\n  // Identidad / IDs\n  const sender = lastMsg.sender || conv.meta?.sender || data.sender || {};\n  const nickName = sender.name ?? '';\n  const phone = sender.phone_number ?? '';\n  const email = sender.email ?? null;\n\n  const chatwootId = sender.id ?? conv.meta?.sender?.id ?? data.sender?.id ?? null;\n  const chatwootInboxId = conv.contact_inbox?.id ?? null;\n  const conversationId = conv.id ?? null;\n\n  // Country & tz\n  const country = detectCountryByPhone(phone);\n  const tz = tzByCountry(country);\n\n  // Canal normalizado\n  const channel = normalizeChannel(conv.channel || data.inbox?.name);\n\n  // Timestamps de evento\n  const nowIsoUtc = new Date().toISOString();\n  const nowIsoLocal = toLocalIso(nowIsoUtc, tz);\n\n  const profile_base = {\n    nick_name: nickName || '',\n    phone_e164: phone || '',\n    email: email || null,\n    country,\n    tz,\n    channel,\n    chatwoot_id: chatwootId,\n    chatwoot_inbox_id: chatwootInboxId,\n    conversation_id: conversationId\n  };\n\n  const event = {\n    message_id: msgId,\n    message_text: cleanText(msgText),\n    msg_created_iso: msgCreatedIso,\n    now_iso_utc: nowIsoUtc,\n    now_iso_local: nowIsoLocal\n  };\n\n  out.push({ json: { profile_base, event } });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        -336
      ],
      "id": "a27034bd-c8a5-41f6-8187-6240d7927882",
      "name": "Normalize_Inbound"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Normalize_Inbound').item.json.profile_base.phone_e164 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        -240
      ],
      "id": "8bdb581f-7071-41c8-8da7-642898dcc4b5",
      "name": "Buf_Flush",
      "credentials": {
        "redis": {
          "id": "GgQvbCjEYsUxvMUo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Normalize_Inbound').item.json.profile_base.phone_e164 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        -336
      ],
      "id": "6e5f725e-e716-4dbf-b4c6-85384c511a34",
      "name": "Buf_FetchAll",
      "credentials": {
        "redis": {
          "id": "GgQvbCjEYsUxvMUo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -192,
        -288
      ],
      "id": "ea017a89-6811-4ea2-bc72-34c92f180697",
      "name": "Ctrl_WaitSilence",
      "webhookId": "6c6d47c6-1254-479b-a630-1f53e004b8ea"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        96,
        -480
      ],
      "id": "506311c8-991e-48b9-b551-9e486d0455ab",
      "name": "Util_NoOp"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6090489c-77b1-48cf-9108-7a329de00736",
                    "leftValue": "={{ JSON.parse($json.message.last()).message_id }}",
                    "rightValue": "={{ $('Normalize_Inbound').item.json.event.message_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nothing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e5f0208-2730-4fcc-a845-b53cd0a97f87",
                    "leftValue": "={{ JSON.parse($json.message.last()).now_iso_local }}",
                    "rightValue": "={{ $now.minus(8,'seconds').toISO() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -368,
        -464
      ],
      "id": "7f5a4d3a-6b21-4c77-a309-cf8dad1f9eb3",
      "name": "Ctrl_WindowDecision"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -928,
        0
      ],
      "id": "4bd03eff-5397-468c-8f93-414d338b99ae",
      "name": "Buf_SplitItems"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.message) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        0
      ],
      "id": "6acf998c-000f-4668-a1a9-9c95873322ec",
      "name": "Buf_ParseJSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b6ef449-5b16-4493-855c-c2c11f51a507",
              "name": "message_text",
              "value": "={{ $json.message_text }}",
              "type": "string"
            },
            {
              "id": "e77d89cc-6d22-40a9-b644-d2d58c39c028",
              "name": "now_iso_local",
              "value": "={{ $json.now_iso_local }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        0
      ],
      "id": "657284a3-c99a-4eba-802c-6a4ef56e951d",
      "name": "Buf_NormalizeParts"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "now_iso_local"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -288,
        0
      ],
      "id": "34bc7b33-a0af-4193-aec1-c2ccdc2440e3",
      "name": "Buf_SortByTs"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "5d22a85f-b5bf-434d-b1e9-23b62d63ac67",
      "name": "Buf_ConcatTexts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2d220c0-3058-41ac-b05e-444f760a0033",
              "name": "profile_base.nick_name",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.nick_name }}",
              "type": "string"
            },
            {
              "id": "ab05a475-1878-4963-9940-00da3703893c",
              "name": "profile_base.phone_e164",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.phone_e164 }}",
              "type": "string"
            },
            {
              "id": "e60abf35-c526-4baa-b0d6-f350e94e2a67",
              "name": "profile_base.email",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.email }}",
              "type": "string"
            },
            {
              "id": "472a2129-1c97-46e4-aec9-84692a7edb29",
              "name": "profile_base.country",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.country }}",
              "type": "string"
            },
            {
              "id": "242358d8-e5e2-4d32-b429-c4e4ad21c3e3",
              "name": "profile_base.tz",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.tz }}",
              "type": "string"
            },
            {
              "id": "39bd81f2-7ba4-4705-8806-014e19940f0a",
              "name": "profile_base.channel",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.channel }}",
              "type": "string"
            },
            {
              "id": "b0cc434b-eda8-4859-b123-f817d1fcfde8",
              "name": "profile_base.chatwoot_id",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.chatwoot_id }}",
              "type": "number"
            },
            {
              "id": "c5dcd7de-b8a4-458d-8607-3819054768ac",
              "name": "profile_base.chatwoot_inbox_id",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.chatwoot_inbox_id }}",
              "type": "number"
            },
            {
              "id": "3e448b21-f7e3-4c29-9fc7-3543dbefa8ce",
              "name": "profile_base.conversation_id",
              "value": "={{ $('Normalize_Inbound').item.json.profile_base.conversation_id }}",
              "type": "number"
            },
            {
              "id": "ed621a2b-ae75-4c4d-a620-b4da981ffe70",
              "name": "event.message_id",
              "value": "={{ $('Normalize_Inbound').item.json.event.message_id }}",
              "type": "number"
            },
            {
              "id": "dc2af032-dd54-4fae-bf49-788cd9cabe5b",
              "name": "event.message_text",
              "value": "={{ $json.message_text.join(\" \") }}",
              "type": "string"
            },
            {
              "id": "fdaad093-cf2a-4ed8-bb50-d5baa5cb03e6",
              "name": "event.msg_created_iso",
              "value": "={{ $('Normalize_Inbound').item.json.event.msg_created_iso }}",
              "type": "string"
            },
            {
              "id": "b2951026-4ca2-4d45-bf83-d56025028e07",
              "name": "event.now_iso_utc",
              "value": "={{ $('Normalize_Inbound').item.json.event.now_iso_utc }}",
              "type": "string"
            },
            {
              "id": "7ade63e3-0662-4e30-8f6d-3c6d3404ea49",
              "name": "event.now_iso_local",
              "value": "={{ $('Normalize_Inbound').item.json.event.now_iso_local }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        0
      ],
      "id": "9683f6c8-759c-4801-b7bc-b004640c4bf0",
      "name": "Buf_FinalizePayload"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// INPUT MAIN v3.1 - Con contexto temporal expl\\u00edcito\n// ============================================================================\n\nconst inputData = $input.first().json;\nconst { history, lead_id, profile } = inputData;\nconst state = profile;\n\nif (!history || !state) {\n  throw new Error(\"[InputMain] Missing required fields: history or state\");\n}\n\n// ============================================================================\n// 2. CAMPOS PROTEGIDOS (no modificables por LLM)\n// ============================================================================\nconst PROTECTED_FIELDS = [\"row_id\", \"lead_id\", \"chatwoot_id\", \"chatwoot_inbox_id\", \"conversation_id\"];\n\n// ============================================================================\n// 3. BUILD META + CONTEXTO TEMPORAL\n// ============================================================================\nconst now = new Date();\nconst diasSemana = ['Domingo', 'Lunes', 'Martes', 'Mi\\u00e9rcoles', 'Jueves', 'Viernes', 'S\\u00e1bado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\nconst fechaHumana = `${diasSemana[now.getDay()]} ${now.getDate()} de ${meses[now.getMonth()]} de ${now.getFullYear()}`;\n\nconst meta = {\n  now_ts: now.toISOString(),\n  now_human: fechaHumana,\n  history_len: history.length,\n  channel: state.channel || \"whatsapp\",\n  country: state.country || \"Argentina\",\n  tz: state.tz || \"-03:00\",\n};\n\n// ============================================================================\n// 4. BUILD USER PROMPT\n// ============================================================================\nconst lastUserMessage = history.filter((m) => m.role === \"user\").slice(-1)[0];\nconst userMessageText = lastUserMessage?.text || \"[Foto enviada]\";\nconst displayName = state.full_name || state.nick_name || \"clienta\";\n\n// Secci\\u00f3n de an\\u00e1lisis de imagen (solo si existe)\nlet imageSection = \"\";\nif (state.image_analysis) {\n  const ia = state.image_analysis;\n  // Precios base de servicios de cabello (ajustados por largo detectado)\n  const PRECIOS_BASE = {\n    'Corte mujer': 8000, 'Alisado brasile\\u00f1o': 45000, 'Alisado keratina': 55000,\n    'Mechas completas': 35000, 'Tintura ra\\u00edz': 15000, 'Tintura completa': 25000,\n    'Balayage': 50000\n  };\n  // Precios fijos (no dependen del largo del cabello)\n  const PRECIOS_FIJOS = {\n    'Manicura simple': 5000, 'Manicura semipermanente': 8000, 'Pedicura': 6000,\n    'Depilaci\\u00f3n cera piernas': 10000, 'Depilaci\\u00f3n cera axilas': 4000,\n    'Depilaci\\u00f3n cera bikini': 6000, 'Depilaci\\u00f3n l\\u00e1ser piernas': 25000,\n    'Depilaci\\u00f3n l\\u00e1ser axilas': 12000\n  };\n  const MULT = { 'corto': 1.0, 'medio': 1.1, 'largo': 1.2 };\n  const mult = MULT[ia.length] || 1.0;\n\n  const tablaCabello = Object.entries(PRECIOS_BASE)\n    .map(([s, base]) => `- ${s}: $${Math.round(base * mult).toLocaleString('es-AR')}`)\n    .join('\\n');\n  const tablaFijos = Object.entries(PRECIOS_FIJOS)\n    .map(([s, p]) => `- ${s}: $${p.toLocaleString('es-AR')}`)\n    .join('\\n');\n\n  imageSection = `\n## Foto Recibida\nLargo: ${ia.length} | Textura: ${ia.texture} | Condici\\u00f3n: ${ia.condition}\nColor: ${ia.current_color} | ${ia.is_dyed ? \"Te\\u00f1ido\" : \"Sin te\\u00f1ir\"} | ${ia.has_roots ? \"Con ra\\u00edces\" : \"Sin ra\\u00edces\"}\n\n## PRECIOS FINALES (ya calculados, usar EXACTAMENTE estos valores)\n### Servicios de cabello (ajustados para cabello ${ia.length}):\n${tablaCabello}\n### Servicios precio fijo:\n${tablaFijos}\n\n\\u26a0\\ufe0f USAR estos precios EXACTOS al dar presupuesto y al llamar tools. NO aplicar ajustes adicionales.\n`;\n}\n\n// Formatear historial completo (\\u00faltimos 10 mensajes)\nconst recentHistory = history.slice(-10);\nconst historyFormatted = recentHistory\n  .map((m) => `[${m.role.toUpperCase()}]: ${m.text}`)\n  .join(\"\\n\\n\");\n\nconst userPrompt = `## Historial de Conversaci\\u00f3n\n${historyFormatted}\n\n---\n\n## \\ud83d\\udcc5 Contexto Temporal\n**Hoy es: ${fechaHumana}**\n\n## Estado Actual del Lead\n- Stage: ${state.stage}\n- Servicio de inter\\u00e9s: ${state.servicio_interes || \"ninguno\"}\n- Foto recibida: ${state.foto_recibida ? \"S\\u00cd\" : \"no\"}\n- Presupuesto dado: ${state.presupuesto_dado ? \"S\\u00cd\" : \"no\"}\n- Esperando foto: ${state.waiting_image ? \"S\\u00cd\" : \"no\"}\n- Contadores: services_seen=${state.services_seen}, prices_asked=${state.prices_asked}, deep_interest=${state.deep_interest}\n- Datos cliente: full_name=${state.full_name || \"pendiente\"}, email=${state.email || \"pendiente\"}\n${imageSection}\n---\n\n## \\u00daltimo Mensaje a Responder\n\"${userMessageText}\"\n\nResponde a este mensaje actualizando el state seg\\u00fan corresponda.\n`;\n\n// ============================================================================\n// 5. OUTPUT\n// ============================================================================\nreturn [\n  {\n    json: {\n      userPrompt,\n      lead_id,\n      state,\n      meta,\n      _protected: PROTECTED_FIELDS,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        -112
      ],
      "id": "a8282314-780f-4bb2-88e2-042059f16ef4",
      "name": "Input Main"
    },
    {
      "parameters": {
        "content": "## ---/// Profile and State Zone ",
        "height": 880,
        "width": 2272,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -64
      ],
      "typeVersion": 1,
      "id": "0511f831-2d25-4eff-bb93-47d26816e806",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.attachments[0]?.file_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "40bdedaa-cc7e-4a0a-9d74-ea2ac68ef12a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "666552fc-f63c-41b0-93c5-7045c255a179",
                    "leftValue": "={{ $json.body.attachments[0]?.file_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "422fa002-5aa0-4a1a-923b-e6c71dfc000f",
                    "leftValue": "={{ $json.body.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        -816
      ],
      "id": "33123f16-60f0-4975-bf09-4984b814657e",
      "name": "MessageType"
    },
    {
      "parameters": {
        "url": "={{ $json.body.attachments[0].data_url.replace(\"https://chat.leonobitech.com\", \"http://chatwoot:3000\") }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -688
      ],
      "id": "d5316fc9-3921-46cc-9aed-904024a225cb",
      "name": "DownloadAudio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        896,
        -688
      ],
      "id": "670f6761-f258-44cb-8e28-5b5d8b589766",
      "name": "TranscribeAudio",
      "credentials": {
        "openAiApi": {
          "id": "xez5pcf77ZJRSNdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3996bd7c-a1c6-4419-8fba-f9055651093d",
              "name": "headers",
              "value": "={{ $('MessageType').item.json.headers }}",
              "type": "object"
            },
            {
              "id": "c0cead05-d9a7-47f5-8e7f-c4c6f92d603c",
              "name": "params",
              "value": "={{ $('MessageType').item.json.params }}",
              "type": "object"
            },
            {
              "id": "099e5eb2-0336-40a3-ac13-87423eb09c93",
              "name": "query",
              "value": "={{ $('MessageType').item.json.query }}",
              "type": "object"
            },
            {
              "id": "36f5c417-2c8a-4d54-a698-863c5b9c187b",
              "name": "body",
              "value": "={{ { ...$('MessageType').item.json.body, content: $json.text, original_type: \"audio\" } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -688
      ],
      "id": "c801b720-0317-47f5-a34c-67c110170b12",
      "name": "NormalizeTranscription"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "031379aa-ae78-4508-936f-21e902d4c2bb",
              "leftValue": "={{ $('Webhook').item.json.body.attachments[0]?.file_type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        976
      ],
      "id": "cac7b518-d290-42f0-a138-c701109f5f3f",
      "name": "ResponseType"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://chatwoot:3000/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $('Filter Output Initial').item.json.content_whatsapp }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1216
      ],
      "id": "954c48d0-0ad6-40a7-8b1e-eea117d189c5",
      "name": "ResponseChatwootText",
      "credentials": {
        "httpBearerAuth": {
          "id": "E7BkxWB1Ga1V8vJy",
          "name": "Bearer Auth Chatwood"
        },
        "httpHeaderAuth": {
          "id": "4CCgRLgHR96JW4Ue",
          "name": "Chatwoot Auth account "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://chatwoot:3000/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        1216
      ],
      "id": "55987bb9-9522-45ef-a733-a0a0c7a94982",
      "name": "ResponseChatwootAudio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4CCgRLgHR96JW4Ue",
          "name": "Chatwoot Auth account "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://piper_tts:5000/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Filter Output Initial').item.json.content_whatsapp.replace(/^.*?:\\s*/, '').replace(/[\\p{Emoji_Presentation}\\p{Extended_Pictographic}]/gu, '').trim() }}"
            },
            {
              "name": "output_format",
              "value": "mp3"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        960
      ],
      "id": "54c873dc-139c-4c5f-9199-69d798d0ed62",
      "name": "GenerateAudio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "031379aa-ae78-4508-936f-21e902d4c2bb",
              "leftValue": "={{ $('Webhook').item.json.body.attachments[0]?.file_type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4864,
        -160
      ],
      "id": "1e11dee1-d60a-41fb-84f1-320af0f82dd1",
      "name": "ResponseType1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://piper_tts:5000/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Output Main').item.json.content_whatsapp.content.replace(/^.*?:\\s*/, '').replace(/[\\p{Emoji_Presentation}\\p{Extended_Pictographic}]/gu, '').trim() }}"
            },
            {
              "name": "output_format",
              "value": "mp3"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5040,
        -304
      ],
      "id": "28de7ca6-bede-4696-abae-144083f49049",
      "name": "GenerateAudio1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://chatwoot:3000/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5216,
        -304
      ],
      "id": "c1817e9a-6acb-494d-829b-170859a9f37b",
      "name": "ResponseChatwootAudio1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4CCgRLgHR96JW4Ue",
          "name": "Chatwoot Auth account "
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "crm.lead",
        "operation": "update",
        "customResourceId": "={{ $json.profile.lead_id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "description",
              "fieldValue": "={{ $json.profile.description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1440,
        352
      ],
      "id": "59a4d266-0bdc-4ca5-a743-7823de9e2a4c",
      "name": "UpdateDescription",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 4,
        "tableId": 851,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8345,
                "value": "={{ $json.body.sender.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        720,
        -880
      ],
      "id": "6a4051e4-715f-4de7-b75b-b3a8b837a698",
      "name": "Baserow List Rows",
      "alwaysOutputData": true,
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "60f965c6-7eb0-4d87-8f84-d5eb8f070885",
              "leftValue": "={{ $json.waiting_image }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -880
      ],
      "id": "92602d42-0e82-4ca3-b83b-eeb381173d9c",
      "name": "IF_WaitingImage"
    },
    {
      "parameters": {
        "url": "={{ $('MessageType').item.json.body.attachments[0].data_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -896
      ],
      "id": "1da317b4-791a-454d-bee6-6f0e40d2116b",
      "name": "GetImageFromChatwoot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"{{ $json.image_mime_type }}\",\n            \"data\": \"{{ $json.image_base64 }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Analizá esta foto de cabello para un salón de belleza.\\n\\nRespondé SOLO en este formato JSON:\\n\\n{\\n  \\\"is_hair_photo\\\": true/false,\\n  \\\"length\\\": \\\"corto|medio|largo|muy_largo\\\",\\n  \\\"condition\\\": \\\"sano|levemente_danado|danado|muy_danado\\\",\\n  \\\"current_color\\\": \\\"descripción del color actual\\\",\\n  \\\"has_roots\\\": true/false,\\n  \\\"is_dyed\\\": true/false,\\n  \\\"texture\\\": \\\"lacio|ondulado|rizado|muy_rizado\\\",\\n  \\\"complexity\\\": \\\"baja|media|alta|muy_alta\\\",\\n  \\\"notes\\\": \\\"observaciones adicionales\\\"\\n}\\n\\nSi la imagen NO es de cabello, respondé:\\n{\\n  \\\"is_hair_photo\\\": false,\\n  \\\"notes\\\": \\\"descripción de lo que se ve\\\"\\n}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1520,
        -896
      ],
      "id": "22ccc2cf-bc50-4fb1-b175-c7d89a36814b",
      "name": "VisionAnalyzeHair",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N95s0NKz3APN3ji4",
          "name": "Header Auth anthropic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = binaryData.toString('base64');\nconst mimeType = $input.item.binary.data.mimeType;\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    image_base64: base64,\n    image_mime_type: mimeType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -896
      ],
      "id": "653050a0-8103-4bfa-b832-fdf71eb34eea",
      "name": "ExtractBase64"
    },
    {
      "parameters": {
        "jsCode": "// Helper functions\nfunction num(x, d=0){ const n = Number(x); return Number.isFinite(n) ? n : d; }\nfunction nul(x){ return (x === '' || x === undefined) ? null : x; }\nfunction val(v){ return (v && typeof v === 'object' && 'value' in v) ? v.value : v; }\n\n// Función robusta para extraer JSON\nfunction extractJSON(text) {\n  // Intentar parsear directo\n  try {\n    return JSON.parse(text);\n  } catch (e) {\n    // Continuar con limpieza\n  }\n  \n  // Limpiar markdown ```json ... ```\n  let cleaned = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  \n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    // Continuar con más limpieza\n  }\n  \n  // Buscar JSON entre llaves { ... }\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      return JSON.parse(jsonMatch[0]);\n    } catch (e) {\n      // Continuar\n    }\n  }\n  \n  // Último intento: limpiar caracteres problemáticos\n  cleaned = text\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/g, '')\n    .replace(/^\\s*[\\r\\n]+/, '')\n    .replace(/[\\r\\n]+\\s*$/, '')\n    .trim();\n  \n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    // Retornar objeto de error si todo falla\n    return {\n      is_hair_photo: false,\n      error: true,\n      notes: \"No se pudo parsear la respuesta de Vision: \" + e.message,\n      raw_response: text.substring(0, 200)\n    };\n  }\n}\n\n// Obtener datos\nconst leadRow = $('Baserow List Rows').item.json;\nconst visionResponse = $input.item.json;\nconst textContent = visionResponse.content[0].text;\n\n// Extraer JSON de forma robusta\nconst imageAnalysis = extractJSON(textContent);\n\n// Construir state\nconst state = {\n  lead_id: leadRow.lead_id ? Number(leadRow.lead_id) : null,\n  chatwoot_id: leadRow.chatwoot_id ? Number(leadRow.chatwoot_id) : null,\n  conversation_id: leadRow.conversation_id ? Number(leadRow.conversation_id) : null,\n  \n  nick_name: nul(leadRow.nick_name),\n  full_name: nul(leadRow.full_name),\n  phone_number: nul(leadRow.phone_number),\n  \n  stage: val(leadRow.stage) || \"consulta\",\n  servicio_interes: nul(leadRow.servicio_interes),\n  interests: Array.isArray(leadRow.interests) ? leadRow.interests.map(val) : [],\n  \n  foto_recibida: !imageAnalysis.error,\n  waiting_image: imageAnalysis.error ? true : false,\n  presupuesto_dado: Boolean(leadRow.presupuesto_dado),\n  \n  image_analysis: imageAnalysis\n};\n\nreturn [{\n  json: {\n    row_id: leadRow.id,\n    state: state,\n    image_analysis: imageAnalysis\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -896
      ],
      "id": "d6c334a5-953c-4311-88c9-cbfc85ad8f49",
      "name": "ParseVisionResponse"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "model",
              "value": "crm.lead"
            },
            {
              "fieldName": "res_id",
              "value": "={{ $json.state.lead_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1952,
        -896
      ],
      "id": "de4a096c-adeb-4813-aba7-2d66af8097ea",
      "name": "Get Chat History from Lead1",
      "credentials": {
        "odooApi": {
          "id": "DHBH1iLumuDr9deF",
          "name": "Odoo-Felix"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function — Get Chat History from Lead (Odoo → limpio, sin mensajes \"system\", con lead_id)\n// Entrada: items con registros de mail.message de Odoo (cada uno tiene model/res_id/body/preview/...)\n// Salida: [{ json: { history:[{role,text,ts}], lead_id:Number|null, ...(event?) } }]\n\nconst items = $input.all();\n\n// 1) Intenta recuperar {event} si ya venía mergeado\nlet event = null;\nfor (const it of items) {\n  if (it.json && it.json.event) { event = it.json.event; break; }\n}\n\n// Helpers\nfunction cleanHtmlKeepStrong(s){\n  return String(s || \"\")\n    .replace(/<br\\s*\\/?>/gi, \"\\n\")\n    .replace(/<\\/?(?!strong\\b)\\w+[^>]*>/g, \"\") // deja <strong>, quita el resto\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction stripPrefixes(text, role){\n  let t = String(text || \"\").trim();\n  if (role === \"user\") {\n    t = t.replace(/^<strong>\\s*cliente:\\s*<\\/strong>\\s*/i, \"\")\n         .replace(/^cliente:\\s*/i, \"\");\n  } else if (role === \"assistant\") {\n    t = t.replace(/^<strong>\\s*⋆˚🧚‍♀️?\\s*leraysi:?\\s*<\\/strong>\\s*/i, \"\")\n         .replace(/^⋆˚🧚‍♀️?\\s*leraysi:?\\s*/i, \"\")\n         .replace(/^<strong>\\s*leraysi\\s*⋆˚🧚‍♀️?:?\\s*<\\/strong>\\s*/i, \"\")\n         .replace(/^leraysi\\s*⋆˚🧚‍♀️?:?\\s*/i, \"\");\n  }\n  return t.trim();\n}\n\nfunction inferRole(mm){\n  const messageType = String(mm.message_type || \"\").toLowerCase();\n  const isInternal  = Boolean(mm.is_internal);\n  const preview = String(mm.preview || \"\");\n  const body = String(mm.body || \"\");\n  if (messageType === \"notification\" || isInternal) return \"system\";\n  if (/^<\\s*strong>\\s*cliente\\s*:\\s*<\\/\\s*strong>/i.test(body) || /^cliente\\s*:/i.test(preview)) return \"user\";\n  if (/leraysi/i.test(body+preview) || /🧚‍♀️/.test(body+preview) || /⋆˚/.test(body+preview)) return \"assistant\";\n  if (messageType === \"comment\") return \"assistant\";\n  return \"assistant\";\n}\n\nfunction toIso(d){\n  try { return new Date(d).toISOString(); } catch { return new Date().toISOString(); }\n}\n\nfunction minuteBucket(iso){\n  const d = new Date(iso);\n  return isNaN(d) ? \"0\" : `${d.getUTCFullYear()}-${d.getUTCMonth()}-${d.getUTCDate()}-${d.getUTCHours()}-${d.getUTCMinutes()}`;\n}\n\n// 2) Mapear Odoo → history crudo (con id para dedupe) y recolectar posibles lead_ids (res_id)\n//    Filtra AQUÍ los 'system' para que no entren al historial.\nconst candidateLeadIds = [];\nlet raw = items.map(it => {\n  const mm = it.json || {};\n  if (mm && mm.model === 'crm.lead' && mm.res_id != null) {\n    const n = Number(mm.res_id);\n    if (Number.isFinite(n)) candidateLeadIds.push(n);\n  }\n  const role = inferRole(mm);\n  const textHtml = cleanHtmlKeepStrong(mm.body || mm.preview || \"\");\n  const text = stripPrefixes(textHtml, role);\n  const ts = toIso(mm.date || mm.create_date || new Date().toISOString());\n  return { role, text, ts, _id: mm.id || null };\n})\n.filter(h => h.text && h.role !== \"system\"); // <— elimina system aquí\n\n// 3) Deducción robusta de lead_id\nlet lead_id = null;\nif (candidateLeadIds.length) {\n  const freq = new Map();\n  for (const id of candidateLeadIds) freq.set(id, (freq.get(id) || 0) + 1);\n  lead_id = [...freq.entries()].sort((a,b) => b[1]-a[1])[0][0];\n} else if (event && event.lead_id != null) {\n  const ev = Number(event.lead_id);\n  lead_id = Number.isFinite(ev) ? ev : null;\n}\n\n// 4) Si no hay nada, usa el mensaje actual del evento (si existe)\nif (raw.length === 0 && event) {\n  const lastText = event?.message?.clean_text || event?.message?.text || \"\";\n  if (lastText.trim()) {\n    raw.push({ role: \"user\", text: lastText.trim(), ts: event.ts_utc || new Date().toISOString() });\n  }\n}\n\n// 5) Deduplicar (prioridad por id; si no hay id, usa hash por (role+text+minuto))\nconst seen = new Set();\nconst out = [];\nfor (const h of raw) {\n  const key = h._id ? `id:${h._id}` : `h:${h.role}:${h.text}:${minuteBucket(h.ts)}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  out.push(h);\n}\n\n// 6) Ordenar, filtrar system (doble seguro) y recortar\nconst onlyHuman = out.filter(h => h.role !== \"system\");\nonlyHuman.sort((a,b) => Date.parse(a.ts) - Date.parse(b.ts));\nconst history = onlyHuman.slice(-200).map(h => ({ role: h.role, text: h.text, ts: h.ts }));\n\n// 7) Salida: history + lead_id (+ event si venía)\nconst payload = event ? { event, history, lead_id } : { history, lead_id };\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        -896
      ],
      "id": "edcc9750-d32f-4a79-9115-32ba90252bcf",
      "name": "transform_ChatHistory_ImageFlow",
      "notes": "SYNC: Código duplicado en 'Chat History Filter' (flujo texto). Si modificás este código, actualizá el otro también."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2352,
        -688
      ],
      "id": "a9f9af0c-567d-4ac6-8044-a94fc4840186",
      "name": "HydrateForHistory_2"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// LOAD PROFILE (Image Flow) - v3 SIN DUPLICACIÓN\n// ============================================================================\n// Recibe: Output de ParseVisionResponse + Datos originales de Baserow\n// Output: { profile: {...con image_analysis...}, lead_id, row_id }\n// ============================================================================\n\n// Helper functions\nfunction num(x, d = 0) {\n  const n = Number(x);\n  return Number.isFinite(n) ? n : d;\n}\nfunction nul(x) {\n  return x === \"\" || x === undefined ? null : x;\n}\n\n// Obtener datos de ParseVisionResponse (último input)\nconst input = $input.first().json;\nconst imageAnalysis = input.image_analysis;\n\n// 🛡️ CRÍTICO: Obtener datos originales de Baserow\nconst baserowData = $(\"Baserow List Rows\").first().json;\n\nconsole.log(\"[LoadProfile-Image] Usando contadores de Baserow:\", {\n  services_seen: baserowData.services_seen,\n  prices_asked: baserowData.prices_asked,\n});\n\n// ============================================================================\n// NORMALIZAR DATOS DE BASEROW\n// ============================================================================\n\nconst country =\n  typeof baserowData.country === \"object\" && baserowData.country.value\n    ? baserowData.country.value\n    : baserowData.country || \"Argentina\";\n\nconst channel =\n  typeof baserowData.channel === \"object\" && baserowData.channel.value\n    ? baserowData.channel.value\n    : baserowData.channel || \"whatsapp\";\n\nconst stage =\n  typeof baserowData.stage === \"object\" && baserowData.stage.value\n    ? baserowData.stage.value\n    : baserowData.stage || \"consulta\";\n\nconst priority =\n  typeof baserowData.priority === \"object\" && baserowData.priority.value\n    ? baserowData.priority.value\n    : baserowData.priority || \"normal\";\n\n// Normalizar interests array\nlet interests = [];\nif (Array.isArray(baserowData.interests)) {\n  interests = baserowData.interests.map((i) =>\n    typeof i === \"object\" && i.value ? i.value : i,\n  );\n}\n\n// ============================================================================\n// CONSTRUIR PROFILE (estructura única, igual que ComposeProfile.js)\n// ============================================================================\n\nconst profile = {\n  // IDs (protegidos)\n  row_id: input.row_id,\n  lead_id: Number(baserowData.lead_id),\n  chatwoot_id: Number(baserowData.chatwoot_id),\n  chatwoot_inbox_id: baserowData.chatwoot_inbox_id,\n  conversation_id: Number(baserowData.conversation_id),\n\n  // Identidad\n  nick_name: nul(baserowData.nick_name),\n  full_name: nul(baserowData.full_name),\n  phone: nul(baserowData.phone_number),\n  email: nul(baserowData.email),\n\n  // Contexto\n  channel: channel,\n  country: country,\n  tz: baserowData.tz || \"-03:00\",\n\n  // Funnel\n  stage: stage,\n  priority: priority,\n  servicio_interes: nul(baserowData.servicio_interes),\n  interests: interests,\n\n  // Flags del salón (actualizados por imagen)\n  foto_recibida: true, // ← Actualizado: recibimos foto\n  presupuesto_dado: Boolean(baserowData.presupuesto_dado),\n  turno_agendado: Boolean(baserowData.turno_agendado),\n  turno_fecha: nul(baserowData.turno_fecha),\n  sena_pagada: Boolean(baserowData.sena_pagada),\n  waiting_image: false, // ← Actualizado: ya no esperamos\n\n  // Contadores (PLANOS, no anidados)\n  services_seen: num(baserowData.services_seen, 0),\n  prices_asked: num(baserowData.prices_asked, 0),\n  deep_interest: num(baserowData.deep_interest, 0),\n\n  // Últimos eventos\n  last_message: \"[Foto de cabello enviada]\",\n  last_message_id: null,\n  last_activity_iso: new Date().toISOString(),\n\n  // Cooldowns\n  email_ask_ts: nul(baserowData.email_ask_ts),\n  fullname_ask_ts: nul(baserowData.fullname_ask_ts),\n\n  // Análisis de imagen (incluido en profile)\n  image_analysis: imageAnalysis,\n};\n\nconsole.log(\"[LoadProfile-Image] ✅ Profile con image_analysis listo\");\n\n// ============================================================================\n// OUTPUT (sin duplicación - solo profile)\n// ============================================================================\n\nreturn [\n  {\n    json: {\n      profile,\n      lead_id: profile.lead_id,\n      row_id: profile.row_id,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -672
      ],
      "id": "30a8f07b-0a1f-4c02-a272-c3973d58e400",
      "name": "LoadProfileAndStateImage"
    },
    {
      "parameters": {
        "content": "",
        "height": 1792,
        "width": 2704,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        -992
      ],
      "typeVersion": 1,
      "id": "1b241528-eca8-48ac-89d2-6f70be482eab",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "description": "Consulta disponibilidad y agenda turnos para clientas del salón. \nParámetros requeridos:\n- nombre_clienta: nombre de la clienta\n- email: correo electrónico de la clienta\n- servicio: array con servicios a agendar (ej: [\"Tintura completa\"])\n- fecha_deseada: fecha en formato YYYY-MM-DD (ej: \"2025-12-21\")\n- precio: monto acordado en pesos\nParámetros opcionales:\n- clienta_id: ID del lead\n- telefono: número de WhatsApp\n- image_analysis: análisis de cabello si existe\n- lead_row_id: row ID para actualizar",
        "workflowId": {
          "__rl": true,
          "value": "wXyvKF0nCCvAxGFG",
          "mode": "list",
          "cachedResultUrl": "/workflow/wXyvKF0nCCvAxGFG",
          "cachedResultName": "Leraysi - Agente Calendario"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "llm_output": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('llm_output', ``, 'json') }}",
            "state": "={{ $('Input Main').first().json.state }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "llm_output",
              "displayName": "llm_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3392,
        368
      ],
      "id": "ef4a8fcb-156d-409c-8c7e-e8d4cafe7f89",
      "name": "agendar_turno_leraysi"
    },
    {
      "parameters": {
        "content": "## ---/// Audio and Image Zone ",
        "height": 880,
        "width": 2272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -976
      ],
      "typeVersion": 1,
      "id": "703d205f-5fa5-4f59-a78d-c29a11528406",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2976,
        128
      ],
      "id": "adf70e0b-109d-40bd-a48e-f569321600e4",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "SUw0YD5b2MOCmI7u",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -816,
        1216
      ],
      "id": "a95a21f3-2943-439c-a4f8-144e54396b22",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "SUw0YD5b2MOCmI7u",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "description": "Consulta horarios disponibles para un turno de salón de belleza. Devuelve opciones de horario para que la clienta elija antes de confirmar la reserva.\nParámetros requeridos:\n- modo: SIEMPRE \"consultar_disponibilidad\"\n- servicio: array con servicios (ej: [\"Manicura simple\"])\n- fecha_deseada: fecha en formato YYYY-MM-DD\n- precio: monto acordado\nParámetros opcionales:\n- hora_deseada: hora preferida en formato HH:MM\n- preferencia_horario: \"manana\" o \"tarde\"",
        "workflowId": {
          "__rl": true,
          "value": "wXyvKF0nCCvAxGFG",
          "mode": "list",
          "cachedResultUrl": "/workflow/wXyvKF0nCCvAxGFG",
          "cachedResultName": "Leraysi - Agente Calendario"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "llm_output": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('llm_output', ``, 'json') }}",
            "state": "={{ $('Input Main').first().json.state }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "llm_output",
              "displayName": "llm_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "958d228a-ffaa-4906-b47a-d507879775c4",
      "name": "consultar_disponibilidad_leraysi",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3568,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const MAX_ATTEMPTS = 3;\nconst currentAttempt = Number($execution.customData.get('masterAgentAttempt') || '1');\n$execution.customData.set('masterAgentAttempt', String(currentAttempt + 1));\n\nconst errorData = $input.first().json;\nconst errorMessage = errorData?.error?.message || errorData?.message || 'Unknown error';\nconsole.log(`[RetryController] Intento ${currentAttempt}/${MAX_ATTEMPTS} falló: ${errorMessage}`);\n\nreturn [{\n  json: {\n    attempt: currentAttempt,\n    maxAttempts: MAX_ATTEMPTS,\n    canRetry: currentAttempt < MAX_ATTEMPTS,\n    errorMessage\n  }\n}];"
      },
      "id": "f1a2b3c4-d5e6-4f78-9abc-def012345601",
      "name": "RetryController",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3568,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "retry-check",
              "leftValue": "={{ $json.canRetry }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-4f78-9abc-def012345602",
      "name": "RetryGate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3744,
        32
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "f1a2b3c4-d5e6-4f78-9abc-def012345603",
      "name": "RetryWait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4064,
        448
      ],
      "webhookId": "573f6fcb-7554-44cf-916f-6b7ac5258887"
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('Input Main').first().json;\nconsole.log('[RetryPassthrough] Restaurando userPrompt original para retry');\nreturn [{ json: originalInput }];"
      },
      "id": "f1a2b3c4-d5e6-4f78-9abc-def012345604",
      "name": "RetryPassthrough",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const retryInfo = $input.first().json;\nconst inputMainData = $('Input Main').first().json;\nconst originalState = inputMainData.state;\n\nconst fallbackText = '⋆˚🧝‍♀️ Disculpá mi amor, estoy teniendo un problemita técnico 😅 Podrías escribirme de nuevo en unos minutitos? Así te respondo como correspondé 💕';\n\nreturn [{ json: {\n  content_whatsapp: { content: fallbackText, message_type: 'outgoing', content_type: 'text' },\n  body_html: '<p>' + fallbackText + '</p>',\n  lead_id: originalState.lead_id,\n  row_id: originalState.row_id,\n  baserow_update: Object.assign({}, originalState, { notes: 'Error técnico - fallback enviado' }),\n  state: originalState,\n  meta: { timestamp: new Date().toISOString(), fallback: true, retryAttempts: retryInfo.maxAttempts, lastError: retryInfo.errorMessage }\n}}];"
      },
      "id": "f1a2b3c4-d5e6-4f78-9abc-def012345605",
      "name": "FallbackMessage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "checkIfMessageCreated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Welcome",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "checkIfMessageCreated": {
      "main": [
        [
          {
            "node": "checkIfClientMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfClientMessage": {
      "main": [
        [
          {
            "node": "If_Estado_!=_OFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfLeadAlreadyRegistered": {
      "main": [
        [
          {
            "node": "UpdatePayload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreatePayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateLeadOdoo": {
      "main": [
        [
          {
            "node": "UpdateLeadWithLead_Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createLeadBaserow": {
      "main": [
        [
          {
            "node": "CreatePayloadOdoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLeadWithLead_Id": {
      "main": [
        [
          {
            "node": "Create an item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an item": {
      "main": [
        [
          {
            "node": "AI Agent Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an item1": {
      "main": [
        [
          {
            "node": "ResponseType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings - Services": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store - Services",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Welcome",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings - Welcome": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Master AI Agent-Main": {
      "main": [
        [
          {
            "node": "Output Main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RetryController",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Agent Response": {
      "main": [
        [
          {
            "node": "ResponseType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register incoming message": {
      "main": [
        [
          {
            "node": "Get Chat History from Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History from Lead": {
      "main": [
        [
          {
            "node": "transform_ChatHistory_TextFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store - Services": {
      "ai_tool": [
        [
          {
            "node": "Master AI Agent-Main",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "transform_ChatHistory_TextFlow": {
      "main": [
        [
          {
            "node": "HydrateForHistory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Output Initial": {
      "main": [
        [
          {
            "node": "Create an item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Welcome": {
      "main": [
        [
          {
            "node": "Filter Output Initial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lead Row": {
      "main": [
        [
          {
            "node": "FindByChatwootId",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeForUpdate",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FindByChatwootId": {
      "main": [
        [
          {
            "node": "PickLeadRow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PickLeadRow": {
      "main": [
        [
          {
            "node": "MergeForUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeForUpdate": {
      "main": [
        [
          {
            "node": "checkIfLeadAlreadyRegistered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreatePayload": {
      "main": [
        [
          {
            "node": "createLeadBaserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatePayload": {
      "main": [
        [
          {
            "node": "UpdateLeadWithRow_Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreatePayloadOdoo": {
      "main": [
        [
          {
            "node": "CreateLeadOdoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLeadWithRow_Id": {
      "main": [
        [
          {
            "node": "ComposeProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComposeProfile": {
      "main": [
        [
          {
            "node": "UpdateDescription",
            "type": "main",
            "index": 0
          },
          {
            "node": "HydrateForHistory",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HydrateForHistory": {
      "main": [
        [
          {
            "node": "Input Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateEmailLead": {
      "main": [
        [
          {
            "node": "Record Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StatePatchLead": {
      "main": [
        [
          {
            "node": "UpdateEmailLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: NO_REPLY / Empty": {
      "main": [
        [
          {
            "node": "StatePatchLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Main": {
      "main": [
        [
          {
            "node": "Gate: NO_REPLY / Empty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RetryController",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Estado_!=_OFF": {
      "main": [
        [
          {
            "node": "MessageType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Inbound": {
      "main": [
        [
          {
            "node": "PushBufferEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buf_Flush": {
      "main": [
        [
          {
            "node": "Buf_SplitItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buf_FetchAll": {
      "main": [
        [
          {
            "node": "Ctrl_WindowDecision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ctrl_WaitSilence": {
      "main": [
        [
          {
            "node": "Buf_FetchAll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ctrl_WindowDecision": {
      "main": [
        [
          {
            "node": "Util_NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buf_Flush",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ctrl_WaitSilence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buf_SplitItems": {
      "main": [
        [
          {
            "node": "Buf_ParseJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buf_ParseJSON": {
      "main": [
        [
          {
            "node": "Buf_NormalizeParts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buf_NormalizeParts": {
      "main": [
        [
          {
            "node": "Buf_SortByTs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buf_SortByTs": {
      "main": [
        [
          {
            "node": "Buf_ConcatTexts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buf_ConcatTexts": {
      "main": [
        [
          {
            "node": "Buf_FinalizePayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buf_FinalizePayload": {
      "main": [
        [
          {
            "node": "Build Lead Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Main": {
      "main": [
        [
          {
            "node": "Master AI Agent-Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MessageType": {
      "main": [
        [
          {
            "node": "Baserow List Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DownloadAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadAudio": {
      "main": [
        [
          {
            "node": "TranscribeAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TranscribeAudio": {
      "main": [
        [
          {
            "node": "NormalizeTranscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NormalizeTranscription": {
      "main": [
        [
          {
            "node": "Normalize_Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResponseType": {
      "main": [
        [
          {
            "node": "GenerateAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ResponseChatwootText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateAudio": {
      "main": [
        [
          {
            "node": "ResponseChatwootAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResponseType1": {
      "main": [
        [
          {
            "node": "GenerateAudio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output to Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateAudio1": {
      "main": [
        [
          {
            "node": "ResponseChatwootAudio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateDescription": {
      "main": [
        [
          {
            "node": "Register incoming message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow List Rows": {
      "main": [
        [
          {
            "node": "IF_WaitingImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_WaitingImage": {
      "main": [
        [
          {
            "node": "GetImageFromChatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImageFromChatwoot": {
      "main": [
        [
          {
            "node": "ExtractBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractBase64": {
      "main": [
        [
          {
            "node": "VisionAnalyzeHair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VisionAnalyzeHair": {
      "main": [
        [
          {
            "node": "ParseVisionResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseVisionResponse": {
      "main": [
        [
          {
            "node": "Get Chat History from Lead1",
            "type": "main",
            "index": 0
          },
          {
            "node": "LoadProfileAndStateImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History from Lead1": {
      "main": [
        [
          {
            "node": "transform_ChatHistory_ImageFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform_ChatHistory_ImageFlow": {
      "main": [
        [
          {
            "node": "HydrateForHistory_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoadProfileAndStateImage": {
      "main": [
        [
          {
            "node": "HydrateForHistory_2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HydrateForHistory_2": {
      "main": [
        [
          {
            "node": "Input Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendar_turno_leraysi": {
      "ai_tool": [
        [
          {
            "node": "Master AI Agent-Main",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PushBufferEvent": {
      "main": [
        [
          {
            "node": "Buf_FetchAll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Master AI Agent-Main",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Welcome",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar_disponibilidad_leraysi": {
      "ai_tool": [
        [
          {
            "node": "Master AI Agent-Main",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RetryController": {
      "main": [
        [
          {
            "node": "RetryGate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetryGate": {
      "main": [
        [
          {
            "node": "RetryWait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FallbackMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetryWait": {
      "main": [
        [
          {
            "node": "RetryPassthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetryPassthrough": {
      "main": [
        [
          {
            "node": "Master AI Agent-Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FallbackMessage": {
      "main": [
        [
          {
            "node": "Gate: NO_REPLY / Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "sNNc2VUXCSt9nDER",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f0301f66-5617-4a9e-a6e0-26234f900ffb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139978cf5306b2088f2678ada72723ae1358f933aa7f201b1f1b735014d19bcf"
  },
  "id": "7WjUcj8Jms1Rmm1o",
  "tags": [
    {
      "updatedAt": "2026-02-04T17:36:59.816Z",
      "createdAt": "2025-11-22T14:50:50.701Z",
      "id": "TbLp68InL21vTdmh",
      "name": "leraysi-agent"
    }
  ]
}