repositories/sales-agent/qdrant-rag-backup/services-vectors.json
{
  "name": "Load Services",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "fefd79f2-f0a6-4b26-a601-06fdf732d9e0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "service",
                "value": "={{ $json.metadata }}"
              },
              {
                "name": "id",
                "value": "={{ $json.baseId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        368
      ],
      "id": "b986e6b1-258e-4217-8292-b5be119aff1d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        848,
        528
      ],
      "id": "f9be57a1-4205-41bc-8251-155d74265976",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "options": {
          "batchSize": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        368
      ],
      "id": "50419f62-5271-4b0a-acb0-816f3846f732",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xez5pcf77ZJRSNdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "services"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        816,
        160
      ],
      "id": "150fbece-a222-4ebb-8872-06ac58561d8f",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Jhuxh7GVQvmEPnwp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/services/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 12,\n  \"with_payload\": true,\n  \"with_vector\": false,\n  \"filter\": { \"must\": [ { \"key\": \"metadata.service.tags\", \"match\": { \"any\": [\"odoo\",\"integraciones\"] } } ] }\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        496
      ],
      "id": "e27ad8a7-46c8-492c-a8e3-35b37c226e77",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Create Collection Qdrant\n\n- Services (size: 1536)",
        "height": 304,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        384
      ],
      "typeVersion": 1,
      "id": "279b1986-82f8-4562-9ebc-94a71c8780b5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "databaseId": 4,
        "tableId": 720,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        304,
        160
      ],
      "id": "439a32e3-484a-495c-a5e1-7013f29cff9e",
      "name": "Get many rows",
      "credentials": {
        "baserowApi": {
          "id": "Uy274LWj78wGDPVF",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG (Baserow + Qdrant)\n**Services** ",
        "height": 576,
        "width": 1360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        96
      ],
      "typeVersion": 1,
      "id": "e491ceda-0bfb-4d06-8f84-0c4314670e48",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Input: items desde \"Get many rows\" (Baserow)\n// Output: items con { text, payload, metadata } limpios para RAG\n\nfunction val(x) {\n  // Select/multiselect de Baserow: queremos .value\n  if (x && typeof x === 'object' && 'value' in x) return x.value;\n  return x ?? '';\n}\n\nfunction arrValues(arr) {\n  if (!Array.isArray(arr)) return [];\n  return arr.map(v => val(v)).filter(Boolean);\n}\n\nfunction num(x) {\n  if (x == null) return null;\n  const n = Number(String(x).replace(/[, ]+/g, ''));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction int(x) {\n  if (x == null) return null;\n  const n = parseInt(String(x), 10);\n  return Number.isFinite(n) ? n : null;\n}\n\nconst out = items.map(item => {\n  const r = item.json || {};\n\n  const serviceId = r.ServiceId;\n  const slug = r.Slug;\n  const name = r.Name;\n\n  // Campos de texto que sí embebemos\n  const description      = r.Description || '';\n  const keyFeatures      = r.KeyFeatures || '';\n  const useCases         = r.UseCases || '';\n  const differentiators  = r.Differentiators || '';\n  const audience         = r.Audience || '';\n\n  // Texto canónico para embeddings (lo que irá al splitter)\n  const parts = [];\n  if (description)     parts.push(description);\n  if (keyFeatures)     parts.push(`Features: ${keyFeatures}`);\n  if (useCases)        parts.push(`Use cases: ${useCases}`);\n  if (differentiators) parts.push(`Differentiators: ${differentiators}`);\n  if (audience)        parts.push(`Audience: ${audience}`);\n  const text = parts.join('\\n\\n');\n\n  // Payload limpio (solo lo útil para filtros/UX)\n  const payload = {\n    service_id:    serviceId,\n    slug:          slug,\n    name:          name,\n    category:      val(r.Category),\n    pricing_model: val(r.PricingModel),\n    starting_price: num(r.StartingPrice),\n    sla_tier:      val(r.SLA_Tier),\n    audience:      audience || '',\n    status:        val(r.Status),\n    languages:     arrValues(r.Languages),\n    integrations:  arrValues(r.Integrations),\n    tags:          arrValues(r.Tags),\n    public_url:    r.PublicURL || '',\n    owner:         r.Owner || '',\n    updated_at:    r.UpdatedAt || '',\n    schema_v:      int(r.SchemaV),\n    source:        'baserow.Services',\n  };\n\n  // Sugerencia para id estable por chunk (lo construirá el Vector Store)\n  // Aquí solo pasamos el \"baseId\" para que lo uses como prefijo si hace falta.\n  const baseId = serviceId;\n\n  return {\n    json: {\n      // Campo que usará el Default Data Loader / Token Splitter\n      text,\n      // Metadatos para Qdrant (puedes mapearlo como \"payload\" o \"metadata\")\n      payload,\n      metadata: payload,\n      // Útil si quieres construir el id final `${service_id}:${chunk_idx}`\n      baseId,\n    },\n  };\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        160
      ],
      "id": "4b5f708e-1f78-4943-a746-8c2fbe38c43c",
      "name": "FilterJsonClean"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "FilterJsonClean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterJsonClean": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d445ad1-a88a-475e-9ef0-e344ff392923",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139978cf5306b2088f2678ada72723ae1358f933aa7f201b1f1b735014d19bcf"
  },
  "id": "xANuydj39gbbYkpU",
  "tags": []
}