repositories/n8n/workflows/leraysi-webhook-pago-confirmado.json
{
  "name": "Leraysi - Webhook Pago Confirmado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leraysi-pago-confirmado",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "leraysi-pago-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "event-check",
              "leftValue": "={{ $json.event }}",
              "rightValue": "payment_confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-payment-confirmed",
      "name": "IF Payment Confirmed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ODOO_MCP_URL }}/internal/mcp/call-tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tool\": \"leraysi_confirmar_pago_completo\",\n  \"arguments\": {\n    \"turno_id\": {{ $json.turno.id }},\n    \"mp_payment_id\": \"{{ $json.payment.mp_payment_id }}\",\n    \"lead_id\": {{ $json.turno.lead_id || 1 }},\n    \"email_override\": \"{{ $json.payment.payer_email || $json.turno.email }}\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-mcp-tool",
      "name": "Call MCP Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-service-token",
          "name": "MCP Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.BASEROW_API_URL }}/api/database/rows/table/{{ $env.BASEROW_TURNOS_TABLE_ID }}/{{ $json.turno.baserow_row_id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sena_pagada\": true,\n  \"estado\": \"confirmado\",\n  \"mp_payment_id\": \"{{ $('Webhook Trigger').item.json.payment.mp_payment_id }}\",\n  \"confirmado_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "update-baserow-turno",
      "name": "Update Baserow Turno",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "baserow-token",
          "name": "Baserow API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHATWOOT_API_URL }}/api/v1/accounts/{{ $env.CHATWOOT_ACCOUNT_ID }}/conversations/{{ $('Webhook Trigger').item.json.turno.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('Call MCP Tool').item.json.data.mensaje_whatsapp }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp via Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "chatwoot-token",
          "name": "Chatwoot API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'Payment processed', turno_id: $('Webhook Trigger').item.json.turno.id }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ignored', message: 'Not a payment_confirmed event' }) }}"
      },
      "id": "respond-ignored",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: $json.error?.message || 'Unknown error' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "IF Payment Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Payment Confirmed": {
      "main": [
        [
          {
            "node": "Call MCP Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call MCP Tool": {
      "main": [
        [
          {
            "node": "Update Baserow Turno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Baserow Turno": {
      "main": [
        [
          {
            "node": "Send WhatsApp via Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp via Chatwoot": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "leraysi-salon"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 0
}
